@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/mis/DistributorTransfer.js"></script>
<div ng-app="myApp" ng-controller="DTransferController" ng-class="{waiting: loadingstatus=='running'}">
    <div class="container-fluid">
        <div class="content">
            <div class="p-1"></div>
            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Distributor Transfer</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>From Distributor</label>
                                    <select autoShowHide="true" class="select2 serial form-control form-control-sm" all-ledger ng-model="beData.FromLedgerId" id="cboParty1" style="width:95%" ledgertype="3" fortransaction="true"
                                            placeholder="** Select Party Name **" showdetails="true" confirm-action="PartySelectionChange(beData)" ledger-detail="beData.PartyLedger" side-bar-data="beData.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="16"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To Distributor</label>
                                    <select autoShowHide="true" class="select2 serial form-control  form-control-sm" all-ledger ng-model="beData.ToLedgerId" id="cboParty2" style="width:95%" ledgertype="3" fortransaction="true"
                                            placeholder="** Select Party Name **" showdetails="true" confirm-action="PartySelectionChange(beData)" ledger-detail="beData.PartyLedger" side-bar-data="beData.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="16"></select>
                                </div>
                            </div>

                            <div class="col-md-8" >
                                <div class="form-group">
                                    <label for="">Outlet Code</label>
                                    <textarea class="form-control form-control-sm" rows="3" ng-model="beData.Code"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-8">
                        <div class="text-center control-btns">
                            <button type="button" class="btn btn-primary" ng-click="AddDistributorTransfer()">{{beData.Mode}}</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>