@{

    ViewBag.Title = "";
    Layout = null;
}

@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .bg-red, .bg-green {
        width: 240px;
        height: 240px;
    }

    .bg-red {
        background-color: red;
    }

    .bg-green {
        background-color: green;
    }

    #main-table td, #main-table th {
        width: 240px;
        text-align: center;
        vertical-align: middle;
    }

    #main-table td {
        height: 240px;
    }

    #main-table th {
        height: 70px;
        font-size: 36px !important;
        font-weight: 700;
        background-color: #e9ecef !important;
    }

    .os-theme-dark > .os-scrollbar-horizontal,
    .os-theme-light > .os-scrollbar-horizontal {
        right: 10px;
        height: 14px!important;
    }
</style>

<div class="table-scroll-x-y table-scroll" style="height:100%!important;">
    <table id="main-table" class="main-table table table-sm table-bordered bg-white">
        <thead>
            <tr>
                <th class="text-center" style="width: 240px; background-color: #e9ecef!important">Block1</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important">Block2</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important">Block3</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important">Block4</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block5</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block6</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block7</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block8</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block9</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block10</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block11</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block12</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block13</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block14</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block15</th>
                <th class="text-center" style="width: 240px; background-color: #e9ecef !important ">Block16</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>
            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>
            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>

            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>

            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>

            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>

            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>
            <tr>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
                <td class="bg-red"></td>
                <td class="bg-green"></td>
            </tr>

          
        </tbody>
    </table>
</div>
