
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")


<style>
    .dropdown-menu li.selected {
        background-color: #d9edf7;
    }

    .dropdown-menu {
        padding: 0;
        border: 1px solid #ccc;
    }

    .dropdown-header {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
        padding: 8px;
        border-bottom: 1px solid #ececec;
    }

        .dropdown-header label,
        .dropdown-menu li label {
            display: flex;
            align-items: flex-start;
            gap: 5px; /* Space between checkbox and label text */
            line-height: 1.2; /* Adjust line height for better readability */
        }

        .dropdown-header input[type="checkbox"],
        .dropdown-menu input[type="checkbox"] {
            flex-shrink: 0; /* Prevent the checkbox from resizing */
            margin-top: 2px; /* Align with the label text */
        }

    .dropdown-options {
        max-height: 250px; /* Set the desired height for the scrollable area */
        overflow-y: auto;
        padding: 8px;
    }

    .dropdown-menu li {
        padding: 5px; /* Add padding for better spacing between options */
    }

        .dropdown-menu li:hover {
            background-color: #f0f0f0; /* Highlight background on hover */
            border-radius: 4px;
        }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg" defer></script>
<script src="~/jslib/account/reporting/OutletMap.js"></script>

<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="OutLetMapController">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div id="day-book-section">
                        <div class="card p-2">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="d-flex">
                                        <label class="mr-2 mt-1">Route</label>
                                        <div class="dropdown">

                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text"> Select Route {{SelectedData.RouteCount}}</span>
                                                <span class="caret"></span>
                                            </button>
                                            @*<ul class="dropdown-menu p-2" style="width:260px">
                                                    <li> <input type="search" class="form-control form-control-sm" ng-model="searchData.Route" /></li>
                                                    <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                                    <li class="divider" style="border:1px solid #ececec"></li>
                                                    <li ng-repeat="r in RouteList |filter:searchData.Route"><a href="#"><label><input ng-change="ChangeRouteSelection()" name='options[]' type="checkbox" class="option justone" ng-model="r.IsSelected" /> {{r.Name}}-{{r.Code}}</label></a></li>
                                                </ul>*@

                                            <ul class="dropdown-menu p-2" style="width: 260px;">
                                                <li class="dropdown-header">
                                                    <input type="search" class="form-control form-control-sm" placeholder="Search..." ng-model="searchData.Route" />
                                                    <label class="pt-2">
                                                        <input type="checkbox" class="selectall" />
                                                        <span class="select-text">Select</span> All
                                                    </label>
                                                </li>
                                                <li class="p-0">
                                                    <ul class="dropdown-options p-0">
                                                        <li ng-repeat="r in RouteList |filter:searchData.Route"><a href="#"><label><input ng-change="ChangeRouteSelection()" name='options[]' type="checkbox" class="option justone" ng-model="r.IsSelected" />  {{r.Name}}-{{r.Code}}</label></a></li>

                                                    </ul>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="d-flex">
                                        <label class="mr-2 mt-1">Distributor</label>
                                        <div class="dropdown">

                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text"> Select Distributors  {{SelectedData.DistributorCount}}</span>
                                                <span class="caret"></span>
                                            </button>
                                            @*<ul class="dropdown-menu p-2" style="width: 260px">
                                                    <li> <input type="search" class="form-control form-control-sm" ng-model="searchData.Distributor" /></li>
                                                    <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                                    <li class="divider" style="border:1px solid #ececec"></li>
                                                    <li ng-repeat="r in DistributorColl |filter:searchData.Distributor"><a href="#"><label><input ng-change="ChangeDistributorSelection()" name='options[]' type="checkbox" class="option justone" ng-model="r.IsSelected" /> {{r.Name}}-{{r.Code}}</label></a></li>
                                                </ul>*@

                                            <ul class="dropdown-menu p-2" style="width: 260px;">
                                                <li class="dropdown-header">
                                                    <input type="search" class="form-control form-control-sm" placeholder="Search..." ng-model="searchData.Distributor" />
                                                    <label class="pt-2">
                                                        <input type="checkbox" class="selectall" />
                                                        <span class="select-text">Select</span> All
                                                    </label>
                                                </li>
                                                <li class="p-0">
                                                    <ul class="dropdown-options p-0">
                                                        <li ng-repeat="r in DistributorColl |filter:searchData.Distributor"><a href="#"><label><input ng-change="ChangeDistributorSelection()" name='options[]' type="checkbox" class="option justone" ng-model="r.IsSelected" />  {{r.Name}}-{{r.Code}}</label></a></li>
                                                    </ul>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="d-flex">
                                        <label class="mr-2 mt-1">Salesman</label>
                                        <div class="dropdown">

                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text"> Select Salesman  {{SelectedData.SalesmanCount}}</span>
                                                <span class="caret"></span>
                                            </button>
                                            @*<ul class="dropdown-menu p-2" style="width: 260px">
                                                    <li> <input type="search" class="form-control form-control-sm" ng-model="searchData.Salesman" /></li>
                                                    <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                                    <li class="divider" style="border:1px solid #ececec"></li>
                                                    <li ng-repeat="r in SalesManList |filter:searchData.Salesman"><a href="#"><label><input ng-change="ChangeSalesmanSelection()" name='options[]' type="checkbox" class="option justone" ng-model="r.IsSelected" /> {{r.Name}}-{{r.Code}}</label></a></li>
                                                </ul>*@

                                            <ul class="dropdown-menu p-2" style="width: 260px;">
                                                <li class="dropdown-header">
                                                    <input type="search" class="form-control form-control-sm" placeholder="Search..." ng-model="searchData.Salesman" />
                                                    <label class="pt-2">
                                                        <input type="checkbox" class="selectall" />
                                                        <span class="select-text">Select</span> All
                                                    </label>
                                                </li>
                                                <li class="p-0">
                                                    <ul class="dropdown-options p-0">
                                                        <li ng-repeat="r in SalesManList |filter:searchData.Salesman"><a href="#"><label><input ng-change="ChangeSalesmanSelection()" name='options[]' type="checkbox" class="option justone" ng-model="r.IsSelected" />  {{r.Name}}-{{r.Code}}</label></a></li>

                                                    </ul>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-primary load" style="float: right; min-width: 60px" data-toggle="tooltip" data-placement="top" title="" data-original-title="Load" ng-click="GetOutLet()" ng-disabled="loadingstatus=='running'"><i class="fas fa-download"> &nbsp;&nbsp;Load</i></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Map Embed -->
                                    <div style="height: calc(100vh - 8rem);">
                                        <div id="map"></div>
                                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.0359036252294!2d85.3326049754666!3d27.685285176195247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19ba5dea093d%3A0xe9179df873ff3a19!2sDynamic%20Technosoft%20Pvt.%20Ltd!5e0!3m2!1sen!2snp!4v1733288195512!5m2!1sen!2snp"
                                                    style="width: 100%; height: 100%; border: 0;"
                                                    allowfullscreen=""
                                                    loading="lazy"
                                                    referrerpolicy="no-referrer-when-downgrade">
                                            </iframe>*@
                                    </div>
                                    <!-- Full Screen Option -->
                                    <div class="text-center mt-2">
                                        <button class="btn btn-default"
                                                onclick="toggleFullScreen()">
                                            View Full Screen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>

</div>
<script>
    function toggleFullScreen() {
        const iframe = document.querySelector('iframe');
        if (iframe.requestFullscreen) {
            iframe.requestFullscreen();
        } else if (iframe.mozRequestFullScreen) { // Firefox
            iframe.mozRequestFullScreen();
        } else if (iframe.webkitRequestFullscreen) { // Chrome, Safari, and Opera
            iframe.webkitRequestFullscreen();
        } else if (iframe.msRequestFullscreen) { // IE/Edge
            iframe.msRequestFullscreen();
        }
    }
</script>
<script>
    $('body').on("click", ".dropdown-menu", function (e) {
        $(this).parent().is(".open") && e.stopPropagation();
    });

    $('body').on('click', '.selectall', function () {
        const $dropdown = $(this).closest('.dropdown-menu'); // Scope to the specific dropdown
        const isChecked = $(this).is(':checked');
        $dropdown.find('.option').prop('checked', isChecked); // Update options within the dropdown
        $dropdown.find('.option').closest('li').toggleClass('selected', isChecked); // Add/remove class
        updateSelectedCount($dropdown); // Pass the scoped dropdown
        $dropdown.find(".select-text").html(isChecked ? 'Deselect' : 'Select');
    });

    $('body').on('change', "input[type='checkbox'].justone", function () {
        const $dropdown = $(this).closest('.dropdown-menu'); // Scope to the specific dropdown
        const totalOptions = $dropdown.find("input[type='checkbox'].justone").length;
        const checkedOptions = $dropdown.find("input[type='checkbox'].justone:checked").length;

        $dropdown.find('.selectall').prop('checked', totalOptions === checkedOptions);
        $dropdown.find(".select-text").html(totalOptions === checkedOptions ? 'Deselect' : 'Select');

        $(this).closest('li').toggleClass('selected', $(this).is(':checked')); // Add/remove class
        updateSelectedCount($dropdown); // Pass the scoped dropdown
    });

    function updateSelectedCount($dropdown) {
        const total = $dropdown.find('input[name="options[]"]:checked').length; // Count within the dropdown
        $dropdown.prev('.dropdown-toggle').find(".dropdown-text").html(`(${total}) Selected`);
    }


    $('.dropdown-menu').on('keydown', 'input', function (e) {
        const focusableItems = $('.dropdown-menu').find('input:visible');
        const currentIndex = focusableItems.index(this);

        if (e.key === 'ArrowDown') {
            e.preventDefault();
            const nextIndex = (currentIndex + 1) % focusableItems.length;
            focusableItems.eq(nextIndex).focus();
        } else if (e.key === 'ArrowUp') {
            e.preventDefault();
            const prevIndex = (currentIndex - 1 + focusableItems.length) % focusableItems.length;
            focusableItems.eq(prevIndex).focus();
        } else if (e.key === 'Enter') {
            e.preventDefault();
            // Toggle the checkbox state
            $(this).prop('checked', !$(this).prop('checked')).trigger('change');
        }
    });


</script>

