@{ ViewBag.Title = "";
    Layout = null; }
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<style>
    .table-scroll-x-y {
        height: auto !important;
    }

    .hidden-column {
        display: none;
    }

    .table-sm td {
        padding: 0.35rem !important;
    }

    .input-group-sm > .form-control:not(textarea), .input-group-sm > .custom-select {
        height: calc(2px + 1.74844rem);
    }
</style>
<script src="~/jslib/menu.js"></script>
@*<script>
        var VoucherType = @ViewBag.VoucherType;
        var EntityId = @ViewBag.EntityId;
    </script>*@
<script src="~/jslib/mis/ProductPriceList.js"></script>
<div ng-app="myApp" ng-controller="ProductPriceController" ng-init="LoadData()" @*ng-init="GetAllProductPrice()*@>
    <div class="sale-page-wrap">
        <div class="overflow-hidden">

            <div class="content-wrapper-new">
                <div class="card mt-2">
                    <div class="p-1">
                        <div class="card p-0">
                            <div class="card-header pt-2 pb-0 header-corner-triangle overflow-hidden" style="border-bottom: 0px !important;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox1" ng-model="beData.showPurchaseRate">
                                                <label for="customCheckbox1"
                                                       class="custom-control-label">
                                                    Purchase Rate
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox2" ng-model="beData.showSalesRate">
                                                <label for="customCheckbox2"
                                                       class="custom-control-label">
                                                    Sales Rate
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox4" ng-model="beData.showMRP">
                                                <label for="customCheckbox4"
                                                       class="custom-control-label">
                                                    MRP
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox5" ng-model="beData.showCostingRate">
                                                <label for="customCheckbox5"
                                                       class="custom-control-label">
                                                    Costing Rate
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox3" ng-model="beData.showBatch" ng-change="toggleBatch('batch')">
                                                <label for="customCheckbox3"
                                                       class="custom-control-label">
                                                    Show Batch
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox6" ng-model="beData.showSerialNo" ng-change="toggleBatch('serial')">
                                                <label for="customCheckbox6"
                                                       class="custom-control-label">
                                                    Show Serial No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox7" ng-model="beData.showProductGroup">
                                                <label for="customCheckbox7"
                                                       class="custom-control-label">
                                                    Product Group
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox8" ng-model="beData.showProductType">
                                                <label for="customCheckbox8"
                                                       class="custom-control-label">
                                                    Product Type
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox9" ng-model="beData.showLastSalesRate">
                                                <label for="customCheckbox9"
                                                       class="custom-control-label">
                                                    Last Sales Rate
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                       id="customCheckbox10" ng-model="beData.showLastPurchaseRate">
                                                <label for="customCheckbox10"
                                                       class="custom-control-label">
                                                    Last Purchase Rate
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                       
                                        <div class="tab-content">
                                            <a href="~/Setup/Security/CompanyDetail" class="nav-link pt-2 toltip" target="_blank">
                                                <i class="fa fa-info-circle" style="font-size: 20px; color: #068abf;"></i>
                                                <p style="display:none;">Company Details</p>
                                                <span class="tooltiptext">Company Details</span>

                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <header class="row">
                            <div class="col-md-6">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ProductPrice">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ProductPrice">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="input-group input-group-sm mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Find:</span>
                                                </div>
                                                <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                <select class="form-control pr-0"
                                                        id="exampleFormControlSelect1">
                                                    <option>Contain</option>
                                                    <option>Prefix</option>
                                                </select>
                                            </div>
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="searchData.ProductPrice">

                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-6 text-right">
                                <form class="form-inline  float-right">
                                    <div class="input-group-prepend">
                                        <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset;
                                                 margin-right: -3px;  z-index: 1; " ng-model="newDet.SearchId">
                                            <option ng-repeat="S in SearchList" ng-value="S.id" ng-selected="newDet.SearchId==S.id">{{S.text}} </option>

                                        </select>

                                        <div class="input-group input-group-sm" style="width: 220px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="paginationOptions.ProductPrice">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown dnld-file"
                                         data-placement="top" title="Download File">
                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-download"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">Choose an option:</span>
                                            <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'ProductPriceList'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                            <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>

                                        </div>
                                        <a print-tbl table-id="'#main-table'" class="btn btn-secondary btn-light btn-sm wait"
                                           title="Print">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    </div>
                                </form>



                            </div>
                        </header>
                        <div class="table-scroll-x-y table-scroll" style="height:calc(100vh - 10.5rem)!important">
                            <table id="main-table" class="main-table table table-sm table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th class="cstm-sticky align-middle" rowspan="2" style="width: 250px; left: 0; z-index: 4;background-color:#ececec!important;">Product Name</th>
                                        <th class=" cstm-sticky align-middle" rowspan="2" style="width: 125px; left: 250px; z-index: 4; background-color: #ececec!important;">Code</th>
                                        <th class="align-middle" ng-class="{'hidden-column': !beData.showProductGroup}" rowspan="2" style="width: 180px; z-index: 2;background-color:#ececec!important;">Product Group</th>
                                        <th class="align-middle" ng-class="{'hidden-column': !beData.showProductType}" rowspan="2" style="width: 180px; z-index: 2;background-color:#ececec!important;">Product Type</th>
                                        <th class="align-middle" rowspan="2" style="width: 90px; z-index: 2;background-color:#ececec!important;">Unit</th>
                                        <th class="align-middle" rowspan="2" ng-class="{'hidden-column': !beData.showSerialNo}" style="width: 120px; z-index: 2;background-color:#ececec!important;">Serial No </th>
                                        <th class="align-middle" rowspan="2" ng-class="{'hidden-column': !beData.showBatch}" style="width: 100px; z-index: 2;background-color:#ececec!important;">Batch No</th>

                                        <th class="align-middle" rowspan="2" ng-class="{'hidden-column': !beData.showBatch}" style="width: 100px; z-index: 2;background-color:#ececec!important;">Expiry Date</th>

                                        <th ng-class="{'hidden-column': !beData.showPurchaseRate}" class="text-center" colspan="2" style="width: 205px; z-index: 2;background-color:#ececec!important;">Purchase</th>
                                        <th ng-class="{'hidden-column': !beData.showSalesRate}" class="text-center" colspan="2" style="width: 200px; z-index: 2;background-color:#ececec!important;">Sales</th>
                                        <th ng-class="{'hidden-column': !beData.showMRP}" class="text-center" colspan="2" style="width: 200px; z-index: 2;background-color:#ececec!important;">MRP</th>
                                        <th ng-class="{'hidden-column': !beData.showLastSalesRate}" class="align-middle" rowspan="2" style="width: 100px; z-index: 2;background-color:#ececec!important;">Last Sales Rate</th>
                                        <th ng-class="{'hidden-column': !beData.showLastPurchaseRate}" class="align-middle" rowspan="2" style="width: 100px; z-index: 2;background-color:#ececec!important;">Last Purchase Rate</th>

                                        <th class="align-middle" rowspan="2" style="width: 130px; z-index: 2;background-color:#ececec!important;">Costing Method</th>
                                        <th class="align-middle" rowspan="2" ng-class="{'hidden-column': !beData.showCostingRate}" style="width: 90px; z-index: 2;background-color:#ececec!important;">Costing Rate</th>

                                    </tr>
                                    <tr>
                                        <th ng-class="{'hidden-column': !beData.showPurchaseRate}" style="top:29px;z-index: 2; background-color: #ececec !important;">Date From</th>
                                        <th ng-class="{'hidden-column': !beData.showPurchaseRate}" style="top: 29px; z-index: 2; background-color: #ececec !important;">Purchase Rate</th>

                                        <th ng-class="{'hidden-column': !beData.showSalesRate}" style="top: 29px; z-index: 2; background-color: #ececec !important; ">Date From</th>
                                        <th ng-class="{'hidden-column': !beData.showSalesRate}" style="top: 29px; z-index: 2; background-color: #ececec !important; ">Sales Rate</th>
                                        <th ng-class="{'hidden-column': !beData.showMRP}" style="top: 29px; z-index: 2; background-color: #ececec !important; ">Date From</th>
                                        <th ng-class="{'hidden-column': !beData.showMRP}" style="top: 29px; z-index: 2; background-color: #ececec !important; ">MRP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="P in ProductPriceList| orderBy:sortKey:reverse | filter:searchData.ProductPrice| itemsPerPage:perPage.ProductPrice" current-page="currentPages.ProductPrice" pagination-id="ProductPricePagination">
                                        <td class="cstm-sticky" style="width: 250px; left: 0; z-index: 3; background-color: #fff">{{P.Name}}</td>
                                        <td class="cstm-sticky" style="width: 250px; left: 250px; z-index: 3; background-color: #fff">{{P.Code}}</td>
                                        <td ng-class="{'hidden-column': !beData.showProductGroup}">{{P.ProductGroup}}</td>
                                        <td ng-class="{'hidden-column': !beData.showProductType}">{{P.ProductType}}</td>
                                        <td class="text-center">{{P.BaseUnit}}</td>
                                        <td ng-class="{'hidden-column': !beData.showSerialNo}">{{P.SerialNo}}</td>
                                        <td ng-class="{'hidden-column': !beData.showBatch}">{{P.BatchNo}}</td>
                                        <td ng-class="{'hidden-column': !beData.showBatch}">{{P.ExpiryDate}}</td>
                                        <td ng-class="{'hidden-column': !beData.showPurchaseRate}">{{P.PurchaseDate}}</td>
                                        <td class="text-center" ng-class="{'hidden-column': !beData.showPurchaseRate}">{{P.PurchaseRate}}</td>

                                        <td ng-class="{'hidden-column': !beData.showSalesRate}">{{P.SalesDate}}</td>
                                        <td class="text-center" ng-class="{'hidden-column': !beData.showSalesRate}">{{P.SalesRate}}</td>

                                        <td ng-class="{'hidden-column': !beData.showMRP}">{{P.MRPDate}}</td>
                                        <td class="text-center" ng-class="{'hidden-column': !beData.showMRP}">{{P.MRPRate}}</td>
                                        <td ng-class="{'hidden-column': !beData.showLastSalesRate}" class="text-center">{{P.LastSalesRate}}</td>
                                        <td ng-class="{'hidden-column': !beData.showLastPurchaseRate}" class="text-center">{{P.LastPurchaseRate}}</td>
                                        <td>{{P.CostingMethod}}</td>
                                        <td class="text-center" ng-class="{'hidden-column': !beData.showCostingRate}">{{P.CostingRate}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="ProductPricePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

<script>
    function openInIframe(url) {
        var iframe = document.querySelector('iframe');
        if (iframe) {
            iframe.src = url;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $(document).keydown(function (event) {
            if (event.altKey && event.key.toLowerCase() === 'l') {
                event.preventDefault();
                $('a[href$="HRM/Creation/LeaveRequest"]')[0].click();
            }
        });

        $(document).keydown(function (event) {
            if (event.altKey && event.key.toLowerCase() === 'p') {
                event.preventDefault();
                //$('#salesmanTargetLink')[0].click();
                $('a[href$="/Account/Creation/SalesmanTarget"]')[0].click();
            }
        });
    });
</script>