
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table.table tbody th, .dynamic-uiux-table.table tbody td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
</style>
<link href="~/wwwroot/dynamic-erp/css/newCss.css" rel="stylesheet" />
<script src="~/jslib/AssetsManagement/AssetCodeMethod.js"></script>
<div id="ActionDiv" ng-app="myApp" ng-controller="AssetCodeMethodController" ng-init="LoadData()">
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body p-2">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        

                        <div class="tab-pane fade show active" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            <div>
                                <form class="mb-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Numbering Method <span class="text-danger">*</span> </label>
                                                <select class="form-control form-control-sm" ng-model="newDet.NumberingMethod">
                                                    <option ng-repeat="N in NumberingMethodColl" ng-value="N.id" ng-selected="N.id == newDet.NumberingMethod">{{N.text}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label> Company </label>
                                                <select class="form-control form-control-sm" ng-model="newDet.CompanyId">
                                                    <option ng-repeat="N in CompanyRelationshipList" ng-value="N.TranId" ng-selected="N.TranId == newDet.CompanyId">{{N.Name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Branch<span class="text-danger">*</span></label>
                                                <select class="form-control form-control-sm select2 Dplaceholder" ng-model="newDet.BranchId">
                                                    <option ng-value="pl.id" ng-repeat="pl in BranchList" ng-selected="pl.id==newDet.BranchId">{{pl.text}}</option>
                                                </select>
                                            </div>
                                        </div>

                                       
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label> Asset Type </label>
                                                <select class="form-control form-control-sm select2 ATplaceholder " ng-model="newDet.AssetTypeId">
                                                    <option ng-repeat="N in AssetTypeList" ng-value="N.AssetTypeId" ng-selected="N.AssetTypeId == newDet.AssetTypeId">{{N.TypeName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>  Asset Category </label>
                                                <select class="form-control form-control-sm select2 ACplaceholder" ng-model="newDet.AssetCategoryId">
                                                    <option ng-repeat="N in AssetCategoryList" ng-value="N.AssetCategoryId" ng-selected="N.AssetCategoryId == newDet.AssetCategoryId">{{N.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>   Fiscal Year </label>
                                                <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="newDet.CostClassId">
                                                <option ng-repeat="cc in CostClassColl" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == newDet.CostClassId">
                                                    {{cc.Name}}
                                                </option>
                                            </select>
                                               
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Prefix </label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Prefix">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Suffix </label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Suffix">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Start No <span class="text-danger">*</span> </label>
                                                <input type="number" class="form-control form-control-sm" ng-model="newDet.StartNo">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>PadWidth <span class="text-danger">*</span> </label>
                                                <input type="number" class="form-control form-control-sm" ng-model="newDet.PadWidth">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <footer class="main-footer">
                                    <div class="text-right control-btns">
                                        <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateAssetCodeMethod()"><span class="glyphicon glyphicon-save"></span>{{newDet.Mode}}</button>
                                    </div>
                                </footer>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/wwwroot/dist/js/cstmjs.js"></script>

