<link href="~/wwwroot/dynamic-erp/css/treeview.css" rel="stylesheet" />
<style>
    iframe#webpack-dev-server-client-overlay {
        display: none !important
    }

    .fullscreen-modal {
        width: calc(100vw - 2rem) !important;
        height: 96vh !important;
    }

        .fullscreen-modal .modal-content {
            height: 100%;
            border-radius: 0;
        }

    @@media (min-width: 576px) {
        .fullscreen-modal {
            max-width: 100vw !important;
            margin: 1.75rem auto;
        }
    }
</style>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="frmChield" role="dialog">
    <div class="modal-dialog modal-lg mdlchieldfrm modal-dialog-chieldfrm" role="document">
        <div class="modal-content">
            <div class="modal-header px-2 py-1">
                <h5 class="modal-title">@*Modal Title*@</h5>
                <div class="d-flex align-items-center">
                    <button type="button" id="maximizefrmChield" class="close1 btn btn-sm btn-outline-secondary">
                        <i class="fa fa-expand" style="font-size:20px"></i>
                    </button>
                    <button type="button" id="restorefrmChield" class="close1 btn btn-sm btn-outline-secondary d-none">
                        <i class="fa fa-compress" style="font-size:20px"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary ml-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times text-danger" style="font-size:20px"></i></span>
                    </button>
                </div>
            </div>

            <div class="modal-body mb-0 p-2">
                <iframe class="responsive-iframe" id="frmChieldForm" style="width: 100%; height: 700px; border: none;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="frmMDLTranRelation" role="dialog" aria-labelledby="exampleModalCenter2Title" aria-hidden="true" style="margin-top:20px">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 1.5px; padding-left: 12px;">
                <h6 class="modal-title" id="exampleModalCenterTitle">Transaction Relationship</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body gradient-bg">
                <div class="row" style="margin-top: -10px">
                    <div class="col-md-12 card p-2">
                        <div class="text-center">
                            <ul class="heirarchy vertical" style="max-width:auto">
                                <li>
                                    <div class="blue clickcursor" style="text-wrap:nowrap" title="SystemId: {{TranRelation.Parent.TranId}}">{{TranRelation.Parent.AutoManualNo}}<br />{{TranRelation.Parent.VoucherName}}<br />{{TranRelation.Parent.Branch}}</div>
                                    <ul>
                                        <li ng-repeat="tranR in TranRelation.ChieldColl">
                                            <div class="green clickcursor" ng-click="ShowTranVoucher(tranR.VoucherType,tranR.TranId)" style="text-wrap:nowrap" title="SystemId: {{tranR.TranId}}">{{tranR.AutoManualNo}}<br />{{tranR.VoucherName}}<br />{{tranR.Branch}}</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="padding: 3px; margin-top:2px; ">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" style="min-width:90px">Ok</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#maximizefrmChield").click(function () {
            $(".modal-dialog-chieldfrm").addClass("fullscreen-modal");
            $(this).addClass("d-none");
            $("#restorefrmChield").removeClass("d-none");
        });

        $("#restorefrmChield").click(function () {
            $(".modal-dialog-chieldfrm").removeClass("fullscreen-modal");
            $(this).addClass("d-none");
            $("#maximizefrmChield").removeClass("d-none");
        });
    });
</script>