    <!--Tran History List for Taging  Modal Starts -->
<div class="modal fade bd-example-modal-xl sales-invoice-page-modal" id="frmTranHistory">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header px-2">
                <h6 class="modal-title">Transaction History of {{CurItemAllocation.productDetail.Name}} -{{CurItemAllocation.productDetail.Code}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="px-2 py-1">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group d-flex">
                            <label class="mt-1" style="min-width:40px;">Find :</label>
                            <input class="form-control form-control-sm form-control-sidebar" type="search" placeholder="Search" aria-label="Search" ng-model="searchFields.TranHistory" />
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-lg-6">
                        <form class="float-right">
                            <div class="form-row align-items-center">
                                <div class="d-flex align-items-center">
                                    <label class="mr-sm-2 mb-0" for="inlineFormCustomSelect">Show</label>
                                    <input type="text" ng-model="perPage.TranHistory" class="form-control input-sm" placeholder="NoOfRows" @*ng-blur="ReSearchData(-2)"*@>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-body px-2 py-0">
                <div class="table-scroll">
                    <table class="main-table table-head-fixed  table table-sm table-bordered bg-white">
                        <thead>
                            <tr>
                                <th style="width: 100px;">Voucher No.</th>
                                <th style="width: 120px;">Date</th>
                                <th style="width: 200px;">Party</th>
                                <th style="width: 100px;">Qty</th>
                                <th style="width: 200px;">Rate</th>
                                <th style="width: 100px;">Amount</th>
                                <th style="width: 130px;">Batch</th>
                                <th style="width: 130px;">MFG Date</th>
                                <th style="width: 130px;">EXP Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="pl in CurItemAllocation.productDetail.TranHistoryColl|orderBy:sortKey:reverse|filter:searchFields.TranHistory|itemsPerPage:perPage.TranHistory" current-page="currentPages.TranHistory" pagination-id="TranHistoryPagination">
                                <td class="text-center">
                                    {{pl.VoucherNo}}
                                </td>
                                <td>{{pl.VoucherDate |dateFormat}}</td>
                                <td>{{pl.PartyName}}</td>
                                <td align="right">{{pl.Qty |number:2}}</td>
                                <td align="right">{{pl.Rate |number:2}}</td>
                                <td align="right">{{pl.Amount |number:2}}</td>
                                <td align="center">{{pl.BatchNo}}</td>
                                <td>{{pl.MFGDate  |dateFormat}}</td>
                                <td>{{pl.EXPDate  |dateFormat}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <dir-pagination-controls pagination-id="TranHistoryPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                    </dir-pagination-controls>
                </div>
            </div>

            <div class="p-2" style="border-top:1px solid #ccc">
                <div class="row">
                    <div class="col-md-6">
                        <label><b>Total Record : {{TranHistoryColl.length}}</b></label>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <button type="button" class="btn  p-1 btn-secondary" data-dismiss="modal" style="width:60px">Exit</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->