
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Hospitals/Appointment/NewAppointment.js"></script>
<div id="ActionDiv" ng-app="myApp" ng-controller="NewAppointment" ng-init="LoadData()">
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false" ng-click="ClearFields()">New Appointment</a>
                        </li>
                    </ul>
                </div>
                <div class="p-2">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade  show active" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab" ng-show="NewAppointmentForm">
                            <div>
                                <form>
                                    <div class="row">
                                        <div class=" row col-md-10">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.FirstName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Last Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.LastName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select class="form-control form-control-sm form-select" ng-model="newDet.GenderId">
                                                        <option ng-value="G.id" ng-repeat="G in GenderColl" ng-selected="G.id == newDet.GenderId">{{ G.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>DOB</label>
                                                    <input type="text" class="form-control form-control-sm" date-picker ng-model="newDet.DOB_TMP" date-detail="newDet.DOBDet" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Age (yy-mm-dd)</label>
                                                    <div class="d-flex gap-1">
                                                        <input type="number" class="form-control form-control-sm" placeholder="2020" ng-model="newDet.AgeYear">
                                                        <input type="number" class="form-control form-control-sm" placeholder="1" ng-model="newDet.AgeMonth">
                                                        <input type="number" class="form-control form-control-sm" placeholder="1" ng-model="newDet.AgeDay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Blood Group</label>
                                                    <select class="form-control form-control-sm select2"
                                                            ng-model="newDet.BloodGroupId">
                                                        <option ng-repeat="bg in BloodGroupList"
                                                                ng-value="bg"
                                                                ng-selected="bg == newDet.BloodGroup">
                                                            {{bg}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Ethnicity</label>
                                                    <select class="form-control form-control-sm form-select select2" ng-model="newDet.EthinicityId">
                                                        <option ng-value="E.EthinicityId" ng-repeat="E in EthinicityList" ng-selected="E.EthinicityId == newDet.EthnicityId">{{ E.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Marital Status</label>
                                                    <select class="form-control form-control-sm form-select" ng-model="newDet.MaritalStatusId">
                                                        <option ng-value="G.id" ng-repeat="G in MaritalStatusColl" ng-selected="G.id == newDet.MaritalStatusId">{{ G.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Spouse Name</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.SpouseName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Occupation</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Occupation">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Nationality</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Nationality">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Contact Number</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Contact">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Email Id</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Email">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>ID Type</label>
                                                    <select class="form-control form-control-sm form-select" ng-model="newDet.DocumentTypeId">
                                                        <option ng-value="D.DocumentTypeId" ng-repeat="D in DocumentTypeList" ng-selected="D.DocumentTypeId == newDet.DocumentTypeId">{{D.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>ID No</label>
                                                    <div class="row">
                                                        <div class="col-md-5 pr-0">
                                                            <div class="form-group">
                                                                <input type="text"  class="form-control form-control-sm" ng-model="newDet.IDNo">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-7 pl-0">
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="file" id="flMoreFiles" accept="image/*" file-model ng-model="attachFile" style="display: none">

                                                                <label for="flMoreFiles" class="btn btn-default btn-sm d-flex align-items-center justify-content-center mb-0"  title="Attach document"
                                                                       style="width:25px; height:28px;">
                                                                    <i class="fas fa-paperclip"></i>
                                                                </label>

                                                                <a class="p-1 d-flex align-items-center justify-content-center"  href="#"
                                                                   ng-click="ShowPersonalImg(newDet.Document)"
                                                                   data-toggle="tooltip"
                                                                   title="View doc">
                                                                    <i class="fas fa-eye text-secondary" ng-show="attachFile"></i>
                                                                </a>

                                                                <span class="ml-2 text-truncate">
                                                                    {{ newDet.Document.Name || "No File" }}
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Province</label>
                                                    <select class="form-control form-control-sm form-select select2" ng-model="newDet.ProvinceId">
                                                        <option ng-repeat="cl in ProvinceColl" ng-value="cl.id" ng-selected="cl.id== newDet.ProvinceId">
                                                            {{cl.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> District</label>
                                                    <select class="form-control form-control-sm form-select select2" ng-model="newDet.DistrictId">
                                                        <option ng-repeat="tdc in DistrictColl | filter: { stateId: newDet.ProvinceId }:true" ng-value="tdc.id" ng-selected="tdc.id==newDet.DistrictId">
                                                            {{tdc.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Local Level</label>
                                                    <select class="form-control form-control-sm form-select select2" ng-model="newDet.LocalLevelId">
                                                        <option ng-repeat="tdc in VDCColl| filter: { districtId: newDet.DistrictId }:true" ng-value="tdc.id" ng-selected="tdc.id==newDet.LocalLevelId">
                                                            {{tdc.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Full Address</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.PatientAddress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="person-photo-attachment-wrap text-center">
                                                <div class="img-wrap mx-auto">
                                                    <img ng-src="{{newDet.PhotoData || newDet.Photo }}" class="img-fluid" alt="" id="Photo" style="height:130px; width:165px; border:1px solid #ccc">
                                                </div>
                                                <label for="choose-sfile" type="button" class="btn btn-default mt-1 mb-0"><i class="fa fa-image"></i>Upload Image</label>
                                                <input id="choose-sfile" type="file" accept="image/*" style="display: none;" file-model ng-model="newDet.Photo_TMP" fileread="newDet.PhotoData" />
                                                <canvas id="canvas" width="320" height="240" style="display:none"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-left control-btns">
                                    <button type="button" class="btn btn-primary btn text-right" ng-click=" AddNewAppointment()"> <span class="glyphicon glyphicon-remove"></span> <i class="fas fa-plus"></i>  Add Appointment</button>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid" ng-show="ShowPatient">
                            <div class=" mb-1">
                                <!-- Patient Info -->
                                <div class="card p-1 my-2 px-2">
                                    <div class="row info-row mb-2">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-4 py-2">  <i class="fas fa-id-card"></i> Patient Reg.No : 12345  </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-user"></i>
                                                    Name : {{newDet.FirstName}} {{newDet.LastName}}
                                                </div>

                                                <div class="col-md-4 py-2">
                                                    <i class="fas fa-venus-mars"></i>  Age/Sex : {{newDet.AgeYear}}Y / {{newDet.GenderName}}
                                                </div>
                                                <div class="col-md-4 py-2">  <i class="fas fa-phone"></i>
                                                    Contact No : {{newDet.Contact}}
                                                </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-envelope"></i>
                                                    Email : {{newDet.Email}}
                                                </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-flag"></i>
                                                    Nationality : {{newDet.Nationality}}
                                                </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-tint"></i>
                                                    Blood Group : {{newDet.BloodGroupName}}
                                                </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-hashtag"></i>
                                                    Patient Id : {{newDet.PatientId}}
                                                </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-calendar-alt"></i>
                                                    Visit Date : {{newDet.VisitMitti}}
                                                </div>
                                                <div class="col-md-4 py-2"> <i class="fas fa-hourglass-half"></i>
                                                    Day Since Visit : {{newDet.DaySinceVisit}} days
                                                </div>
                                                <div class="col-md-4 py-2">  <i class="fas fa-map-marker-alt"></i>
                                                    Full Address : {{newDet.Address}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="person-photo-attachment-wrap text-center">
                                                <div class="img-wrap mx-auto">
                                                    <img ng-src="{{newDet.PhotoData || newDet.Photo }}" class="img-fluid" alt="" id="Photo" style="height:130px; width:165px; border:1px solid #ccc">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control form-control-sm select2" ng-model="newDet.DepartmentId">
                                                <option ng-value="T.CostCenterDepartmentId" ng-repeat="T in DepartmentList" ng-selected="T.CostCenterDepartmentId==newDet.DepartmentId">{{T.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Doctor</label>
                                            <select class="form-control form-control-sm form-select select2" ng-model="newDet.DoctorId">
                                                <option ng-repeat="D in DoctorList" ng-value="D.DoctorId" ng-selected="D.DoctorId== newDet.DoctorId">
                                                    {{D.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-12">
                <div class="search-toolbar mb-3 mt-2">
                    <table cellpadding="12" class=" main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                        <thead>
                            <tr>
                                <th style="width: 50px;">S.No</th>
                                <th style="width: 202px;">Session</th>
                                <th style="width: 150px ;">Time</th>
                                <th style="width: 150px ;">Quota</th>
                                <th style="width: 150px;">Available</th>
                                <th style="width: 150px ;">Book</th>
                                <th style="text-align:center" class="no-print " width="145px">Action</th>
                            </tr>
                        </thead>
                        <tbody>-->
                                    @*<tr ng-repeat="beData in PatientList">*@
                                    <!--<tr>
                <td>-->
                                    @*{{$index + 1}}*@
                                    <!--</td>
                    <td>Morning OPD</td>
                    <td>8AM-11AM</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="IsReturnable">
                                <label for="IsReturnable" class="custom-control-label" ng-model="newDet.IsReturnable"></label>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>-->
                                    @*{{$index + 1}}*@
                                    <!--</td>
                                    <td>Evening OPD</td>
                                    <td>2PM-6PM</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="col-md-3">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="IsReturnable">
                                                <label for="IsReturnable" class="custom-control-label" ng-model="newDet.IsReturnable"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Appointment Type</label>
                                            <select class="form-control form-control-sm form-select select2" ng-model="newDet.AppointmentTypeId">
                                                <option ng-repeat="A in AppointmentTypeList" ng-value="A.AppointmentTypeId" ng-selected="A.AppointmentTypeId== newDet.AppointmentTypeId">
                                                    {{A.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Booking Channel</label>
                                            <select class="form-control form-control-sm form-select select2" ng-model="newDet.AppointmentTypeId">
                                                <option ng-repeat="B in BookingChannelList" ng-value="B.BookingChannelId" ng-selected="B.BookingChannelId== newDet.BookingChannelId">
                                                    {{B.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Refered By</label>
                                            <input class="form-control form-control-sm" ng-model="newDet.ReferedBy" />
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Patient Remarks</label>
                                            <textarea rows="1" class="form-control form-control-sm" ng-model="newDet.PatientRemarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right ">
                                    <button type="button" class="btn btn-default" ng-click="BackToList()"> <span class="glyphicon glyphicon-remove"></span>   Back </button>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body mb-0 p-2">
                                        <iframe class="responsive-iframe" ng-hide="viewImg.FileType === 'image'" id="pdfViewer" style="width: 100%; height: 700px; border: none;"></iframe>
                                        <img ng-show="viewImg.FileType === 'image'" ng-src="{{viewImg.ContentPath}}" alt="" style="width: 100%; height: auto;" id="imgPreviewAdd">
                                    </div>
                                    <div class="modal-footer p-2">
                                        <div><a href="{{viewImg.ContentPath}}" download>Download</a></div>
                                        <button class="btn btn-success btn-rounded btn-sm ml-4 btn-add text-center" data-dismiss="modal" type="button" style="min-width: 70px;">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.responsive-iframe').onload = function () {
        const iframeDocument = this.contentDocument || this.contentWindow.document;
        const img = iframeDocument.querySelector('img');
        if (img) {
            img.style.width = '100%';
            img.style.height = 'auto';
        }
    };
</script>
