@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/service/reporting/DataImportExport.js"></script>
<div ng-app="myApp" ng-controller="DataImportExport" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllDataImportExport()">
    <div class="container-fluid">        
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header py-1">
                        <h5 class="mb-0">Export Data</h5>
                    </div>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group d-flex">
                                    <label class="mt-1 mr-2" style="width:155px;">Select Entity Name</label>
                                    <select class="form-control form-control-sm select2">
                                        <option value="1">Type 1</option>
                                        <option value="2">Type 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Period From</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control form-control-sm" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="float-right">To</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label>Voucher No From</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control form-control-sm" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label class="float-right">To</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn load btn-primary mt-2" style="width:120px;">Get Data</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn load btn-primary mt-2 float-right" style="width:120px;">Download Data</button>
                            </div>
                        </div>
                        <label class="mt-3">No of Data : </label>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header py-1">
                        <h5 class="mb-0">Import Data</h5>
                    </div>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group d-flex">
                                    <label class="mt-1 mr-2" style="width:160px;">Select Entity Name</label>
                                    <select class="form-control form-control-sm select2">
                                        <option value="1">Type 1</option>
                                        <option value="2">Type 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="file" class="form-control p-1" />
                            </div>
                        </div>
                        <div class="row mt-2">

                            <div class="col-md-8">
                                <select class="form-control form-control-sm select2">
                                    <option></option>
                                    <option value="1">Type 1</option>
                                    <option value="2">Type 2</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button class="btn load btn-default float-right">Show Not Found List</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn load btn-primary mt-2" style="width:120px;">Reset Data</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn load btn-primary mt-2 float-right" style="width:120px;">Import Data</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox1" value="option1">
                                    <label for="customCheckbox1"
                                           class="custom-control-label">Create Non Exists Master
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox float-right">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox2" value="option2">
                                    <label for="customCheckbox2"
                                           class="custom-control-label">Import Existing Voucher
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

        <div class="card p-2">
            <div id="datatable" style="height: calc(100vh - 16rem);width: 100%;" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>

