@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }

    .content-wrapper, .sale-page-wrap, .content {
        height: calc(100vh - calc(0.3125rem + 1px) - calc(3.5rem + 1px)) !important;
    }
</style>
<script>

    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.HMS_DischargeSlip)";
</script>
<script>
    TranID = @ViewBag.TranID;
</script>
<script src="~/jslib/hospital/DischargeSlipPrint.js"></script>


<div ng-app="myApp" ng-controller="DischargeSlipPrintController" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="p-1" id="admitcard">
                <div class="container-fluid mb-5">


                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group d-flex">
                                                    <img ng-src="{{CompanyDetail.CompanyLogoPath}}" class="img-fluid" alt="" id="imgPhoto1" style="height:120px; width:auto; border:1px solid #ccc" />
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="text-center">
                                                    <h3 class="mb-0" style="font-weight: 600; font-size: 25px;">{{CompanyDetail.Name}} </h3>
                                                    <h5 class="mb-0" style="font-weight: 500; font-size: 15px;">{{CompanyDetail.Address}}, {{CompanyDetail.Country}} </h5>
                                                    <h5 style="font-weight: 500; font-size: 15px;">{{CompanyDetail.PhoneNo}},{{CompanyDetail.EmailId}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>


                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">Discharge Slip No</label>
                                        <label>: <b>{{newDetDischargePrint.DischargeSlipNo}}</b></label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:100px">Patient Id</label>
                                        <label>: <b>{{newDetDischargePrint.PatientId}}</b></label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:170px">Discharge Slip Date</label>
                                        <label>: <b>{{newDetDischargePrint.DichargeSlipDateBS}}</b></label>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-header header-corner-triangle py-1" style="background-color: #1f5d9e30;">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="card-title">Patient Details</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body py-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">Patient Name </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.PatientName}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:70px">Age/Sex </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.AgeSex}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:100px">Department </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.Department}}</b></label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">Address </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.Address}}</b></label>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:70px">Ward </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.Ward}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:100px">Bed No </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.BedNo}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">Guardian Name </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.GuardianName}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:70px">Relation</label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.Relation}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:100px">Phone No </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.PhoneNo}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">Date of Admission </label>
                                        <label class="text-nowrap">: <b>{{newDetDischargePrint.DateAdmission }} {{newDetDischargePrint.InDateTime |timeFormat}}</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">Final Diagnosis</label>
                                        <label>: <b>{{newDetDischargePrint.FinalDiagnosis}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <label style="min-width:250px">Discharge Status</label>
                                        <label>: <b>{{newDetDischargePrint.DischargeStatus}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <label style="min-width:130px">History</label>
                                        <label>: <b>{{newDetDischargePrint.History}}</b></label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <label style="min-width:250px">Examination Finding On Admission</label>
                                        <label>: <b>{{newDetDischargePrint.ExaminationAdmission}}</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-header header-corner-triangle py-1" style="background-color: #1f5d9e30;">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="card-title">Investigation</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <div class="card table-scroll-x-y mb-3" style="height: auto !important; max-height: calc(100Vh - 18rem) !important; overflow: auto !important;">
                                            <table id="main-table" class="table table-sm table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="px-0 text-center" style="width: 40px; background-color: #ececec!important">S.No</th>
                                                        <th style="width: 200px; background-color: #ececec !important">Test</th>
                                                        <th style="width: 250px; background-color: #ececec !important">Result</th>
                                                        <th style="width: 250px; background-color: #ececec !important">Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="I in newDetDischargePrint.InvestigationDetailsColl">
                                                        <td class="align-middle text-center pl-0">{{$index+1}}</td>
                                                        <td class="mb-2">{{I.Test}}</td>
                                                        <td>{{I.Result}}</td>
                                                        <td>{{I.Remarks}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-header header-corner-triangle py-1" style="background-color: #1f5d9e30;">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="card-title">Medication</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <div class="card table-scroll-x-y mb-3" style="height: auto !important; max-height: calc(100Vh - 18rem) !important; overflow: auto !important;">
                                            <table id="main-table" class="table table-sm table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="px-0 text-center" style="width: 40px; background-color: #ececec!important">S.No</th>
                                                        <th style="width: 350px; background-color: #ececec !important">Medicine Name</th>
                                                        <th style="width: 350px; background-color: #ececec !important">Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="M in newDetDischargePrint.MedicationDetailsColl">
                                                        <td class="align-middle text-center pl-0">{{$index+1}}</td>
                                                        <td>
                                                            {{M.Name}}
                                                        </td>
                                                        <td>
                                                            {{M.MRemarks}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <label style="min-width:140px">Course In Hospital</label>
                                        <label>: <b>{{newDetDischargePrint.CourseInHospital}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <label style="min-width:250px">Condition At the time Of Discharge</label>
                                        <label>: <b>{{newDetDischargePrint.ConditionTimeDischarge}}</b></label>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>



                    <div class="card" style="border: 1px solid #11101052">
                        <div class="card-header header-corner-triangle py-1" style="background-color: #1f5d9e30;">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="card-title">Next Followup</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label style="min-width:140px">Date</label>
                                        <label>: <b>{{newDetDischargePrint.NextFollowupDateBS}}</b></label>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-flex">
                                        <label style="min-width:45px">Time</label>
                                        <label>: <b>{{newDetDischargePrint.NextFollowupTime | timeFormat}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group d-flex">
                                        <label style="min-width:70px">Advice</label>
                                        <label>: <b>{{newDetDischargePrint.Advice}}</b></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <label style="min-width:140px">Recommendation</label>
                                        <label>: <b>{{newDetDischargePrint.Recommendation}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <label style="min-width:140px">Medications</label>
                                        <label>: <b>{{newDetDischargePrint.Medications}}</b></label>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="card p-2" style="border: 1px solid #11101052">

                        <div class="p-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label class="text-primary" style="min-width:145px"><b>Prepared By</b></label>
                                        <label>: <b>{{newDetDischargePrint.PreparedBy}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <label class="text-primary" style="min-width:110px"><b>Checked By</b></label>
                                        <label>: <b>{{newDetDischargePrint.CheckedBy}}</b></label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group d-flex">
                                        <h6 class="text-primary" style="min-width:110px"><b>Approved By</b></h6>
                                        <label>: <b>{{newDetDischargePrint.ApprovedBy}}</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="text-center main-footer" style="color:#ffffff">
                <a href="~/Hospital/Transaction/DischargeSlip" ng-show="newDetDischargePrint.TranId != null" class="btn btn-sm btn-secondary load">
                    {{newDetDischargePrint.Mode}}
                </a>
                <a ng-show="newDetDischargePrint.TranId != null" class="btn btn-sm btn-success load" ng-click="Print()">
                    Print
                </a>
            </div>


            <!--Search  Modal Starts-->
            <div class="modal fade" id="SearchModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="overflow:auto">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document" style="min-width:1050px!important;">
                    <div class="modal-content">
                        <div class="modal-header p-2">
                            <h5 class="modal-title" id="exampleModalLongTitle"><b>Patient DischargeList</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-2">
                            <header class="row">
                                <div class="col-md-6">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Show</span>
                                                </div>
                                                <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.DischargeSlip">
                                                    <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.DischargeSlip">{{pp.text}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white"><small>entries</small></span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar" type="search"
                                                       placeholder="Search" aria-label="Search" ng-model="searchData.DischargeSlip">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0" type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end col-md-8 -->
                                <div class="col-md-6 text-right">
                                    <form class="form-inline  float-right">

                                        <div class="dropdown dnld-file"
                                             data-placement="top" title="Download File">
                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-download"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                            </div>
                                        </div>
                                        <a print-tbl table-id="'#main-table'" class="btn btn-secondary btn-light btn-sm ml-2"
                                           title="Print">
                                            <i class="fas fa-print"></i>
                                        </a>

                                    </form>



                                </div>
                            </header>
                            <div class="">
                                <table id="datatable" class="main-table table table-sm table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 125px;">Discharge Slip No</th>
                                            <th style="width: 110px;">Discharge Date</th>
                                            <th style="width: 130px;">Patient Id</th>
                                            <th style="width: 200px;">Name</th>
                                            <th style="width: 200px;">Address</th>
                                            <th style="width: 100px;">Department</th>
                                            <th style="width: 120px;">Date Of Adm.</th>
                                            <th style="width: 70px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="V in DischargeSlipList | filter:searchData.DischargeSlip | itemsPerPage: perPage.DischargeSlip" current-page="currentPages.DischargeSlip" pagination-id="DischargeSlipPagination">
                                            <td>{{V.DischargeSlipNo}}</td>
                                            <td>{{V.DischargeDate}}</td>
                                            <td>{{V.PatientId}}</td>
                                            <td>{{V.Name}}</td>
                                            <td>{{V.Address}}</td>
                                            <td>{{V.Department}}</td>
                                            <td>{{V.DateOfAdmission}}</td>
                                            <td>
                                                <a class="p-1" ng-click="GetBranchById(V)">
                                                    <i class="fas fa-edit text-info"></i>
                                                </a>
                                                <a class="p-1" ng-click="DelBranchById(V)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <footer class="row align-items-center">
                                <div class="col-md-12">
                                    <dir-pagination-controls pagination-id="DischargeSlipPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                </div>
                            </footer>
                        </div>

                    </div>
                </div>
            </div>
            <!--Search Modal Ends-->
        </div>
    </div>

    @*@RenderPage("~/Global/_ReportTemplates.cshtml")
        @RenderPage("~/Views/Global/_IsValidTran.cshtml")*@
</div>
