@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/account/creation/ServiceAppointment.js"></script>

<div ng-app="myApp" ng-controller="ServiceAppointment" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllSalesMan()">
    <div class="container-fluid">
        <div class="content">
            <div class="card">
                <div class="card-header header-corner-triangle py-1">                   
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title">Service Appointment</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex float-right">
                                <label class="mt-1">Branch</label>
                                <select class="form-control form-control-sm ml-2">
                                    <option>Birgunj Branch</option>
                                    <option>Kathmandu Branch</option>
                                    <option>Myagdi Branch</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body py-2">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Customer</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-sm select2">
                                            <option>Birgunj Branch</option>
                                            <option>Kathmandu Branch</option>
                                            <option>Myagdi Branch</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Customer Name</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.CustomerName" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Customer Address</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.CustomerAddress"readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Mobile No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.MobileNo"readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Model Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.ModelName"readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Date of Sale</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.dateofsale"readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>HMR</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.hmr"readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Engine No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.EngineNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Chassis No</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.ChassisNo">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Vin No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.VinNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Regd.No</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.RegdNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Appointment Type</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-sm select2">
                                            <option>Type 1</option>
                                            <option>Type 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Appointment Date</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.AppointmentDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Remarks</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <footer class="main-footer">
                        <div class="text-right control-btns">
                            <button type="button" class="btn btn-default" ng-click="ClearFields()">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="AddServiceAppointment()">Save</button>
                        </div>

                    </footer>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>