

@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<link href="~/wwwroot/dynamic-erp/css/stock-flow.css" rel="stylesheet" />
<script src="~/jslib/GateMaster/ReOrderStockLevel.js"></script>

<div id="ActionDiv" ng-app="myApp" ng-controller="ReOrderStockLevelController" ng-init="LoadData()">
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade show active bg-white"
                         id="custom-tabs-four-home"
                         role="tabpanel"
                         aria-labelledby="custom-tabs-four-home-tab">
                        <div class="card-body p-2">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <div class="tab-pane fade show active bg-white" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                    <div class="row">
                                        <div class="col-md-6 mt-0">
                                            <div class="cstm-voucher-date-group-field d-flex">
                                                <label style="min-width:100px!important" title="GoDown">GoDown</label>
                                                <select class="form-control form-control-sm pl-0 select2" ng-model="newDet.GodownId">
                                                    <option ng-repeat="A in GodownList" ng-value="A.id"> {{A.text}} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2 table-scroll-x-y table-container " style="height:calc(100vh - 25rem) !important;">
                                        <div class="  outer-scroll-wrapper-h-scrollbar-fix">
                                            <div class="  table-h-scrollbar-fix table-scroll-wrapper">
                                                <table id="main-table" make-table-resizable class=" main-table table table-sm table-bordered bg-white cstm-sales-invoice-table border-0 dynamic-uiux-table">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2" style="width:30px;" class="align-middle">S.No.</th>
                                                            <th rowspan="2" style="width:110px" class="align-middle">Product</th>
                                                            <th rowspan="2" style="width:110px" class="align-middle">Lead Time Days</th>
                                                            <th colspan="2" class="text-middle text-center" style="width:220px;">  Stock </th>
                                                            <th rowspan="2" style="width:50px;text-align:center;" class="align-middle">IsActive</th>
                                                            <th rowspan="2" style="width:50px;text-align:center;" class="align-middle">Action</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="width:110px" class="text-center">Min</th>
                                                            <th style="width:110px" class="text-center">Max</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="pDet in newDet.ReOrderStockLevelColl">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="pDet.ProductId" style="width:100%"
                                                                     placeholder="** Select Product  **" showdetails="true"  product-detail="pDet.productDetail"
                                                                confirm-action="ProductSelectionChange(itemDet)" side-bar-data="pDet.sideBarData"></select>

                                                                @*<select class="form-control form-control-sm " active-select2 ng-model="pDet.ProductId">
                                                                    <option ng-value="">**Select Product**</option>
                                                                    <option ng-value="tt.ProductId" ng-repeat="tt in ProductList" ng-selected="tt.ProductId==pDet.ProductId">{{tt.Name}}</option>
                                                                </select>*@
                                                            </td>
                                                            <td>  <input type="text" class="form-control form-control-sm" ng-model="pDet.LeadTimeDays"> </td>
                                                            <td> <input type="text" class="form-control form-control-sm text-center" ng-model="pDet.MinStock"> </td>
                                                            <td> <input type="text" class="form-control form-control-sm text-center" ng-model="pDet.MaxStock"> </td>
                                                            <td class="text-center">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"
                                                                           id="IsActiveP{{$index+1}}" ng-model="pDet.IsActive">
                                                                    <label for="IsActiveP{{$index+1}}"
                                                                           class="custom-control-label">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td style="text-align:center">
                                                                <a class="p-1" ng-click="AddPHDDet($index)">
                                                                    <i class="fas fa-plus text-secondary"></i>
                                                                </a>

                                                                <a class="p-1" ng-click="delPHDDet($index)">
                                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                <footer class="main-footer">
                                                    <div class="text-right control-btns">
                                                        <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateReOrderStockLevel()"><span class="glyphicon glyphicon-save"></span>Save</button>
                                                    </div>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/wwwroot/dist/js/cstmjs.js"></script>

