
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/inventory/creation/AgentNumbering.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AgentNumberingController" ng-init="LoadData()">
    <div class="sale-page-wrap" data-bind="nextFieldOnEnter:true">
        <div class="overflow-hidden">

            <div class="content-wrapper">
                <section class="mt-2">
                    <div class="container-fluid">
                        <section class="iframe-content-starts-here">
                            <div class="row mb-1">
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm table-search-filed">
                                        <input class="form-control form-control-navbar" type="search"
                                               placeholder="Search" aria-label="Search" ng-model="searchData.Level" style="width:250px">
                                        <div class="input-group-append">
                                            <button class="btn btn-default border-left-0" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <button class="btn btn-sm btn-primary float-right" ng-click="UpdateAgentNumbering()"><i class="fas fa-save mr-2"></i>Save</button>
                                </div>
                            </div>
                            <div class="table-scroll-x-y  table-scroll mb-4">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 45px">S.No</th>
                                            <th style="width: 150px">Level</th>
                                            <th style="width: 150px">Numbering Method</th>
                                            <th style="width: 150px">Prefix</th>
                                            <th style="width: 150px">Suffix</th>
                                            <th style="width: 150px">Start Number</th>
                                            <th style="width: 150px">Numerical Part Width</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="G in LevelList|filter:searchData.Level">
                                            <td class="text-center">{{$index+1}}</td>
                                            <td>{{G.LevelName}}</td>
                                            <td>
                                                <select class="form-control form-control-sm" ng-model="G.NumberingMethod">
                                                    <option ng-repeat="N in NumMethodList" ng-value="N.id" ng-selected="G.NumberingMethod==N.id">{{N.text}}</option>
                                                </select>
                                            </td>
                                            <td><input type="text" class="form-control form-control-sm" ng-model="G.Prefix" /></td>
                                            <td><input type="text" class="form-control form-control-sm" ng-model="G.Suffix" /></td>
                                            <td><input type="number" class="form-control form-control-sm" ng-model="G.StartNumber" /></td>
                                            <td><input type="number" class="form-control form-control-sm" ng-model="G.NumericalPartWidth" /></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <!-- table end -->
                            </div>
                        </section>
                        <!-- /.row -->
                    </div>
                    <!--/. container-fluid -->
                </section>
                <!-- /.content -->

            </div>
        </div>
    </div>
</div>

