@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div class="content">
    <div class="container-fluid">

        <div class="card p-2">
            <div class="row mt-2 mb-3 d-flex">
                <div class="col-sm-6">
                    <div class="form-group d-flex">
                        <label for="name" class="pr-2 mt-1">Find</label>
                        <select class="form-control form-control-sm select2 ml-2"
                                style="width:18%; background-color:#e8e8e8;">
                            <option selected="selected">Cortai</option>
                            <option></option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <input type="text" class="form-control form-control-sm" style="width:30%;">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group d-flex justify-content-end">
                        <label for="name" class="pr-2 mt-1">Search By</label>
                        <select class="form-control form-control-sm select2 ml-2"
                                style="width:20%; background-color:#e8e8e8;">
                            <option selected="selected">Name</option>
                            <option></option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <input type="text" class="form-control form-control-sm" style="width:30%;">
                    </div>
                </div>
            </div>
            <table id="maintable" class="table table-bordered table-hover table-sm  ">
                <thead>
                    <tr style="text-align:center;font-weight:bold;background-color:#e8e8e8;">
                        <th class="col-sm-2">
                            Name
                        </th>
                        <th class="col-sm-1">
                            EngineNo
                        </th>
                        <th class="col-sm-2">
                            ChesisNo
                        </th>
                        <th class="col-sm-1">
                            Model
                        </th>
                        <th class="col-sm-1">
                            Color
                        </th>
                        <th class="col-sm-1">
                            Group
                        </th>
                        <th class="col-sm-2">
                            Last Update
                        </th>
                        <th class="col-sm-1">
                            Rate
                        </th>
                        <th class="col-sm-1">
                            Qty
                        </th>
                    </tr>
                </thead>
                <tr style="text-align:center">
                    <td>Tesla</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <footer class="main-footer">
                <div class="text-right control-btns">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click=""
                            style="font-size: 15px;">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-click=""
                            style="font-size: 15px;">
                        Edit
                    </button>
                    <button type="button" class="btn btn-primary btn-sm " ng-click=""
                            style="font-size: 15px;">
                        Save
                    </button>
                </div>
            </footer>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>