
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/inventory/creation/FixedUnit.js"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="FixedUnitController" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div>
                    <div class="card p-2">
                        <div class="p-2 card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">UnitId1</label>
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newDet.UnitId1">
                                            <option ng-value="u.UnitId" ng-repeat="u in UnitColl" ng-selected="u.UnitId==newDet.UnitId1">{{u.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">UnitId2</label>
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newDet.UnitId2">
                                            <option ng-value="u.UnitId" ng-repeat="u in UnitColl" ng-selected="u.UnitId==newDet.UnitId2">{{u.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">UnitId3</label>
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newDet.UnitId3">
                                            <option ng-value="u.UnitId" ng-repeat="u in UnitColl" ng-selected="u.UnitId==newDet.UnitId3">{{u.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">UnitId4</label>
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newDet.UnitId4">
                                            <option ng-value="u.UnitId" ng-repeat="u in UnitColl" ng-selected="u.UnitId==newDet.UnitId4">{{u.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">UnitId5</label>
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="newDet.UnitId5">
                                            <option ng-value="u.UnitId" ng-repeat="u in UnitColl" ng-selected="u.UnitId==newDet.UnitId5">{{u.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                                           
                            </div>
                        </div>

                        <div class="time-label pb-3 mt-4">
                            <span class="d-block border-0 text-center">
                                <button type="button" class="btn btn-sm btn-default load" style="min-width: 90px;" ng-click="ClearFixedUnit()">Reset</button>
                                <button type="button" class="btn btn-sm btn-info load" style="min-width: 90px;" ng-click="SaveFixedUnit()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


