
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div class="content">
    <div class="container-fluid">
        <div class="card p-2">
            <div class="row border-bottom mt-3 mb-3 d-flex">
                <div class="col-sm-4">
                    <div class="form-group d-flex mb-3">
                        <label for="name" class="pr-2 mt-1">Base Unit</label>
                        <select class="form-control form-control-sm select2 ml-2"
                                style="width:50%; background-color:#e8e8e8;">
                            <option selected="selected"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group d-flex">
                        <label for="name" class="pr-2 mt-1">Costing Method</label>
                        <select class="form-control form-control-sm select2 ml-2"
                                style="width:50%; background-color:#e8e8e8;">
                            <option selected="selected"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group d-flex">
                        <label for="name" class="pr-2 mt-1">Market Valuation Method</label>
                        <select class="form-control form-control-sm select2 ml-2"
                                style="width:45%; background-color:#e8e8e8;">
                            <option selected="selected"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">
                    <div class="form-group d-flex">
                        <label>Vat Rate</label>
                        <input type="text" class="form-control form-control-sm ml-2" style="width: 50%;">
                    </div>
                    <div class=" form-group mt-2">
                        <label class="mr-2">Ignore Negative Bal:</label>
                        <input type="radio" id="ig" name="ig" value="ig">
                        <label for="ig">Yes</label>
                        <input type="radio" id="ig" name="ig" value="ig">
                        <label for="ig">No</label>
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-5">Use Mfg Date:</label>
                        <input type="radio" id="mfg" name="mfg" value="mfg">
                        <label for="mfg">Yes</label>
                        <input type="radio" id="mfg" name="mfg" value="mfg">
                        <label for="mfg">No</label>
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-2">Show Costing Rate:</label>
                        <input type="radio" id="yes" name="cost" value="cost">
                        <label for="cost">Yes</label>
                        <input type="radio" id="no" name="cost" value="cost">
                        <label for="no">No</label>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group d-flex">
                        <label>Ex.Duty</label>
                        <input type="text" class="form-control form-control-sm ml-2" style="width: 50%;">
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-2">Maintain In Batch:</label>
                        <input type="radio" id="yes" name="maintain" value="maintain">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="maintain" value="maintain">
                        <label for="no">No</label>
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-4">Use Exp Date:</label>
                        <input type="radio" id="yes" name="expdate" value="yes">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="expdate" value="no">
                        <label for="no">No</label>
                    </div>


                </div>
                <div class="col-sm-3">
                    <div class="form-group d-flex">
                        <label>salesCC Rate</label>
                        <input type="text" class="form-control form-control-sm ml-2" style="width: 50%;">
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-2">Can Edit Rate:</label>
                        <input type="radio" id="yes" name="editrate" value="yes">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="editrate" value="no">
                        <label for="no">No</label>
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-4">Show MRP:</label>
                        <input type="radio" id="yes" name="mrpshow" value="yes">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="mrpshow" value="no">
                        <label for="no">No</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="vat" name="vat" class="mr-2">
                        <label for="vat">Include Vat</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group d-flex justify-content-end">
                        <label>purchaseCC Rate</label>
                        <input type="text" class="form-control form-control-sm ml-2" style="width: 50%;">
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-2">Show Trade Rate:</label>
                        <input type="radio" id="yes" name="traderate" value="yes">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="traderate" value="no">
                        <label for="no">No</label>
                    </div>
                    <div class="form-group mt-2">
                        <label class="mr-2">Show Selling Rate:</label>
                        <input type="radio" id="yes" name="sellrate" value="yes">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="sellrate" value="no">
                        <label for="no">No</label>
                    </div>
                </div>
            </div>
            <footer class="main-footer">
                <div class="text-right control-btns">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click=""
                            style="font-size: 15px;">
                        Reset
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-click=""
                            style="font-size: 15px;">
                        Edit
                    </button>
                    <button type="button" class="btn btn-primary btn-sm " ng-click=""
                            style="font-size: 15px;">
                        Save
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>