
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<style>
    .redcard {
        height: 100px;
        background: linear-gradient(260.34deg, #FF3000 0.87%, #FF5933 100%);
        border-radius: 12px;
        color: #ffffff
    }
    .greencard {
        height: 100px;
        background: linear-gradient(261.66deg, #008A6F 1.22%, #2FC8AA 98.78%);
        border-radius: 12px;
        color: #ffffff
    }
    .orangecard {
        height: 100px;
        background: linear-gradient(259.36deg, #FF6610 3.04%, #FFB52B 100%);
        border-radius: 12px;
        color: #ffffff
    }
    .bluecard {
        height: 100px;
        background: linear-gradient(259.77deg, #0FB5DA 3.06%, #42C2DC 96.84%);
        border-radius: 12px;
        color: #ffffff
    }
    .Bcard {
        height: 100px;
        background: linear-gradient(259.38deg, #286EF1 2.87%, #5886DB 100%);
        border-radius: 12px;
        color: #ffffff
    }
</style>
<div ng-app="myApp" ng-controller="FinancialPeriodController">
    <div class="box-body">
        <div class="content">
            <div class="p-1"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card p-4 redcard">
                            <label><b>Monthly Attendance</b></label>
                            <label class="statnum"><strong>45678</strong></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card p-4 greencard">
                            <label><b>Total Leaves</b></label>
                            <label class="statnum"><strong>45678</strong></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card p-4 orangecard">
                            <label><b>Unused Leaves</b></label>
                            <label class="statnum"><strong>45678</strong></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card p-4 bluecard">
                            <label><b>Branch</b></label>
                            <label class="statnum"><strong>45678</strong></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card p-4 Bcard">
                            <label><b>Department</b></label>
                            <label class="statnum"><strong>45678</strong></label>
                        </div>
                    </div>
                </div>
                

                <div class="card card-primary card-outline card-outline-tabs">
                    
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </div>




    </div>
</div>


