@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<link href="~/wwwroot/dynamic-erp/css/newCss.css" rel="stylesheet" />
<script src="~/jslib/AssetsManagement/Reporting/VendorWiseAsset.js"></script>
<div id="ActionDiv" class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="VendorwiseAssetsController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="root">
                        <div class="card-primary card-tabs ">
                            <div class="tab-content" id="myTabContent">

                                <div class="card p-2">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="d-inline-block">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">From:</span>
                                                    </div>
                                                    <input class="form-control text-dark input-sm" type="text" date-picker ng-model="newFilter.DateFrom_TMP" style="max-width:100px" date-detail="newFilter.DateFromDet" />
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">To:</span>
                                                    </div>
                                                    <input class="form-control text-dark input-sm" type="text" date-picker ng-model="newFilter.DateTo_TMP" style="max-width:100px" date-detail="newFilter.DateToDet" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-1 text-right">
                                            <button type="button" class="btn btn-primary load float-right" style="min-width: 90px;" ng-click="GetData()"><i class="fas fa-download"> &nbsp;&nbsp;Load</i></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="card p-2 ">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file">
                                                <a class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Refresh" ng-click="GetData()">
                                                    <i class="fas fa-sync-alt"></i>
                                                </a>
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" title="Download"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'Report Template'" report-name="'List Of Vendor Wise Report'" ignore-column="'6'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false',reportName:'VendorWiseReport',ignoreColumn:'6' });"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                                <a print-tbl report-name="'List Of VendorWise Asset Report'" table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait" title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                                   data-placement="bottom" title="Save VendorWise Asset Report" @*ng-click="saveRptListState()"*@>
                                                    <i class="fas fa-save"></i>
                                                </a>
                                            </div>
                                        </div>

                                    </header>

                                    <div class="">
                                        <div id="TableData" style="height: calc(100vh - 7rem); width: 100%;" class="ag-theme-alpine"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>