@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }

    .table table-bordered table-striped table-hover table-sm td {
        font-size: x-small;
        line-height: 10px;
    }

    .os-theme-dark > .os-scrollbar-horizontal, .os-theme-light > .os-scrollbar-horizontal {
        right: 10px;
        height: 14px !important;
    }
</style>

<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.Att_FinancialYrWiseLeaveOpening)";
</script>




<script src="~/jslib/hr/leave/FinancialYrWiseLeaveOpening.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="FinancialYrWiseLeaveOpeningController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="pb-1"></div>
                <div class="card p-2 mb-0">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>For</label>
                                <select class="form-control form-control-sm" ng-model="newFilter.EmployeeOrSalesman">
                                    <option ng-value="c.id" ng-repeat="c in TypeColl" ng-selected="c.id==newFilter.EmployeeOrSalesman">{{c.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="form-control form-control-sm select2" ng-model="newFilter.BranchId">
                                    <option ng-value="0">**Select All**</option>
                                    <option ng-repeat="B in BranchList" ng-value="B.BranchId" ng-selected="B.BranchId==newFilter.BranchId">{{B.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" ng-show="newFilter.EmployeeOrSalesman == 1">
                            <div class="form-group">
                                <label>Department</label>
                                <select class="form-control form-control-sm select2" ng-model="newFilter.DepartmentId">
                                    <option ng-value="0">**Select All**</option>
                                    <option ng-value="c.id" ng-repeat="c in DepartmentList" ng-selected="c.id==newFilter.DepartmentId">{{c.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" ng-show="newFilter.EmployeeOrSalesman == 1">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control form-control-sm select2" ng-model="newFilter.CategoryId">
                                        <option ng-value="0">**Select All**</option>
                                        <option ng-value="c.CategoryId" ng-repeat="c in CategoryList" ng-selected="c.CategoryId==newFilter.CategoryId">{{c.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fiscal Year</label>
                                    <select class="form-control form-control-sm select2" ng-model="newFilter.PeriodId">
                                        <option ng-value="0">**Select All**</option>
                                        <option ng-value="c.CostClassId" ng-repeat="c in CostClassList" ng-selected="c.CostClassId==newFilter.PeriodId">{{c.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm btn-outline-secondary btn-add mt-4 float-left" ng-click="GetEmployeeForLeaveOpening()"><i class="fas fa-redo-alt"></i> Load</button>
                            </div>
                        </div>
                        <header class="row">
                            <div class="col-md-7">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm mr-sm-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.LeaveOpening">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.LeaveOpening">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search" placeholder="Search"
                                                   aria-label="Search" ng-model="searchData.LeaveOpening">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0"
                                                        type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="dropdown dnld-file ml-2">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#LeaveOpening'" sheet-name="'LeaveOpeningList'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#LeaveOpening').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                    </div>
                                    <button class="btn load btn-add btn-primary" ng-click="SaveLeaveOpeningColl()"><i class="fas fa-save mr-1"></i> Save</button>
                                    <button class="btn load btn-add btn-danger" ng-click="DelLeaveOpening()"><i class="far fa-trash-alt"></i> Delete</button>
                                </div>
                            </div>
                        </header>
                        <div class="table-scroll-x-y table-scroll mt-1 pb-3" style="max-height: calc(100vh - 10rem);">
                            <table id="LeaveOpening" class="main-table table table-sm table-bordered bg-white">
                                <thead>
                                    <tr>
                                        <th class="text-center align-middle cstm-sticky" style="width: 70px; left: 0; z-index: 4; background-color: #e9ecef !important" ng-click="sortEmpData('EmployeeCode')">Code</th>
                                        <th class="text-center align-middle cstm-sticky" style="width: 80px; left: 70px; z-index: 4; background-color: #e9ecef !important" ng-click="sortEmpData('EnrollNo')">Enroll No</th>
                                        <th class="align-middle cstm-sticky" style="width: 250px; left: 150px; z-index: 4; background-color: #e9ecef !important" ng-click="sortEmpData('EmployeeName')">Name</th>
                                        <th class="text-center" style="width: 120px; z-index: 3; background-color: #e9ecef !important" ng-repeat="Ph in LeaveTypeList">
                                            {{Ph.Name}}
                                        </th>
                                        <th class="text-center cstm-sticky" style="width: 62px; right: 0; z-index: 3; background-color: #e9ecef !important">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="cl in EmployeeListForLeaveOpening | orderBy:sortKeySS:reverseSS | filter:searchData.LeaveOpening | itemsPerPage: perPage.LeaveOpening" track by cl.EmployeeId current-page="currentPages.LeaveOpening" pagination-id="LeaveOpeningPagination">
                                        <td class="align-middle text-center cstm-sticky" style="width: 70px; left: 0; z-index: 2; background-color: #fff !important">{{cl.EmployeeCode}}</td>
                                        <td class="align-middle text-center cstm-sticky" style="width: 80px; left: 70px; z-index: 2; background-color: #fff !important">{{cl.EnrollNumber}}</td>
                                        <td class="align-middle cstm-sticky" style="width: 180px; left: 150px; z-index: 2; background-color: #fff !important">{{cl.EmployeeName}}</td>
                                        <td class="text-center" ng-repeat="Ph in cl.LeaveQuotaDetail track by $index">
                                            <div class="input-group input-group-sm ">
                                                <input type="text" number-input noofdecimal="2" onfocus="this.select();" class="form-control form-control-sm" ng-model="Ph.NoOfLeave" ng-paste="PasteData(Ph,$index)" onpaste="return false">
                                            </div>
                                        </td>

                                        <td class="text-center cstm-sticky" style="width: 62px; right: 0; z-index: 2; background-color: #e9ecef !important">
                                            <a class="p-1 btn btn-sm btn-info" data-toggle="tooltip" title="Update" href="#" ng-click="SaveEmpWiseLeaveOpening(cl,$index)">
                                                <i class="fas fa-save "></i>
                                            </a>
                                            <a class="p-1 btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" href="#" ng-click="DelLeaveOpeningById(cl)">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <footer class="row align-items-center">
                            <div class="col-md-12">
                                <dir-pagination-controls pagination-id="LeaveOpeningPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                        </footer>
                    </div>
            </section>
        </div>
    </section>


</div>