
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Finance/Creation/FinanceConfig.js"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="FinanceConfigController" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div>
                    <div class="card p-2">
                        <div class="p-2 card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">Finance Ledger</label>
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="newConfig.FinanceLedgerId" id="cboCashBank" style="width:100%" ledgertype="8" fortransaction="true"
                                                placeholder="** Select Cash/Bank **" showdetails="true" ledger-detail="newConfig.LedgerDetails" side-bar-data="newConfig.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="1"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">Principal Ledger</label>
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="newConfig.PrincipalLedgerId" id="cboCashBank" style="width: 100%" ledgertype="8" fortransaction="true"
                                                placeholder="** Select Cash/Bank **" showdetails="true" ledger-detail="newConfig.LedgerDetails" side-bar-data="newConfig.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="1"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">Interest Ledger</label>
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="newConfig.InterestLedgerId" id="cboCashBank" style="width: 100%" ledgertype="8" fortransaction="true"
                                                placeholder="** Select Cash/Bank **" showdetails="true" ledger-detail="newConfig.LedgerDetails" side-bar-data="newConfig.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="1"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">Rebate Ledger</label>
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="newConfig.RebateLedgerId" id="cboCashBank" style="width: 100%" ledgertype="8" fortransaction="true"
                                                placeholder="** Select Cash/Bank **" showdetails="true" ledger-detail="newConfig.LedgerDetails" side-bar-data="newConfig.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="1"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="min-width:120px">Penalty Ledger</label>
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="newConfig.PenaltyLedgerId" id="cboCashBank" style="width: 100%" ledgertype="8" fortransaction="true"
                                                placeholder="** Select Cash/Bank **" showdetails="true" ledger-detail="newConfig.LedgerDetails" side-bar-data="newConfig.partySideBarData" voucher-id="SelectedVoucher.VoucherId" vouchertype="1"></select>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Voucher</label>
                                        <select class="form-control form-control-sm" style="width: 100%;" ng-model="newConfig.VoucherId">
                                            <option ng-value="vt.VoucherId" ng-repeat="vt in VoucherList" ng-selected="vt.VoucherId==newConfig.VoucherId">{{vt.VoucherName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Cost Class</label>
                                        <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="newConfig.CostClassId">
                                            <option ng-repeat="cc in CostClassColl track by cc.CostClassId" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == newConfig.CostClassId">
                                                {{cc.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="time-label pb-3 mt-4">
                            <span class="d-block border-0 text-center">
                                <button type="button" class="btn btn-sm btn-default load" style="min-width: 90px;" ng-click="ClearConfig()">Reset</button>
                                <button type="button" class="btn btn-sm btn-info load" style="min-width: 90px;" ng-click="SaveFinanceConfiguration()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


