@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    h3 {
        font-size: 22px;
        color: #0088bc;
    }

    .labelOne {
        font-size: 16px;
        font-weight: 500;
    }

    .actcard {
        background-color: #d7edca8a;
    }

    .dactcard {
        background-color: #ffe2e2d9;
    }

    .btncard {
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 8px;
    }
</style>

<script src="~/jslib/dashboard/common/SalesForce.js"></script>

<div ng-app="myApp" ng-controller="SFDashboardController" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="p-1"></div>
                <div class="card p-2" style="background-color: #d7ecfb;">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="p-2">
                                <p class="labelOne text-success" style="font-weight:600">{{newDet.Greeting}}</p>
                                <h3 style="font-size:27px">{{newDet.Username}}</h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card p-2" style="background-color: #eff8ff;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="p-2 clickcursor" style="background-color: #d7edca8a; border-radius: 8px;" ng-click="openLink('Account/Creation/SalesmanTarget')">
                                            <p class="labelOne">TARGET (NRP).</p>
                                            <h3 class="mb-0">{{newDet.Target}}</h3>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="p-2 clickcursor" style="background-color: #d7edca8a; border-radius: 8px;" ng-click="openLink('Inventory/Reporting/SalesInvoiceDetails')">
                                            <p class="labelOne">ACHIEVEMENT (MTD)</p>
                                            <h3 class="mb-0">{{newDet.AchievementPer}}%</h3>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('account/creation/Salesman')">
                                <div class="labelOne">DSE</div>
                                <h3>{{newDet.TotalDSE}}</h3>
                                <div class="px-2">
                                    <div class="row">
                                        <div class="col actcard">
                                            <p><b>Active</b> </p>
                                            <p>{{newDet.ActiveDSE}}</p>
                                        </div>
                                        <div class="col dactcard">
                                            <p><b>Inactive</b> </p>
                                            <p>{{newDet.InActiveDSE}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('account/creation/Salesman')">
                                <p class="labelOne">SALES OFFICER</p>
                                <h3>{{newDet.TotalSalesOfficer}}</h3>
                                <div class="px-2">
                                    <div class="row">
                                        <div class="col actcard">
                                            <p><b>Active</b> </p>
                                            <p>{{newDet.ActiveSalesOfficer}}</p>
                                        </div>
                                        <div class="col dactcard">
                                            <p><b>Inactive</b> </p>
                                            <p>{{newDet.InactiveSalesOfficer}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('account/creation/Salesman')">
                                <p class="labelOne">ASM</p>
                                <h3>{{newDet.TotalASM}}</h3>
                                <div class="px-2">
                                    <div class="row">
                                        <div class="col actcard">
                                            <p><b>Active</b> </p>
                                            <p>{{newDet.ActiveASM}}</p>
                                        </div>
                                        <div class="col dactcard">
                                            <p><b>Inactive</b> </p>
                                            <p>{{newDet.InactiveASM}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('account/creation/Salesman')">
                                <p class="labelOne">RSM</p>
                                <h3>{{newDet.TotalRSM}}</h3>
                                <div class="px-2">
                                    <div class="row">
                                        <div class="col actcard">
                                            <p><b>Active</b> </p>
                                            <p>{{newDet.ActiveRSM}}</p>
                                        </div>
                                        <div class="col dactcard">
                                            <p><b>Inactive</b> </p>
                                            <p>{{newDet.InactiveRSM}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('account/creation/Salesman')">
                                <p class="labelOne">NSM</p>
                                <h3>{{newDet.TotalNSM}}</h3>
                                <div class="px-2">
                                    <div class="row">
                                        <div class="col actcard">
                                            <p><b>Active</b> </p>
                                            <p>{{newDet.ActiveNSM}}</p>
                                        </div>
                                        <div class="col dactcard">
                                            <p><b>Inactive</b> </p>
                                            <p>{{newDet.InactiveNSM}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('account/creation/Customer')">
                                <p class="labelOne">OUTLETS</p>
                                <h3>{{newDet.TotalOutlets}}</h3>
                                <div class="px-2">
                                    <div class="row">
                                        <div class="col actcard">
                                            <p><b>Active</b> </p>
                                            <p>{{newDet.ActiveOutlets}}</p>
                                        </div>
                                        <div class="col dactcard">
                                            <p><b>Inactive</b> </p>
                                            <p>{{newDet.InactiveOutlets}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card p-2 clickcursor" style="background-color: aliceblue;" ng-click="openLink('inventory/creation/product')">
                                <p class="labelOne">PRODUCTS</p>
                                <h3 class="mb-0">{{newDet.Products}}</h3>
                                <p class="labelOne"><b>Total SKUs</b> [{{newDet.TotalSKUs}}]</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card p-2" style="background-color: #ffcd872b;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="p-2 clickcursor" style="background-color: aliceblue; border-radius: 8px;" ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=7')">
                                            <p class="labelOne">TOTAL CALL</p>
                                            <h3>{{newDet.TotalCall}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-2 clickcursor" style="background-color: aliceblue; border-radius: 8px;" ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=7')">
                                            <p class="labelOne">SUCCESS CALL</p>
                                            <h3 class="text-success">{{newDet.SuccessCall}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-2 clickcursor" style="background-color: aliceblue; border-radius: 8px;" ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=7')">
                                            <p class="labelOne">UNSUCCESS CALL</p>
                                            <h3 class="text-danger">{{newDet.UnsuccessCall}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-2 clickcursor" style="background-color: aliceblue; border-radius: 8px;" ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=7')">
                                            <p class="labelOne">REMAINING CALL</p>
                                            <h3 style="color:orange">{{newDet.RemainingCall}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card p-2" style="background-color: aliceblue;">
                        <p class="mb-2" style="font-size: 19px; color: #0088bc; font-weight: 600;">MTD</p>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="p-2 btncard clickcursor" ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=14')">
                                    <p class="labelOne">TOTAL ORDERS</p>
                                    <h3 class="mb-0">{{newDet.TotalOrder}}</h3>
                                    <p class="labelOne" style="color: #0088bc">Value :{{newDet.TotalOrderValue}}</p>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="p-2 btncard clickcursor"  ng-click="openLink('/Inventory/Transaction/PendingSalesOrder')">
                                    <p class="labelOne clickcursor">PENDING ORDERS</p>
                                    <h3 class="mb-0">{{newDet.PendingOrder}}</h3>
                                    <p class="labelOne" style="color: #0088bc">Value :{{newDet.PendingOrderVal}}</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="p-2 btncard clickcursor"  ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=6')">
                                    <p class="labelOne">INVOICED ORDERS</p>
                                    <h3 class="mb-0">{{newDet.InvoicedOrder}}</h3>
                                    <p class="labelOne" style="color: #0088bc">Value :{{newDet.InvoicedOrderVal}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="p-2 btncard clickcursor"  ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=18')">
                                    <p class="labelOne">SALES RETURN ORDERS</p>
                                    <h3>{{newDet.SalesReturnOrder}}</h3>
                                    <p class="labelOne" style="color: #0088bc">Value :{{newDet.SalesReturnOrderVal}}</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="p-2 btncard clickcursor" ng-click="openLink('/Setup/ReportWriter/RunReportViewer?TranId=14')">
                                    <p class="labelOne">CANCELLED ORDERS</p>
                                    <h3 class="text-danger">{{newDet.CancelledOrder}}</h3>
                                    <p class="labelOne" style="color: #0088bc">Value :{{newDet.CancelledOrderVal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>


</div>

