@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1 id="hGreeting"></h1>
    <h2>  @User.Identity.Name</h2>
</div>*@
<script>
    function getGreeting() {
        var now = new Date();
        var hrs = now.getHours();
        var echo = "Hello";
        if (hrs >= 0) {
            echo = "Mornin' Sunshine!";
        }
        if (hrs >= 15) {
            echo = "Good Morning";
        }
        if (hrs >= 12) {
            echo = "Good Afternoon";
        }
        if (hrs >= 17) {
            echo = "Good Evening";
        }
        if (hrs >= 22) {
            echo = "Go to bed!";
        }

        document.getElementById('hGreeting').textContent = echo;
    }
    getGreeting();
</script>