@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Bank/Bank.js"></script>
<div ng-app="myApp" ng-controller="BankController" ng-init="LoadData()">
    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="bankgroup-tab" data-toggle="pill" href="#bankgroup" role="tab" aria-controls="bankgroup" aria-selected="true"> BankGroup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="bank-tab" data-toggle="pill" href="#bank" role="tab" aria-controls="bank" aria-selected="false">Bank</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="bankaccount-tab" data-toggle="pill" href="#bankaccount" role="tab" aria-controls="bankaccount" aria-selected="false">Bank Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ChequeEntry-tab" data-toggle="pill" href="#ChequeEntry" role="tab" aria-controls="ChequeEntry" aria-selected="false">ChequeEntry</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="bankgroup" role="tabpanel" aria-labelledby="bankgroup-tab">
                                <div id="bankgrouptable">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.BankGroup">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.BankGroup">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white">entries</span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="searchData.BankGroup">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'BankGroupList'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#BankGroup'" class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button class="btn btn-primary load btn-sm" id="AddBankGroup">
                                                    Add Bank Group
                                                </button>
                                            </div>


                                        </div>
                                    </header>
                                    <div class="search-toolbar mt-2">
                                        <div class="">
                                            <table class="main-table table table-bordered table-striped table-hover table-sm" id="BankGroup">
                                                <tr>
                                                    <th style="text-align: center; width:70px"> S.No </th>
                                                    <th style="width:400px"> Name</th>
                                                    <th style="width:140px"> Code </th>
                                                    <th style="text-align:center;width: 10%;">Action</th>

                                                </tr>
                                                <tr dir-paginate="beData in BankGroupColl | orderBy:sortKey:reverse | filter:searchData.BankGroup | itemsPerPage:perPage.BankGroup" current-page="currentPages.BankGroup" pagination-id="BankGroupPagination">


                                                    <td style="text-align:center;margin:auto">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.Name}}
                                                    </td>


                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.Code}}
                                                    </td>
                                                    <td class="project-actions text-center" style="text-align:center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-info btn-sm" ng-click="GetBankGroupById(beData)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-danger btn-sm" ng-click="DeleteBankGroup(beData)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="BankGroupPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="BankgroupForm">
                                    <div class="p-2">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBankGroup.Name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Code</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBankGroup.Code">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <footer class="main-footer">
                                            <div class="text-right control-btns">
                                                <button type="button" class="btn btn-default btn" id="backtogroup"> <span class="glyphicon glyphicon-remove"></span>Back to List</button>
                                                <button type="button" class="btn btn-default btn" ng-click="ClearBankGroup()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                                <button type="button" class="btn btn-primary" ng-click="SaveUpdateBankGroup()">{{newBankGroup.Mode}}</button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="bank" role="tabpanel" aria-labelledby="bank-tab">
                                <div id="banktable">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Bank">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.BankGroup">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white">entries</span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="searchData.Bank">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button class="btn btn-primary load btn-sm" id="AddBank">
                                                    Add Bank Group
                                                </button>
                                            </div>


                                        </div>
                                    </header>
                                    <div class="search-toolbar mt-2">
                                        <div class="">
                                            <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                                <tr>
                                                    <th style="text-align: center; width:70px"> S.No </th>
                                                    <th style="width:400px"> Name</th>
                                                    <th style="width:100px"> Code </th>
                                                    <th style="width:140px"> BankGroupId  </th>
                                                    <th style="text-align:center;width: 10%;">Action</th>

                                                </tr>
                                                <tr dir-paginate="beData in BankColl | orderBy:sortKey:reverse | filter:searchData.Bank | itemsPerPage:perPage.Bank" current-page="currentPages.Bank" pagination-id="BankPagination">


                                                    <td style="text-align:center;margin:auto">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.Name}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.Code}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.BankGroupId}}
                                                    </td>
                                                    <td class="project-actions text-center" style="text-align:center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-info btn-sm" ng-click="GetBankById(beData)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-danger btn-sm" ng-click="DeleteBank(beData)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="BankPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="BankForm">
                                    <div class="p-2">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBank.Name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Code</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBank.Code">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Bank Group</label>
                                                        <select class="form-control form-control-sm" ng-model="newBank.BankGroupId" style="width:100%">
                                                            <option ng-repeat="B in BankGroupList" ng-value="B.BankGroupId" ng-selected="B.BankGroupId==newBank.BankGroupId">{{B.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <footer class="main-footer">
                                            <div class="text-right control-btns">
                                                <button type="button" class="btn btn-default btn" id="backtobank"> <span class="glyphicon glyphicon-remove"></span>Back to List</button>
                                                <button type="button" class="btn btn-default btn" ng-click="ClearBank()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                                <button type="button" class="btn btn btn-primary" ng-click="SaveUpdateBank()">{{newBank.Mode}}</button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="bankaccount" role="tabpanel" aria-labelledby="bankaccount-tab">
                                <div id="bankaccounttable">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.BankAccount">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.BankAccount">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white">entries</span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="searchData.BankAccount">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button class="btn btn-primary load btn-sm" id="Addbankaccount">
                                                    Add Bank Group
                                                </button>
                                            </div>


                                        </div>
                                    </header>
                                    <div class="search-toolbar mt-2">
                                        <div class="">
                                            <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                                <tr>
                                                    <th style="text-align: center; width:70px"> S.No </th>
                                                    <th style="width:400px"> Bank</th>
                                                    <th style="width:200px"> AccountNo </th>
                                                    <th style="width:300px"> Branch Name  </th>
                                                    <th style="text-align:center;width: 100px;">Action</th>

                                                </tr>
                                                <tr dir-paginate="beData in BankAccountColl | orderBy:sortKey:reverse | filter:searchData.BankAccount | itemsPerPage:perPage.BankAccount" current-page="currentPages.BankAccount" pagination-id="BankAccountPagination">


                                                    <td style="text-align:center;margin:auto">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.Bank}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.AccountNo}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.BranchName}}
                                                    </td>
                                                    <td class="project-actions text-center" style="text-align:center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-info btn-sm" ng-click="GetBankAccountById(beData)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-danger btn-sm" ng-click="DeleteBankAccount(beData)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="BankAccountPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="bankaccountForm">
                                    <div class="p-2">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label>Bank</label>
                                                        <select class="form-control form-control-sm" style="width:100%">
                                                            <option>11</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Account No</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBankAccount.AccountNo">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Branch Name</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newBankAccount.BranchName">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <footer class="main-footer">
                                            <div class="text-right control-btns">
                                                <button type="button" class="btn btn-default btn" id="backtobankaccount"> <span class="glyphicon glyphicon-remove"></span>Back to List</button>
                                                <button type="button" class="btn btn-default btn" ng-click="ClearBankAccount()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                                <button type="button" class="btn btn-primary" ng-click="SaveUpdateBankAccount()">{{newBankAccount.Mode}}</button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="ChequeEntry" role="tabpanel" aria-labelledby="ChequeEntry-tab">
                                <div id="ChequeEntrytable">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ChequeEntry">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ChequeEntry">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white">entries</span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="searchData.ChequeEntry">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file" title="Download File">
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Print">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button class="btn btn-primary load btn-sm" id="AddChequeEntry">
                                                    Add Bank Group
                                                </button>
                                            </div>


                                        </div>
                                    </header>
                                    <div class="search-toolbar mt-2">
                                        <div class="">
                                            <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                                <tr>
                                                    <th style="text-align: center; width:70px"> S.No </th>
                                                    <th style="width:400px"> BankAccount</th>
                                                    <th style="width:200px"> FromRange </th>
                                                    <th style="width:300px">ToRange </th>
                                                    <th style="width:300px">NoOfCheque </th>
                                                    <th style="width:300px">ChequeName </th>
                                                    <th style="text-align:center;width: 100px;">Action</th>

                                                </tr>
                                                <tr dir-paginate="beData in ChequeEntryColl | orderBy:sortKey:reverse | filter:searchData.ChequeEntry | itemsPerPage:perPage.ChequeEntry" current-page="currentPages.ChequeEntry" pagination-id="ChequeEntryPagination">


                                                    <td style="text-align:center;margin:auto">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.BankAccount}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.FromRange}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.ToRange}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.NoOfCheque}}
                                                    </td>
                                                    <td style="text-align: left; margin: auto">
                                                        {{beData.ChequeName}}
                                                    </td>
                                                    <td class="project-actions text-center" style="text-align:center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-info btn-sm" ng-click="GetChequeEntryById(beData)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-danger btn-sm" ng-click="DeleteChequeEntry(beData)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="col-md-12">
                                                <dir-pagination-controls pagination-id="ChequeEntryPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="ChequeEntryForm">
                                    <div class="p-2">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Bank Account</label>
                                                        <select class="form-control form-control-sm" style="width:100%">
                                                            <option>11</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>FromRange</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newChequeEntry.FromRange">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>ToRange</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newChequeEntry.ToRange">
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>NoOfCheque</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newChequeEntry.NoOfCheque">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>ChequeName</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newChequeEntry.ChequeName">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <footer class="main-footer">
                                            <div class="text-right control-btns">
                                                <button type="button" class="btn btn-default btn" id="backtoChequeEntry"> <span class="glyphicon glyphicon-remove"></span>Back to List</button>
                                                <button type="button" class="btn btn-default btn" ng-click="ClearChequeEntry()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                                <button type="button" class="btn btn-primary" ng-click="SaveUpdateChequeEntry()">{{newChequeEntry.Mode}}</button>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </div>




    </div>

</div>


<style>

    .table table-bordered table-striped table-hover table-sm td {
        font-size: x-small;
        line-height: 10px;
    }
</style>