@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
 
<script src="~/jslib/service/creation/ServiceAppointment.js"></script>
<div ng-app="myApp" ng-controller="ServiceAppointmentCtrl" ng-class="{waiting: loadingstatus=='running'}" @*ng-init="GetAllSalesMan()"*@>
    <div class="container-fluid">
        <div class="content">
            <div class="card">
                <div class="card-header header-corner-triangle py-1">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title">Service Appointment</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex float-right">
                                <label class="mt-1">Branch</label>
                                <select class="form-control form-control-sm ml-2" ng-model="beData.BranchId">
                                    <option ng-value="b.BranchId" ng-repeat="b in BranchList" ng-selected="b.BranchId==beData.BranchId">{{b.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body py-2">
                    <form>                       
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Customer Name</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.OtherLedger">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Customer Address</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.Address" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Mobile No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.MobileNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Model Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.Model" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Date of Sale</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.DateOfSale" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>HMR</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control form-control-sm" ng-model="beData.HMR">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Engine No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.EngineNo" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Chassis No</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.ChassisNo" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Vin No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.VinNo" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Regd.No</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.RegdNo" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Appointment Type</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-sm select2" ng-model="beData.AppointmentTypeId">
                                            <option ng-value="ap.AppointmentTypeId" ng-repeat="ap in AppointTypeList" ng-selected="ap.AppointmentTypeId==beData.AppointmentTypeId">{{ap.Name}}</option>                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="text-nowrap">Appointment Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="beData.AppointmentDate_TMP" date-detail="beData.AppointmentDateDet">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="time"
                                               class="form-control form-control-sm"   ng-model="beData.AppointmentDateTime_TMP">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Remarks</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <footer class="main-footer">
                        <div class="text-right control-btns">
                            <button type="button" class="btn btn-default" style="min-width: 90px;" ng-click="SearchData()">Search</button>
                            <button type="button" class="btn btn-default" ng-click="ClearFields()">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="AddServiceAppointment()">Save</button>
                        </div>

                    </footer>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>


    <div class="modal fade sales-quotation-page-modal document-attach-modal" id="searVoucherRightBtn" tabindex="-1" role="dialog" aria-labelledby="partyAccRightBtn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document" style="min-width:1300px">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Search Vehicle</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">                    
                    <div class="">
                        <header class="row">
                            <div class="col-md-8">
                                <div class="clearfix">
                                    <form class="form-inline">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cstm">Show</span>
                                            </div>
                                            <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Appointment">
                                                <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Appointment">{{pp.text}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"><small>entries</small></span>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar" type="search"
                                                   placeholder="Search" aria-label="Search" ng-model="searchData.Appointment">
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end col-md-8 -->
                            <div class="col-md-4 text-right">
                                <div class="dropdown dnld-file" title="Download File">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                        <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                        <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                    </div>
                                    <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                       title="Print">
                                        <i class="fas fa-print"></i>
                                    </a>`
                                </div> 
                            </div>
                        </header>
                        <table id="datatable" class="main-table table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Engine No.</th>
                                    <th>ChSrl No.</th>
                                    <th>Regd.No.</th>
                                    <th>Party</th>
                                    <th>Address</th>
                                    <th>Contact No.</th>
                                    <th>SalesDate</th>
                                    <th>Job No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="sd in VehicleList | orderBy:sortKey:reverse | filter:searchData.Appointment | itemsPerPage:perPage.Appointment" current-page="currentPages.Appointment" pagination-id="AppointmentPagination">
                                    <td align="center"><a href="" ng-click="ChooseVehicle(sd)">{{sd.EngineNo}}</a></td>
                                    <td>{{sd.ChSrlNo}}</td>
                                    <td>{{sd.RegdNo}}</td>
                                    <td>{{sd.Party}}</td>
                                    <td>{{sd.Address}}</td>
                                    <td>{{sd.MobileNo}} {{sd.ContactNo}}</td>
                                    <td>{{sd.SalesDate |dateFormat}}</td>
                                    <td>{{sd.JobCardNo}}</td>
                                </tr>
                            </tbody>

                        </table>
                        <dir-pagination-controls pagination-id="AppointmentPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </div>

                </div>
                <!-- end modal body -->
                <div class="modal-footer justify-content-between align-items-center py-2">
                    <h6 class="mb-0">Total Record: {{paginationOptions.TotalRows}}</h6>
                    <div class="">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>