
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Hospitals/Creation/DiscountCommisionMapping.js"></script>
<div ng-app="myApp" ng-controller="DiscountMapping" ng-init="LoadData()" >
    <div class="box-body"></div>
    <div class="content">
        <div class="container-fluid">
            <div class="card ">
                <div class="card-body p-2">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            <header class="row">
                                <div class="col-md-8">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Show</span>
                                                </div>
                                                <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.DiscountMapping">
                                                    <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.DiscountMapping">{{pp.text}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white"><small>entries</small></span>
                                                </div>
                                             </div>
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar" type="search"
                                                       placeholder="Search" aria-label="Search" ng-model="searchData.DiscountMapping">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0" type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button" class="btn btn-primary btn" ng-click="SaveDiscountMapping()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Save</button>
                                </div>
                            </header>
                            <div class="search-toolbar mb-3 mt-2">
                                <table cellpadding="12" class="main-table table table-bordered  table-sm" id="datatable">
                                    <thead>
                                        <tr>
                                            <th class="text-center"  width="5%">S.N</th>
                                            <th class="text-left"  width="50%"> Discount Type </th>
                                            <th class="text-left"  width="45%">Commision Type  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="beData in DiscountMappingList| orderBy:sortKey:reverse | filter:searchData.DiscountMapping| itemsPerPage:perPage.DiscountMapping" current-page="currentPages.DiscountMapping" pagination-id="DiscountMappingPagination">
                                            <td style="text-align:center;">
                                                {{$index+1}}
                                            </td>
                                            <td style="text-align:left">
                                                {{beData.DiscountType}}
                                            </td>
                                            <td style="text-align:left">
                                                <select class="form-control form-control-sm" ng-model="beData.CommissionTypeId">
                                                    <option ng-value="V.id" ng-repeat="V in CommissionList" ng-selected="V.id==beData.CommissionTypeId">{{V.Name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12">
                                    <dir-pagination-controls pagination-id="DiscountMappingPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>

</div>