@{
    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table th, .table td {
        padding: 0.35rem;
    }
</style>
<script src="~/jslib/Hospitals/Doctor.js"></script>
<div ng-app="myApp" ng-controller="Doctor" ng-init="LoadData()">
    <div class="content">
        <div class="container-fluid p-0">
            <div class="page-content-wrapper">
                <div class="card">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false" ng-click="ClearFields()">Doctor</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <div class="p-2">
                                    <header class="row">
                                        <div class="col-md-8">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                  
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search"
                                                               placeholder="Search" aria-label="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="dropdown dnld-file">
                                                <a class="btn btn-secondary btn-light btn-sm wait"
                                                   title="Refresh" ng-click="GetAllDoctor()">
                                                    <i class="fas fa-sync-alt"></i>
                                                </a>
                                                <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'Report Template'" report-name="'List Of Doctor'" ignore-column="'6'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false',reportName:'Doctor',ignoreColumn:'6' });"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                </div>
                                                <a print-tbl report-name="'List Of Lab Technician'" table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                                   data-placement="bottom" title="Save Lab Technician" @*ng-click="saveRptListState()"*@>
                                                    <i class="fas fa-save"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="">
                                        <div id="datatable" style="height: calc(100vh - 7rem); width: 100%;" class="ag-theme-alpine"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade p-2" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab" style="height: calc(100vh - 120px); overflow-y: auto;">
                                <div class="timeline registration">
                                    <div class="time-label">
                                        <span style="border: 2px solid #dee2e6;">
                                            Doctor Detail <span style="color:red"></span>
                                        </span>
                                    </div>
                                    <div class="row ml-5">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label> Doctor Id <span style="color:red;">*</span></label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" disabled ng-model="newDet.AutoNumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Doctor Code</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.DoctorCode">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Entry Date</label>
                                                        <input type="text" class="form-control form-control-sm" style="width: 100%" readonly date-picker ng-model="newDet.EntryDate_TMP" date-detail="newDet.EntryDateDet" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.FirstName">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Middle Name</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.MiddleName">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.LastName">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>नाम</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.NameNP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                        <select class="form-control form-control-sm form-select select2" style="width: 100%;" ng-model="newDet.Gender">
                                                            <option ng-value="G.id" ng-repeat="G in GenderColl" ng-selected="G.id == newDet.Gender">{{ G.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Ethnicity</label>
                                                        <select class="form-control form-control-sm form-select select2" style="width: 100%;" ng-model="newDet.Ethinicity">
                                                            <option ng-value="G.text" ng-repeat="G in EthnicityColl" ng-selected="G.text == newDet.Ethinicity">{{ G.text}}</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Blood Group</label>
                                                        <select class="form-control form-control-sm form-select select2" style="width: 100%;" ng-model="newDet.BloodGroup">
                                                            <option ng-value="G.text" ng-repeat="G in BloodGroupColl" ng-selected="G.text == newDet.BloodGroup">{{ G.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Religion <span style="color:red"></span></label>
                                                        <select class="form-control form-control-sm form-select select2" style="width: 100%;" ng-model="newDet.Religion" id="religionName">
                                                            <option ng-value="G.text" ng-repeat="G in ReligionColl" ng-selected="G.text == newDet.Religion">{{ G.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Date Of Birth</label>
                                                        <input type="text" class="form-control form-control-sm" style="width: 100%" date-picker ng-model="newDet.DateOfBirthAD_TMP" date-detail="newDet.DateOfBirthADDet" />
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label>Marital Status <span style="color:red"></span></label>
                                                            <select class="form-control form-control-sm form-select select2" style="width: 100%;" ng-model="newDet.MaritalStatus">
                                                                <option ng-value="G.text" ng-repeat="G in MaritalStatusColl" ng-selected="G.text ==newDet.MaritalStatus">{{ G.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label>Nationality <span style="color:red"></span></label>
                                                            <select class="form-control form-control-sm form-select select2" style="width: 100%;" ng-model="newDet.Nationality">
                                                                @*<option ng-repeat="G in NationalityList" ng-value="G.NationalityId" ng-selected="newDet.NationalityId == G.NationalityId">{{G.Name}}</option>*@
                                                                <option ng-value="G.text" ng-repeat="G in NationalityColl" ng-selected="newDet.text == G.Nationality">{{G.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Citizenship No.</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.CitizenshipNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Pan Id</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.PanId">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Email Id</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.EmailId">
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Contact</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.Contact">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Father's Name</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.FatherName">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Mother's Name</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.MotherName">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Grand Father</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.GrandFather">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>बुवाको नाम</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.FatherNameNP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>आमाको नाम</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.MotherNameNP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>बाजेको नाम</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.GrandFatherNP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label title="Nepal Medical Council Number">NMCNo</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.NMCNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label title="Nepal Nursing Council Number">NNCNo</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.NNCNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label title="Nepal Health Professional Council Number">NHPNo</label>
                                                        <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.NHPNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="invisible d-block">IsIncentiveApplicable</label>
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox" id="IsIncentiveApplicable" ng-model="newDet.IsIncentiveApplicable">
                                                            <label for="IsIncentiveApplicable" class="custom-control-label"> Is Incentive Applicable </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="invisible d-block">IsAppointmentApplicable</label>
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox" id="IsAppointmentApplicable" ng-model="newDet.IsAppointmentApplicable">
                                                            <label for="IsAppointmentApplicable" class="custom-control-label"> Is Appointment Applicable </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="invisible d-block">IsActive</label>
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox" id="IsActive" ng-model="newDet.IsActive">
                                                            <label for="IsActive" class="custom-control-label"> Is Active </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="person-photo-attachment-wrap text-center">
                                                <label for="" class="invisible">Photo</label>
                                                <div class="img-wrap mx-auto">
                                                    <img ng-src="{{newDet.PhotoPathData || newDet.PhotoPath }}" class="img-fluid" alt="" id="Photo" style="height:130px; width:165px; border:1px solid #ccc">
                                                </div>
                                                <label for="choose-Photo" type="button" class="btn btn-default mt-1 mb-0"><i class="fa fa-image"></i>&nbsp;Photo</label>
                                                <input id="choose-Photo" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newDet.PhotoPath_Tmp" fileread="newDet.PhotoPathData" />
                                                <canvas id="canvas" width="320" height="240" style="display:none"></canvas>
                                            </div>
                                            <div class="person-photo-attachment-wrap text-center">
                                                <label for="" class="invisible">Signature</label>
                                                <div class="img-wrap mx-auto">
                                                    <img ng-src="{{newDet.DoctorSignData || newDet.DoctorSignature }}" class="img-fluid" alt="" id="Sign" style="height:60px; width:165px; border:1px solid #ccc">
                                                </div>
                                                <label for="choose-Sign" type="button" class="btn btn-default mt-1 mb-0"><i class="fa fa-image"></i>&nbsp;Signature</label>
                                                <input id="choose-Sign" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newDet.DoctorSign_Tmp" fileread="newDet.DoctorSignData" />
                                                <canvas id="canvas" width="320" height="240" style="display:none"></canvas>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="time-label">
                                        <span style="border: 2px solid #dee2e6;">
                                            Current Address
                                        </span>
                                    </div>
                                    <div class="row ml-5">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control form-control-sm form-select select2" ng-model="newDet.TmpCountry" ng-change="clearTemp()" style="width: 100%;" data-placeholder="* select Country *">
                                                    <option ng-value="tdc.text" ng-repeat="tdc in CountryColl" ng-selected="tdc.text==newDet.TmpCountry"> {{tdc.text}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-show="newDet.TmpCountry == 'Nepal'">
                                                <label>State</label>
                                                <select class="form-control form-control-sm form-select select2" id="cboProvinceTMP"
                                                        style="width: 100%;" ng-model="newDet.TmpProvinceState" data-placeholder="* select State *">
                                                    <option ng-repeat="cl in ProvinceColl" ng-value="cl.text" ng-selected="cl.text==newDet.TmpProvinceState">
                                                        {{cl.text}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group" ng-show="newDet.TmpCountry != 'Nepal'">
                                                <label>State</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.TmpProvinceState" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-show="newDet.TmpCountry == 'Nepal'">
                                                <label>District</label>
                                                <select class="form-control form-control-sm form-select select2" id="cboDistrictTMP"
                                                        style="width: 100%;" ng-model="newDet.TmpDistrict" data-placeholder="* select district *">
                                                    <option ng-repeat="tdc in DistrictColl" ng-value="tdc.text" ng-selected="tdc.text==newDet.TmpDistrict">
                                                        {{tdc.text}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group" ng-show="newDet.TmpCountry != 'Nepal'">
                                                <label>District</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.TmpDistrict" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>LocalLevel</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.TmpZone">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.TmpAddress" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-show="newDet.TmpCountry == 'Nepal'">
                                                <label>ठेगाना</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.TmpAddressNP">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="time-label d-flex">
                                        <span style="border: 2px solid #dee2e6;">
                                            Permanent Address
                                        </span>
                                        <div class="ml-2 mt-2">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="samePerAdd" ng-value="true" ng-model="newDet.IsSameAsCurrentAddress" ng-change="SameCurrentAddress()">
                                                <label for="samePerAdd" class="custom-control-label" style="font-size:17px">
                                                    Same as Current Address
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ml-5">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control form-control-sm select2" ng-model="newDet.Country" ng-disabled="newDet.IsSameAsCurrentAddress" ng-change="clearP()" style="width: 100%;" data-placeholder="* select Country *">

                                                    <option ng-value="tdc.text" ng-repeat="tdc in CountryColl" ng-selected="tdc.text==newDet.Country"> {{tdc.text}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-show="newDet.Country == 'Nepal'">
                                                <label>State</label>
                                                <select class="form-control form-control-sm form-select select2" id="cboProvincePer"
                                                        style="width: 100%;" ng-model="newDet.ProvinceState" data-placeholder="* select State *" ng-disabled="newDet.IsSameAsCurrentAddress">
                                                    <option ng-repeat="cl in ProvinceColl" ng-value="cl.text" ng-selected="cl.text==newDet.ProvinceState">
                                                        {{cl.text}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group" ng-show="newDet.Country != 'Nepal'">
                                                <label>State</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.ProvinceState" style="width:100%" ng-disabled="newDet.IsSameAsCurrentAddress">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-show="newDet.Country == 'Nepal'">
                                                <label>District</label>
                                                <select class="form-control form-control-sm form-select select2" id="cboDistrictPer"
                                                        style="width: 100%;" ng-model="newDet.District" data-placeholder="* select district *" ng-disabled="newDet.IsSameAsCurrentAddress">
                                                    <option ng-repeat="tdc in DistrictColl " ng-value="tdc.text" ng-selected="tdc.text==newDet.District">
                                                        {{tdc.text}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group" ng-show="newDet.Country != 'Nepal'">
                                                <label>District</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.District" style="width:100%" ng-disabled="newDet.IsSameAsCurrentAddress">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>LocalLevel</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.Zone" ng-disabled="newDet.IsSameAsCurrentAddress">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Address" style="width:100%" ng-disabled="newDet.IsSameAsCurrentAddress">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-show="newDet.Country == 'Nepal'">
                                                <label>ठेगाना</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.AddressNP" ng-disabled="newDet.IsSameAsCurrentAddress">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="time-label">
                                        <span style="border: 2px solid #dee2e6;">
                                            General Details
                                        </span>
                                    </div>
                                    <div class="row ml-5">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Designation</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.Designation">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Join Date</label>
                                                <input type="text" class="form-control form-control-sm" style="width: 100%" date-picker ng-model="newDet.JoinDate_TMP" date-detail="newDet.JoinDateDet" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Grade</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.Grade">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Department</label>
                                                <select class="form-control form-control-sm form-select select2" ng-model="newDet.DepartmentId">
                                                    <option ng-value="DS.id" ng-repeat="DS in DepartmentList" ng-selected="tdc.id==newDet.DepartmentId">{{DS.text}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">

                                        </div>
                                    </div>

                                    <div class="time-label">
                                        <span style="border: 2px solid #dee2e6;">
                                            Previous Office Details
                                        </span>
                                    </div>
                                    <div class="row ml-5">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Office Name</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.PreeOfficeName">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Post</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.PreeOfficePost">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Contact No.</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.PreeOfficeContact">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.PreeOfficeAddress">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                <input class="form-control form-control-sm" style="margin-left:1px;" type="text" ng-model="newDet.PreeOfficeRemarks">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <footer class="main-footer mt-2">
                                    <div class="text-right control-btns">
                                        <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span> Clear</button>
                                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateDoctor()"><span class="glyphicon glyphicon-save"></span> {{newDet.Mode}}</button>
                                    </div>
                                </footer>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>