
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Hospitals/Creation/Ethinicity.js"></script>
<div id="ActionDiv" ng-app="myApp" ng-controller="Ethinicity" ng-init="LoadData()" ng-cloak>
    <div class="content">
        <div class="container-fluid p-0">
            <div class="card">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false" ng-click="ClearFields()">Ethinicity</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-2">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            <header class="row">
                                <div class="col-md-8">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0" type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="dropdown dnld-file">
                                        <a class="btn btn-secondary btn-light btn-sm wait"
                                           title="Refresh" ng-click="GetAllEthinicity()">
                                            <i class="fas fa-sync-alt"></i>
                                        </a>
                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-download"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">Choose an option:</span>
                                            <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'Report Template'" report-name="'List Of Ethinicity'" ignore-column="'6'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                            <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false',reportName:'Ethinicity',ignoreColumn:'6' });"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        </div>
                                        <a print-tbl report-name="'List Of Lab Technician'" table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait">
                                            <i class="fas fa-print"></i>
                                        </a>
                                        <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                           data-placement="bottom" title="Save Lab Technician" @*ng-click="saveRptListState()"*@>
                                            <i class="fas fa-save"></i>
                                        </a>
                                    </div>
                                </div>
                            </header>
                            <div class="">
                                <div id="datatable" style="height: calc(100vh - 7rem); width: 100%;" class="ag-theme-alpine"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            <div>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label>Name<span style="color:red">*</span></label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label>Alias</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Alias">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea type="text" class="form-control form-control-sm" rows="1" ng-model="newDet.Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <footer class="main-footer">
                                    <div class="text-right control-btns">
                                        <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateEthinicity()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Save</button>
                                    </div>
                                </footer>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>