
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.Att_EmployeeWiseEmpAttendance)";
</script>

<script src="~/jslib/hr/Report/EmployeeWiseEmpAttendance.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="EmployeeWiseEmpAttendanceController" ng-init="LoadData()">
    <div class="sale-page-wrap" data-bind="nextFieldOnEnter:true">
        <div class="overflow-hidden">
            <nav id="sidebarzz" class="order-last float-right active">
                <div class="custom-menu">
                    <button type="button" id="ctmRightSidebarCollapse" class="btn btn-primary"></button>
                </div>
                <div class="" id="firstpanel">
                    <div class="right-box-wrap">
                        <!--Add the required Contents of sidebar-->
                        <div class="d-xl-block" style="height: 200px;"></div>
                    </div>
                </div>
            </nav>
            <div class="content-wrapper-new">
                <section class="">
                    <div class="container-fluid">
                        <section class="iframe-content-starts-here">
                            <div class="tab-content">
                                <div id="day-book-section">
                                    <div class="card px-2 pt-2 pb-0">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Date From</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newEmp.DateFrom_TMP" date-detail="newEmp.DateFromDet">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Date To</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newEmp.DateTo_TMP" date-detail="newEmp.DateToDet">
                                                </div>
                                            </div>
                                            <div class="col-md-4 mt-4" id="selectStu">
                                                <label class="sr-only" for="inlineFormInputGroup">Select Employee</label>
                                                <div class="input-group-prepend">
                                                    <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset;border-bottom-right-radius: unset;margin-right: -3px;z-index: 1; font-size: 13px;" ng-model="newEmp.SelectEmployee">
                                                        <option ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newEmp.SelectEmployee">
                                                            {{ss.text}}
                                                        </option>
                                                    </select>
                                                    <select class="form-control select2 form-control-sm" all-employee ng-model="newEmp.EmployeeId" employee-detail="newEmp.EmployeeDetails" side-bar-data="newEmp.EmpSideBarData" search-by="newEmp.SelectEmployee" style="width: 100%;" confirm-action="getEmpBIOAttendance()">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mt-4">
                                                <div class="float-right form-inline">
                                                    <button class="btn btn-sm btn-info load" style="min-width: 90px;" type="button" ng-click="getEmpBIOAttendance()">Load</button>
                                                    <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                                         data-placement="top" title="Download File">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#" ng-click="DownloadAsXls()">
                                                                <img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                Excel
                                                            </a>
                                                            <a class="dropdown-item" href="#" ng-click="onBtExportCSV()">
                                                                <img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png"
                                                                     class="img-fluid exports-icon">
                                                                CSV
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                                       data-toggle="tooltip" data-placement="bottom" title="Print">
                                                        <i class="fas fa-print"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Days"><b>Total Days: {{newEmp.TotalDays}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Present"><b>Present: {{newEmp.TotalPresent}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Absent"><b>Absent: {{newEmp.TotalAbsent}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Weekend"><b>Weekend: {{newEmp.TotalWeekEnd}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Holiday"><b>Holiday: {{newEmp.TotalHoliday}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total OT Hrs"><b>T OT Hrs: {{newEmp.TotalOTHours}}</b></label>
                                            </div>

                                            <div class="col-md-3 col-sm-3 d-flex">
                                                <div class="col-md-6 p-0">
                                                    <label title="Weekend Present"><b>WP: {{newEmp.TotalWP}}</b></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label title="Holiday Present"><b>HP: {{newEmp.TotalHP}}</b></label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 d-flex">
                                                <div class="col-md-6 p-0">
                                                    <label><b>Leave: {{newEmp.TotalLeave}}</b></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label title="Leave Present"><b>LP: {{newEmp.TotalLP}}</b></label>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Working Hrs"><b>TW Hrs: {{newEmp.TotalWorkingHrs}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total LateIn(min)"><b>T LateIn: {{newEmp.TotalLateIn}}</b></label>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <label title="Total Early Out(min)"><b>T EarlyOut: {{newEmp.TotalEarlyOut}}</b></label>
                                            </div>
                                        </div>
                                        <div id="datatable3" style="height: calc(100vh - 9rem);width: 100%;" class="ag-theme-alpine"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.row -->
                    </div>
                    <!--/. container-fluid -->
                </section>
            </div>
            <!-- /.content -->
        </div>
    </div>
</div>
<script>
    (function ($) {
        "use strict";
        var fullHeight = function () {
            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();
        $('#ctmRightSidebarCollapse').on('click', function () {
            $('#sidebarzz').toggleClass('active');
        });

    })(jQuery);
</script>