
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.Att_InOutDetails)";
</script>

<script src="~/jslib/hr/Report/InOutDetails.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="InOutController" ng-init="LoadData()">
    <div class="box-body">
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-body p-2">
                        <div id="day-book-section">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> From Date</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newInOutDet.FromDate_TMP" date-detail="newInOutDet.FromDateDet">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> To Date</label>
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="newInOutDet.ToDate_TMP" date-detail="newInOutDet.ToDateDet">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <multi-select-option ng-model="newInOutDet.CompanyIdColl" data="CompanyRelationshipList" label="Name" value="TranId"></multi-select-option>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Branch</label>
                                        <multi-select-option ng-model="newInOutDet.BranchIdColl" data="BranchList" label="Name" value="BranchId"></multi-select-option>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Department</label>
                                        <multi-select-option ng-model="newInOutDet.DepartmentIdColl" data="DepartmentList" label="Name" value="DepartmentId"></multi-select-option>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Designation</label>
                                        <multi-select-option ng-model="newInOutDet.DesignationList" data="DesignationList" label="Name" value="DesignationId"></multi-select-option>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Level</label>
                                        <multi-select-option ng-model="newInOutDet.LevelIdColl" data="LevelList" label="Name" value="LevelId"></multi-select-option>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select Report </label>
                                        <select name="comment-group" id="" form="" class="form-control form-control-sm select2" ng-change="PrintInOutDet()" ng-model="newInOutDet.RptTranId">
                                            <option ng-value="0" ng-selected="true">Select Report</option>
                                            <option ng-value="rt.RptTranId" ng-repeat="rt in newInOutDet.TemplatesColl">{{rt.ReportName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1 mt-4">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-info load" style="min-width: 90px;" type="button" ng-click="PrintInOutDet()">Load</button>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <iframe id="frmRptTabulation" style='width: 100%;height:calc(100vh - 200px);background-color: white;visibility: visible;' frameborder='0' scrolling='yes'></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/. container-fluid -->
            </div>
            <!-- /.content -->
        </div>

    </div>

</div>
