
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.RptFormsEntity.Att_ManualAttendance)";
</script>

<script src="~/jslib/hr/Report/ManualAttendance.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="ManualAttendanceController" ng-init="LoadData()">
    <div class="sale-page-wrap" data-bind="nextFieldOnEnter:true">
        <div class="overflow-hidden">
            <nav id="sidebarzz" class="order-last float-right active">
                <div class="custom-menu">
                    <button type="button" id="ctmRightSidebarCollapse" class="btn btn-primary"></button>
                </div>
                <div class="" id="firstpanel">
                    <div class="right-box-wrap">
                        <!--Add the required Contents of sidebar-->
                        <div class="d-xl-block" style="height: 200px;"></div>
                    </div>
                </div>
            </nav>
            <div class="content-wrapper-new">
                <section class="">
                    <div class="container-fluid">
                        <section class="iframe-content-starts-here">
                            <div class="tab-content">
                                <div id="day-book-section">
                                    <div class="card px-2 pt-2 pb-0">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>For Date</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm" date-picker ng-model="newManual.ForDate_TMP" date-detail="newManual.ForDateDet">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-show="CompanyRelationshipList.length>1">
                                                    <label> Company</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newManual.CompanyRelationshipId" style="width: 100%;">
                                                        <option ng-value="0">**Select All**</option>
                                                        <option ng-repeat="tdc in CompanyRelationshipList" ng-value="tdc.TranId"> {{tdc.Name}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-show="BranchList.length>1">
                                                    <label> Branch</label>
                                                    <select class="form-control form-control-sm select2" ng-model="newManual.BranchId">
                                                        <option ng-value="0" selected>All</option>
                                                        <option ng-value="brc.BranchId" ng-repeat="brc in BranchList">{{brc.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mt-4">
                                                <div class="float-right form-inline">
                                                    <button class="btn btn-sm btn-info load" style="min-width: 90px;" ng-click="GetManualDailyAttendance()">Load</button>
                                                    <div class="dropdown dnld-file ml-2" data-toggle="tooltip"
                                                         data-placement="top" title="Download File">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#" ng-click="DownloadAsXls()">
                                                                <img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png"
                                                                     class="img-fluid exports-icon" alt="Excel image">
                                                                Excel
                                                            </a>
                                                            <a class="dropdown-item" href="#" ng-click="onBtExportCSV()">
                                                                <img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png"
                                                                     class="img-fluid exports-icon">
                                                                CSV
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                                       data-toggle="tooltip" data-placement="bottom" title="Print">
                                                        <i class="fas fa-print"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div id="datatable4" style="height: calc(100vh -  7rem);width: 100%;" class="ag-theme-alpine"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.row -->
                    </div>
                    <!--/. container-fluid -->
                </section>
            </div>
            <!-- /.content -->
        </div>
    </div>
</div>
<script>
    (function ($) {
        "use strict";
        var fullHeight = function () {
            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();
        $('#ctmRightSidebarCollapse').on('click', function () {
            $('#sidebarzz').toggleClass('active');
        });

    })(jQuery);
</script>