@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<script src="~/jslib/Setup/Job Card/NewJobCard.js"></script>
<div ng-app="myApp" ng-controller="NewJobCard" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="card" style="min-height:1050px">
                    <div class=" p-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Job No.</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.JobNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width:90px">Date</label>
                                    <input type="text" date-picker class="form-control form-control-sm"  ng-model="beData.EntryDateTime" date-details="JobCardDateDet"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group d-flex">
                                    <input type="time" class="form-control form-control-sm" ng-model="beData.JobCardTime" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <select class="input-group-text dropdown-toggle p-0" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false" style="outline: none; font-size: 14px" ng-model="beData.EngineId">
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <option class="dropdown-item">
                                                Engine No
                                            </option>
                                            <option class="dropdown-item">
                                                Chasis No
                                            </option>
                                            <option class="dropdown-item">Id</option>
                                        </select>
                                    </div>
                                    <select class="form-control select2bs4 form-control-sm">
                                        <option selected="selected">
                                        </option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Job Card For</label>
                                    <select class="form-control form-control-sm select2" readOnly ng-model="beData.JobCardForId">
                                        <option></option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-groupx">
                                    <label>Party</label>
                                    <input type="text" class="form-control form-control-sm" rea ng-model="beData.Party" />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Service Type</label>
                                    <select class="form-control form-control-sm select2" disabled ng-model="beData.ServiceType">
                                        <option></option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Job Card Type</label>
                                    <select class="form-control form-control-sm select2" disabled ng-model="beData.JobCardType">
                                        <option></option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Team Leader</label>
                                    <select class="form-control form-control-sm select2" ng-model="beData.TeamLeaderId">
                                        <option></option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Service Engineer</label>
                                    <select class="form-control form-control-sm select2" ng-model="beData.ServiceEngineerId">
                                        <option></option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="customCheckboxWarr" value="option1" ng-model="beData.Warranty">
                                            <label for="customCheckboxWarr"
                                                   class="custom-control-label">
                                                Is Under Warranty
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="customCheckboxAmc" value="option1" ng-model="beData.AMC">
                                            <label for="customCheckboxAmc"
                                                   class="custom-control-label">
                                                Is AMC
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Running Hour</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.RunningHR" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Running KM</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="beData.RunningKM" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Complain</label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Complain"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jobs To be Attended</label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.JobTobeAttended"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Remarks"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Party MO.No.</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.PartyMobileNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Driver MO.No.</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.DriverMobileNo"/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Estimated Time</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.EstimatedTime"/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Estimated Cost</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.EstimatedCost" style="text-align: right;"/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date of Sale</label>
                                    <input type="text" date-picker class="form-control form-control-sm" ng-model="beData.DateOfSale" date-details="DateOfSaleDet" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Dealer</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Dealer" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Site Location</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.SiteLocation" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Engine No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.EngineNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>ECh. Srl.No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.EchSrlNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Regd No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.RegdNo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer Type</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.CustomerType" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">Last Job Details</h5>
                    </div>
                    <div class="p-2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Job No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.Last_JobNo" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" date-picker class="form-control form-control-sm" readonly ng-model="beData.LastDate" date-details="LastDateDet" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Hr</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastHr" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Km</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastKm" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Service Type</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastServiceType" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Complain</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastComplain"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>FeedBack</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.LastFeedBack" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.Last_Remarks" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">Complain Inspection Details</h5>
                    </div>
                    <div class="p-2">
                        <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 250px);">
                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:70px; z-index: 3; background-color: #ececec !important">S.No</th>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Complain</th>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Diagnosis</th>
                                        <th style="width: 200px; z-index: 3; background-color: #ececec !important">Action Taken</th>
                                        <th style="width: 80px; z-index: 3; background-color: #ececec !important">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="jc in beData.NewJobCardColl">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" ng-model="jc.Complain">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" ng-model="jc.Diagnosis">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" ng-model="jc.ActionTaken">
                                        </td>
                                        <td class="text-center align-middle">
                                            <div>
                                                <a class="p-1" ng-click="AddNewJobCardDet()">
                                                    <i class="fas fa-plus text-secondary"></i>
                                                </a>

                                                <a class="p-1" ng-click="delNewJobCardDet($index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer">
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-4 mt-2">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#documentAttachModal">
                                Document Attach @*({{beData.AttechFiles.length}} )*@
                            </button>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="text-right control-btns">
                            <button type="button" class="btn btn-default btn" ng-click="ClearNewJobCard()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                            <button type="button" class="btn btn-primary btn" ng-click="AddNewJobCard()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Accept</button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade sales-invoice-page-modal document-attach-modal" id="documentAttachModal" tabindex="-1" role="dialog" aria-labelledby="documentAttachModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalCenterTitle">Document Attach</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body gradient-bg">
                    <div class="input-group" ng-repeat="fl in beData.AttechFiles">
                        <a href="#">{{$index+1}}  -  {{fl.name}}</a>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile" multiple file-model="beData.AttechFiles" ng-model="beData.AttechFiles">
                            <label class="custom-file-label" for="exampleInputFile">Choose file ({{beData.AttechFiles.length}} )</label>
                        </div>
                    </div>
                </div>
                <!-- end modal body -->
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-sm btn-primary">Ok</button>*@
                </div>
            </div>
        </div>
    </div>
</div>