@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Setup/Job Card/VehiclePartyTransfor.js"></script>
<div ng-app="myApp" ng-controller="VehiclePartyTransfor" ng-class="{waiting: loadingstatus=='running'}" ng-init="GetAllPartyTransfer()">
    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group d-flex">
                            <label class="mt-1">Date</label>
                            <input type="text" class="form-control form-control-sm ml-2" date-picker ng-model="newDet.EntryDate" date-detail="newDet.EntryDateDet"style="width:150px;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex">
                            <label class="mt-1" style="width:150px">Engine No</label>
                            <input type="text" class="form-control form-control-sm ml-2" style="width:150px;" ng-model="newDet.EngineNo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex">
                            <label class="mt-1" style="width:150px">Chesis Srl. No.</label>
                            <input type="text" class="form-control form-control-sm ml-2" style="width:150px;" ng-model="newDet.ChassisNo">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">From Customer Details</h5>
                    </div>
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Name :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newDet.FromParty">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Address :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.FromAddress" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Citizenship No. :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.FromCitizenshipNo" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Owner Mob No. :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.FromMobileNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email Id</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.FromEmailId" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Driver Mob No.</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.FromDriverMobNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Customer Type</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm select2" ng-model="newDet.FromCustomerType" readonly>
                                                <option></option>
                                                <option>1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox11" value="option11" ng-model="newDet.FromWarrenty">
                                    <label for="customCheckbox11"
                                           class="custom-control-label">
                                        Is UnderWarrenty
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox13" value="option13"ng-model="newDet.FromAMC">
                                    <label for="customCheckbox13"
                                           class="custom-control-label">
                                        Is AMC
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Customer Id</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.FromCustomerId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">To Customer Details</h5>
                    </div>
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Name :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newDet.ToParty">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Address :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToAddress" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Citizenship No. :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToCitizenshipNo" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Owner Mob No. :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToMobileNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email Id</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToEmailId" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Driver Mob No.</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToDriverMobileNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Customer Type</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm select2" ng-model="newDet.ToCustomerType" readonly >
                                                <option></option>
                                                <option>1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox1" value="option1"ng-model="newDet.ToWarrenty">
                                    <label for="customCheckbox1"
                                           class="custom-control-label">
                                        Is UnderWarrenty
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox14" value="option14"ng-model="newDet.ToAMC">
                                    <label for="customCheckbox14"
                                           class="custom-control-label">
                                        Is AMC
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Customer Id</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToCustomerId" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">Vehicle Registration</h5>
                    </div>
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>From Regd No :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newDet.FromRegdNO">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>To Regd No :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ToRegdNO" />
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateVehiclePartyTransfor()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Accept</button>
                    </div>
                </footer>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>
