@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<script src="~/jslib/Setup/Job Card/SparePartsReturn.js"></script>
<div ng-app="myApp" ng-controller="SparePartsReturn" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <select class="input-group-text dropdown-toggle p-0" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="outline: none; font-size: 14px" ng-model="EngineId">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <option class="dropdown-item">
                                        Engine No
                                    </option>
                                    <option class="dropdown-item">
                                        Chasis No
                                    </option>
                                    <option class="dropdown-item">Id</option>
                                </select>
                            </div>
                            <select class="form-control select2bs4 form-control-sm">
                                <option selected="selected">
                                </option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-flex">
                            <label class="mt-1 text-nowrap" style="width:100px">Job No.</label>
                            <input type="text" class="form-control form-control-sm" ng-model="beData.JobNo" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-flex">
                            <label class="mt-1 text-nowrap" style="width:120px">Entry Date</label>
                            <input type="text" date-picker class="form-control form-control-sm" ng-model="beData.EntryDate" date-details="EntryDateDetails" />
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                        <h5 class="mb-0">Job Card Details</h5>
                    </div>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Engine No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.EngineNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Ch.Srl.No.</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.ChassisNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Regd. No.</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.RegdNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Party</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.Party" />
                                </div>
                            </div>
                        </div>

                        <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 205px);">
                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Product</th>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Alternate Product</th>
                                        <th class="text-center" style="width:110px; z-index: 3; background-color: #ececec !important">Demand Rate</th>
                                        <th class="text-center" style="width: 110px; z-index: 3; background-color: #ececec !important">Demand Qty</th>
                                        <th class="text-center" style="width: 90px; z-index: 3; background-color: #ececec !important">Issue Qty</th>
                                        <th class="text-center" style="width: 90px; z-index: 3; background-color: #ececec !important">Return Qty</th>
                                        <th class="text-center" style="width: 100px; z-index: 3; background-color: #ececec !important">Return Rem..</th>
                                        <th class="text-center" style="width: 90px; z-index: 3; background-color: #ececec !important">Rate</th>
                                        <th class="text-center" style="width: 100px; z-index: 3; background-color: #ececec !important">Amount</th>
                                        <th class="text-center" style="width: 80px; z-index: 3; background-color: #ececec !important">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="pr in beData.SparePartsColl">
                                        <td>
                                            <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="sp.ProductId" id="cboProduct"
                                                    placeholder=" Select Product  " showdetails="true" product-detail="sp.productDetail" side-bar-data="sp.sideBarData">
                                            </select>
                                        </td>
                                        <td>
                                            <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="sp.AlternateProductId" id="cboProduct"
                                                    placeholder=" Select Product  " showdetails="true" product-detail="sp.productDetail" side-bar-data="sp.sideBarData">
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.DemandRate" onfocus="this.select()" style="text-align: right">
                                        </td>

                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.DemandQty" onfocus="this.select()" style="text-align: right">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.IssueQty" onfocus="this.select()" style="text-align: right">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.ReturnQty" onfocus="this.select()" style="text-align: right">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.ReturnRem" onfocus="this.select()" style="text-align: right">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.Rate" onfocus="this.select()" style="text-align: right">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="pr.Amount" onfocus="this.select()" style="text-align: right">
                                        </td>
                                        <td class="text-center">
                                            <div>
                                                <a class="p-1" ng-click="AddSparePartsReturnDet()" data-original-title="View doc">
                                                    <i class="fas fa-plus text-secondary"></i>
                                                </a>

                                                <a class="p-1" ng-click="delSparePartsReturnDet($index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default btn" ng-click="ClearSpareParts()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateSparePartsReturn()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Accept</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>