@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<script src="~/jslib/Setup/Job Card/VechicleEntry.js"></script>
<div ng-app="myApp" ng-controller="VehicleEntry" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">

                <div class="card">
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Entry No</label>
                                    <input type="text" class="form-control form-control-sm" disabled ng-model="beData.EntryNo"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px" >Vin No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.VinNo" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Date</label>
                                    <input type="text" date-picker class="form-control form-control-sm" ng-model="beData.DateOfSale" date-details="DateOfSaleDet" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Vehicle Type</label>
                                    <select class="form-control form-select select2 form-control-sm" style="width: 100%;" ng-model="beData.VechicleTypeId">
                                        <option>VehicleType 1</option>
                                        <option>VehicleType 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Vehicle Color</label>
                                    <select class="form-control form-select select2 form-control-sm" style="width: 100%;" ng-model="beData.VechicleColorId">
                                        <option>VehicleType 1</option>
                                        <option>VehicleType 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Model</label>
                                    <select class="form-control form-select select2 form-control-sm" style="width: 100%;" ng-model="beData.VechicleModelId">
                                        <option>VehicleType 1</option>
                                        <option>VehicleType 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Regd No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.RegdNo"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Engine No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.EngineNo"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Chasis No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.ChSrlNo" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Code No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.CodeNo"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Key No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.KeyNo"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">MFG. Year</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.MFGYear"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Transporter</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.Transporter" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Shipment No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.ShipmentNo" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Delivery No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.DeliveryNo" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">LRNo</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.LRNo"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">LRDate</label>
                                    <input type="text" date-picker class="form-control form-control-sm" ng-model="beData.LRDate" date-details="LRDateDet"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Driver</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.LRDriver"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Licence No</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.LRDriverLicNo"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Received By</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.ReceivedByName" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Running KM</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.LastRunningKM"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Running HR</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="beData.LastRunningHR" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Remarks</label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Remarks"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 100px);">
                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                <thead>
                                    <tr >
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Field Name</th>
                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Values</th>

                                        <th class="text-center" style="width: 80px; z-index: 3; background-color: #ececec !important">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="ve in beData.VechicleEntryColl">
                                        <td>
                                            <input type="text" class="form-control form-control-sm" ng-model="ve.FieldName">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="ve.FieldValue" onfocus="this.select()" style="text-align: right;">
                                        </td>
                                        <td class="text-center align-middle">
                                            <div>
                                                <a class="p-1" ng-click="AddVehicleEntryDet()" data-original-title="View doc">
                                                    <i class="fas fa-plus text-secondary"></i>
                                                </a>

                                                <a class="p-1" ng-click="delVehicleEntryDet($index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default btn" ng-click="ClearVehicleEntry()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                        <button type="button" class="btn btn-primary btn" ng-click="AddVehicleEntry()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Accept</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>