
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")


@*<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.HR_Configuration)";
</script>*@



<script src="~/jslib/hr/SetUp/Configuration.js"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="ConfigurationController" ng-init="LoadData()">

    <div class="box-body">
        <div class="content">
            <div class="container-fluid">

                <div>
                    <div class="card p-2">
                        <div class="p-2 card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Employee Code Numbering Method</label>
                                        <select class="form-control form-control-sm select2" ng-model="newConfig.EmpCodeNumberingMethod" style="width: 100%">
                                            <option ng-value="nm.value" ng-repeat="nm in numberingMethods" ng-selected="nm.value==newConfig.EmpCodeNumberingMethod">{{nm.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Employee Code Prefix</label>
                                        <input class="form-control form-control-sm" type="text" ng-model="newConfig.CodePrefix" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Employee Code Suffix</label>
                                        <input class="form-control form-control-sm" type="text" ng-model="newConfig.CodeSuffix" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">StartNo</label>
                                        <input class="form-control form-control-sm" type="number" ng-model="newConfig.StartNo" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Number Pad Width</label>
                                        <input class="form-control form-control-sm" type="number" ng-model="newConfig.NumericalPartWidth" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Left Employee Configuration</label>
                                        <select class="form-control form-control-sm" style="width: 100%" ng-model="newConfig.LeftEmployeeConfig">
                                            <option ng-value="lc.id" ng-repeat="lc in LeftStudentConfigColl" ng-selected="lc.id==newConfig.LeftEmployeeConfig">{{lc.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Allow Re-Generate Employee User Password</label>
                                    <div class="form-group clearfix">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="HL-yes" name="HL" ng-value="true" ng-model="newConfig.AllowReGenerateUserPwd">
                                            <label class="form-check-label" for="HL-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="HL-no" name="HL" ng-value="false" ng-model="newConfig.AllowReGenerateUserPwd">
                                            <label class="form-check-label" for="HL-no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Retirement Age</label>
                                        <input class="form-control form-control-sm" type="number" ng-model="newConfig.RetirementAge" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="time-label pb-3">
                            <span class="d-block border-0 text-center">
                                <button type="button" class="btn btn-sm btn-default load" style="min-width: 90px;" ng-click="ClearConfig()">Reset</button>
                                <button type="button" class="btn btn-sm btn-info load" style="min-width: 90px;" ng-click="SaveEmployeeConfiguration()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


