@{
    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/hospital/BillList.js"></script>
<style>

    #datatable1 {
        width: 100%;
        min-width: 800px;
    }

        #datatable1 thead th,
        #datatable1 tbody td {
            text-align: center;
            padding: 8px;
        }

    .table-container {
        overflow: auto;
    }

    .table-scroll {
        max-height: 100%;
        overflow-y: auto;
    }

    .table {
        margin: 0;
        width: 100%;
    }
</style>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="BillListController" ng-init="LoadData()">
    <div class="sale-page-wrap" data-bind="nextFieldOnEnter:true">
        <div class="overflow-hidden">
            <nav id="sidebarzz" class="order-last float-right active active">
                <div class="custom-menu">
                    <button type="button" id="ctmRightSidebarCollapse" class="btn btn-primary"></button>
                </div>
                <div class="" id="firstpanel">
                    <div class="right-box-wrap">
                        <!--Anything to be added here-->
                    </div>
                </div>
            </nav>
            <div class="content-wrapper-new">
                <!-- Main content -->
                <section>
                    <div class="container-fluid">
                        <section class="iframe-content-starts-here">
                            <div class="tab-content">
                                <div id="day-book-section">
                                    <div class="card p-2">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="d-inline-block">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">From:</span>
                                                        </div>
                                                        <input class="form-control text-dark input-sm" type="text" date-picker ng-model="NewDet.DateFrom_TMP" style="max-width:100px" date-detail="NewDet.DateFromDet" />
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <input class="form-control text-dark input-sm" type="text" date-picker ng-model="NewDet.DateTo_TMP" style="max-width:100px" date-detail="NewDet.DateToDet" />
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-sm-8 d-flex" style="justify-content: space-around">
                                                    <div class="form-group d-flex  mb-0">
                                                        <span style="min-width: 55px;" class="mr-2 mt-1">Bill No.:</span>
                                                        <input class="form-control text-dark input-sm" type="text" style="max-width:200px" />
                                                    </div>
                                                    <div class="form-group d-flex  mb-0">
                                                        <span style="min-width: 70px;" class="mr-2 mt-1">PatientId :</span>
                                                        <input class="form-control text-dark input-sm" type="text" style="max-width:200px" />
                                                    </div>
                                                </div>*@

                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <a href="#" class="btn btn-primary load px-1" style="float: right; min-width: 75px" data-toggle="tooltip" data-placement="top" title="" data-original-title="Load" ng-click="GetAllBillList()" ng-disabled="loadingstatus=='running'"><i class="fas fa-download"> &nbsp;&nbsp;Load</i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card p-2" id="grid-table">
                                        <header class="row">
                                            <div class="col-md-5 col-sm-5">
                                                <div class="clearfix">
                                                    <form class="form-inline">
                                                        <div class="input-group input-group-sm mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text cstm">Find:</span>
                                                            </div>
                                                            <select class="form-control pr-0" id="exampleFormControlSelect1">
                                                                <option>Contain</option>
                                                                <option>Prefix</option>
                                                            </select>
                                                        </div>
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">

                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-7 text-right">
                                                <form class="form-inline float-right">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Search By:</span>
                                                        </div>
                                                        <select class="form-control pr-0" id="exampleFormControlSelect1">
                                                            <option ng-value="cl.field" ng-repeat="cl in columnDefs">{{cl.headerName}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group input-group-sm" style="width: 170px;">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown dnld-file ml-2">
                                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-download"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                            <span class="dropdown-item">Choose an option:</span>
                                                            <a class="dropdown-item" href="#" ng-click="onBtExport()">
                                                                <img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image">
                                                                Excel
                                                            </a>
                                                            <a class="dropdown-item" href="#" ng-click="onBtExportCSV()">
                                                                <img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon">
                                                                CSV
                                                            </a>

                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary btn-light btn-sm ml-2" title="Print" ng-click="Print()">
                                                        <i class="fas fa-print"></i>
                                                    </a>

                                                </form>
                                            </div>
                                        </header>
                                        <div id="datatable" style="height: calc(100vh - 8rem)!important; width: 100%;" class="ag-theme-alpine" ag-grid="gridOptions"></div>

                                    </div>
                                </div>
                                @*Detail*@
                                <div id="patientDetailDiv" class="container-fluid">
                                    <div class="card p-2">
                                        <div class="timeline registration">
                                            <!-- Timeline for  Bill Details* -->
                                            <div class="time-label">
                                                <span style="border: 2px solid #dee2e6;">
                                                    Bill Details
                                                </span>
                                            </div>
                                            <div class="ml-5">

                                                <header class="row">
                                                    <div class="col-md-8">
                                                        <div class="clearfix">
                                                            <form class="form-inline">

                                                                <div class="input-group input-group-sm table-search-filed">
                                                                    <input class="form-control form-control-navbar" type="search"
                                                                           placeholder="Search" aria-label="Search" ng-model="searchData.Bill">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-default border-left-0" type="submit">
                                                                            <i class="fas fa-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>


                                                </header>

                                                <div class="">
                                                    <div class="table-container">
                                                        <div class="card table-scroll-x-y" style="height: auto !important; max-height: 300px !important; overflow: auto !important;">
                                                            <table cellpadding="12" class="main-table table table-sm table-bordered" id="datatable1" @*style="white-space: nowrap;"*@>
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align: center; width: 60px; background-color: #ececec !important; z-index: 2;">
                                                                            S.No.
                                                                        </th>
                                                                        <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                            Date
                                                                        </th>
                                                                        <th style="text-align: center; width: 80px; background-color: #ececec !important; z-index: 2;">
                                                                            Time
                                                                        </th>
                                                                        <th style="text-align: center; width: 120px; background-color: #ececec !important; z-index: 2;">
                                                                            Bill No
                                                                        </th>
                                                                        <th style="text-align: center; width: 120px; background-color: #ececec !important; z-index: 2;">
                                                                            Bill Date
                                                                        </th>
                                                                        <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                            Doc
                                                                        </th>
                                                                        <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                            Other Doc
                                                                        </th>
                                                                        <th style="text-align: center; width: 150px; background-color: #ececec !important; z-index: 2;">
                                                                            Test Name
                                                                        </th>
                                                                        <th style="text-align: center; width: 120px; background-color: #ececec !important; z-index: 2;">
                                                                            Department
                                                                        </th>

                                                                        <th style="text-align: center; width: 80px; background-color: #ececec !important; z-index: 2;">
                                                                            Qty
                                                                        </th>
                                                                        <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                            Amount
                                                                        </th>
                                                                        <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                            Dis. Per
                                                                        </th>
                                                                        <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                            Dis. Amt
                                                                        </th>
                                                                        <th style="text-align: center; width: 120px; background-color: #ececec !important; z-index: 2;">
                                                                            Grand Total
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="P in BilldetailListColl">
                                                                        <td style="text-align: center; margin: auto; background-color: #ffffff !important; z-index: 2; ">

                                                                            <label>
                                                                                <input id="chkBD{{$index}}" type="checkbox" ng-model="P.IsSelected" style="width:15px;height:15px;" ng-change="ChangeBillDetails(P,$index)" />  {{ $index+1 }}
                                                                            </label>
                                                                        </td>
                                                                        <td style="text-align:center;margin:auto; background-color: #ffffff !important; z-index: 2; ">
                                                                            <label for="chkBD{{$index}}">
                                                                                {{ P.VoucherMiti }}
                                                                            </label>

                                                                        </td>
                                                                        <td style="text-align:left;margin:auto; background-color: #ffffff !important; z-index: 2; ">
                                                                            <label for="chkBD{{$index}}">
                                                                                {{ P.Time |timeFormat}}
                                                                            </label>

                                                                        </td>
                                                                        <td style="text-align:center;margin:auto; background-color: #ffffff !important; z-index: 2; ">
                                                                            <label for="chkBD{{$index}}">
                                                                                {{ P.BillNo }}
                                                                            </label>

                                                                        </td>
                                                                        <td style="text-align: center; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            <label for="chkBD{{$index}}">
                                                                                {{ P.VoucherMiti }}
                                                                            </label>

                                                                        </td>
                                                                        <td style="text-align: left; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.Doctor }}
                                                                        </td>
                                                                        <td style="text-align: left; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.OtherDoctor }}
                                                                        </td>
                                                                        <td style="text-align: left; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.TestName }}
                                                                        </td>
                                                                        <td style="text-align: left; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.Department }}
                                                                        </td>
                                                                        <td style="text-align: right; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.Qty }}
                                                                        </td>
                                                                        <td style="text-align: right; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.Amount }}
                                                                        </td>

                                                                        <td style="text-align: right; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.DisPer }}
                                                                        </td>
                                                                        <td style="text-align: right; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.DisAmt }}
                                                                        </td>
                                                                        <td style="text-align: right; margin: auto; background-color: #ffffff !important; z-index: 2;">
                                                                            {{ P.GrandTotal }}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr style="height: 35px;">
                                                                        <td colspan="9" style="text-align: center; background-color: #f9f9f9;">
                                                                            Total
                                                                        </td>
                                                                        <td style="text-align: right; background-color: #f9f9f9;">
                                                                            {{ (BilldetailListColl | sumOfValue:'Qty') |number:2}}
                                                                        </td>
                                                                        <td style="text-align: right; background-color: #f9f9f9;">
                                                                            {{ (BilldetailListColl | sumOfValue:'Amount') |number:2}}
                                                                        </td>
                                                                        <td style="text-align: right; background-color: #f9f9f9;">
                                                                        </td>
                                                                        <td style="text-align: right; background-color: #f9f9f9;">
                                                                            {{ (BilldetailListColl | sumOfValue:'DisAmt') |number:2}}
                                                                        </td>
                                                                        <td style="text-align: right; background-color: #f9f9f9;">
                                                                            {{ (BilldetailListColl | sumOfValue:'GrandTotal') |number:2}}
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Timeline for  BreakItem Details -->
                                            <div class="time-label d-flex align-content-between">
                                                <span style="border: 2px solid #dee2e6;">
                                                    Break Item Details
                                                </span>
                                                <div class="ml-3 mt-2">
                                                    <div class="text-right control-btns ">
                                                        <button type="button" class="btn btn-sm btn-success px-1" style="min-width: 75px" id="" ng-click="UpdateCommission()">Update</button>
                                                        @*<button type="button" class="btn btn-sm btn-default px-1" style="min-width: 75px" id="">Reset</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="ml-5">
                                                    <div class="">
                                                        <div class="mt-2">
                                                            <header class="row">
                                                                <div class="col-md-8">
                                                                    <div class="clearfix">
                                                                        <form class="form-inline">
                                                                            <div class="input-group input-group-sm table-search-filed">
                                                                                <input class="form-control form-control-navbar" type="search"
                                                                                       placeholder="Search" aria-label="Search" ng-model="searchData.BreakItem">
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-default border-left-0" type="submit">
                                                                                        <i class="fas fa-search"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                            </header>
                                                            <!-- table input start  -->
                                                            <div class="table-container">
                                                                <div class="card table-scroll-x-y" style="height: auto !important; max-height: 300px !important; overflow: auto !important;">
                                                                    <table cellpadding="12" id="main-table" class="main-table table table-sm table-bordered" @*style="white-space: nowrap;"*@>
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center" style="width: 60px; background-color: #ececec !important; z-index: 2;">
                                                                                    Action
                                                                                </th>
                                                                                @*<th style="width: 56px; background-color: #ececec !important; z-index: 2;">
                                                                                    S.No.
                                                                                </th>*@
                                                                                <th style="width: 150px; background-color: #ececec !important; z-index: 2;">
                                                                                    Doctor
                                                                                </th>
                                                                                <th style="width: 120px; background-color: #ececec !important; z-index: 2;">
                                                                                    Amount
                                                                                </th>
                                                                                <th style="width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                                    Comm. Rate (Rs)
                                                                                </th>
                                                                                <th style="width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                                    Comm. Amt. (Rs)
                                                                                </th>
                                                                                <th style="width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                                    Comm.Amount
                                                                                </th>
                                                                            </tr>
                                                                        </thead>

                                                                        <tbody>
                                                                            <tr ng-repeat="item in SelectedBDet.BreakItemColl">
                                                                                <td class="project-actions" style="text-align:center">
                                                                                    <div class="btn-group-sm">
                                                                                        <a class="btn btn-success" ng-click="addBreakItem($index)"><i class="fas fa-plus  text-white"></i></a>
                                                                                        <a class="btn btn-danger" ng-click="deleteBreakItem($index)"><i class="fas fa-trash text-white"></i></a>
                                                                                    </div>
                                                                                </td>
                                                                                @*<td>{{$index+1}}</td>*@
                                                                                <td>
                                                                                    <select class="form-control form-control-sm" style="width: 100%;" ng-model="item.DoctorId" active-select2>
                                                                                        <option ng-value="0">**select Doctor**</option>
                                                                                        <option ng-value="cl.DoctorId" ng-repeat="cl in DoctorColl" ng-selected="cl.DoctorId==item.DoctorId">{{cl.Name}}</option>
                                                                                    </select>
                                                                                </td>

                                                                                <td>
                                                                                    <input type="number" class="form-control form-control-sm text-right" ng-model="item.Amount" disabled />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="number" class="form-control form-control-sm text-right" ng-model="item.RatePer" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="number" class="form-control form-control-sm text-right" ng-model="item.Rate" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="number" class="form-control form-control-sm text-right" ng-model="item.Total" ng-change="CalculateDoctorFraction()" />
                                                                                </td>

                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr style="height: 35px;">
                                                                                <td colspan="2" style="text-align: center; background-color: #f9f9f9;">
                                                                                    Total
                                                                                </td>
                                                                                <td style="text-align: right; background-color: #f9f9f9; min-width: 150px;">
                                                                                    @*{{ (SelectedBDet.BreakItemColl | sumOfValue:'Amount') |number:2}}*@

                                                                                </td>
                                                                                <td style="text-align: right; background-color: #f9f9f9;">
                                                                                </td>
                                                                                <td style="text-align: right; background-color: #f9f9f9;">
                                                                                </td>
                                                                                <td style="text-align: right; background-color: #f9f9f9;">
                                                                                    {{ (SelectedBDet.BreakItemColl | sumOfValue:'Total') |number:2}}
                                                                                </td>

                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="cold-md-12 ml-3 d-flex">
                                                                    <p style="min-width: 160px">Total Fraction Amount</p><p> :  {{totalFractionAmount}}</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span style="border: 2px solid #dee2e6;">
                                                    Doctor's Fraction
                                                </span>
                                            </div>
                                            <div class="ml-5">
                                                <div class="search-toolbar mb-3 mt-2">
                                                    <header class="row">
                                                        <div class="col-md-8">
                                                            <div class="clearfix">
                                                                <form class="form-inline">

                                                                    <div class="input-group input-group-sm table-search-filed">
                                                                        <input class="form-control form-control-navbar" type="search"
                                                                               placeholder="Search" aria-label="Search" ng-model="searchData.DoctorFraction">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                                <i class="fas fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- end col-md-8 -->

                                                    </header>
                                                    <div class="card table-scroll-x-y" style="height: auto !important; max-height: 300px !important; overflow: auto !important;">

                                                        <table cellpadding="12" class="table table-bordered table-striped table-hover table-sm" id="datatable1" @*style="white-space: nowrap;"*@>
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align: center; width: 54px; background-color: #ececec !important; z-index: 2;">
                                                                        S.No.
                                                                    </th>
                                                                    <th style="text-align: center; width: 200px; background-color: #ececec !important; z-index: 2;">
                                                                        Doctor Name
                                                                    </th>
                                                                    <th style="text-align: center; width: 150px; background-color: #ececec !important; z-index: 2;">
                                                                        Total Amount
                                                                    </th>
                                                                    <th style="text-align: center; width: 100px; background-color: #ececec !important; z-index: 2;">
                                                                        Fraction
                                                                    </th>

                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr ng-repeat="item in DoctorWiseFractionColl">
                                                                    <td style="text-align: center; margin: auto; background-color: #ffffff !important; z-index: 2; ">
                                                                        {{$index+1}}
                                                                    </td>
                                                                    <td style="text-align:center;margin:auto; background-color: #ffffff !important; z-index: 2; ">
                                                                        <select class="form-control form-control-sm" style="width: 100%;" ng-model="item.DoctorId" disabled>
                                                                            <option ng-value="cl.DoctorId" ng-repeat="cl in DoctorColl" ng-selected="cl.DoctorId==item.DoctorId">{{cl.Name}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td style="text-align:center;margin:auto; background-color: #ffffff !important; z-index: 2; ">
                                                                        {{ item.Amount |number:2 }}
                                                                    </td>
                                                                    <td style="text-align:center;margin:auto; background-color: #ffffff !important; z-index: 2; ">
                                                                        {{ item.Total |number:2 }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="height: 30px;">
                                                                    <td colspan="2" style="text-align: center; background-color: #f9f9f9;">
                                                                        Total
                                                                    </td>
                                                                    <td style="text-align: center; background-color: #f9f9f9;">
                                                                        {{ (DoctorWiseFractionColl | sumOfValue:'Amount') |number:2}}
                                                                    </td>
                                                                    <td style="text-align: center; background-color: #f9f9f9;">
                                                                        {{ (DoctorWiseFractionColl | sumOfValue:'Total') |number:2}}
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="main-footer">
                                        <div class="text-right control-btns">
                                            <button type="button" class="btn btn-primary" id="back-to-table">Back to List</button>
                                        </div>
                                    </footer>
                                </div>


                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


