@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/setup/AccountConfiguration.js"></script>
<div ng-app="myApp" ng-controller="ctrlAccountConfiguration" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">

    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header header-corner-triangle p-2">
                    <h3 class="card-title">Account Configuration</h3>
                </div>
                <div class="card-body" style="margin-bottom:60px!important">
                    <form>
                        <div class="row">
                            @*<div class="col-md-6">

                                    <div class="form-group ">
                                        <label>Select User</label>

                                        <select class="form-control form-control-sm select2" style="width:100%;" data-placeholder="**Select User**">
                                            <option>Admin</option>
                                            <option>Admin1</option>
                                            <option>Admin2</option>
                                        </select>


                                    </div>
                                </div>*@



                            <div class="col-md-6">

                                <div class="form-group ">

                                    <label>Default apperance of LedgerGroupNames in report</label>
                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select LedgerGroupName**" ng-model="AccConfig.LedgerGroup">
                                        <option ng-value="ap.id" ng-repeat="ap in AppearancesTypeColl" ng-selected="ap.id==AccConfig.LedgerGroup">{{ap.text}}</option>
                                    </select>
                                </div>
                            </div>



                            <div class="col-md-6">

                                <div class="form-group ">

                                    <label>Default apperance of Ledger Names report</label>

                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select Ledger**" ng-model="AccConfig.Ledger">
                                        <option ng-value="ap.id" ng-repeat="ap in AppearancesTypeColl" ng-selected="ap.id==AccConfig.Ledger">{{ap.text}}</option>
                                    </select>

                                </div>
                            </div>


                            <div class="col-md-6">

                                <div class="form-group">

                                    <label>Default apperance of CostCenter Name Reports</label>

                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select Costcenter**" ng-model="AccConfig.CostCenter">
                                        <option ng-value="ap.id" ng-repeat="ap in AppearancesTypeColl" ng-selected="ap.id==AccConfig.CostCenter">{{ap.text}}</option>
                                    </select>


                                </div>
                            </div>



                            <div class="col-md-6">

                                <div class="form-group">

                                    <label>Default apperance of Area Masters Names</label>

                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select Area**" ng-model="AccConfig.AreaMaster">
                                        <option ng-value="ap.id" ng-repeat="ap in AppearancesTypeColl" ng-selected="ap.id==AccConfig.AreaMaster">{{ap.text}}</option>
                                    </select>



                                </div>
                            </div>



                            <div class="col-md-6">

                                <div class="form-group ">
                                    <label>Default apperance of SalesMan Names Report</label>

                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select Salesman**" ng-model="AccConfig.SalesMan">
                                        <option ng-value="ap.id" ng-repeat="ap in AppearancesTypeColl" ng-selected="ap.id==AccConfig.SalesMan">{{ap.text}}</option>
                                    </select>

                                </div>
                            </div>


                            <div class="col-md-6">

                                <div class="form-group">

                                    <label>Voucher Date</label>

                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select Date As**" ng-model="AccConfig.VoucherDate">
                                        <option ng-value="ap.id" ng-repeat="ap in VoucherDateColl" ng-selected="ap.id==AccConfig.VoucherDate">{{ap.text}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6"></div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Allow Multiple Currency</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary1" name="r1" ng-value="true" ng-model="AccConfig.AllowMultipleCurrency">
                                            <label for="radioPrimary1">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary2" name="r1" ng-value="false" ng-model="AccConfig.AllowMultipleCurrency">
                                            <label for="radioPrimary2">No</label>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Allow Document Attachment</label>


                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary3" name="r2" ng-value="true" ng-model="AccConfig.AllowDocumentAttechment">
                                            <label for="radioPrimary3">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary4" name="r2" ng-value="false" ng-model="AccConfig.AllowDocumentAttechment">
                                            <label for="radioPrimary4">No</label>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Allow L.F in Journal Voucher</label>


                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary5" name="r3" ng-value="true" ng-model="AccConfig.AllowLFInJournal">
                                            <label for="radioPrimary5">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary6" name="r3" ng-value="false" ng-model="AccConfig.AllowLFInJournal">
                                            <label for="radioPrimary6">No</label>
                                        </div>
                                    </div>



                                </div>
                            </div>



                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Show Current Balance</label>


                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary7" name="r4" ng-value="true" ng-model="AccConfig.ShowCurrentBalance">
                                            <label for="radioPrimary7">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary8" name="r4" ng-value="false" ng-model="AccConfig.ShowCurrentBalance">
                                            <label for="radioPrimary8">No</label>
                                        </div>
                                    </div>



                                </div>
                            </div>



                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Active SalesMan(Agent)</label>


                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary9" name="r5" ng-value="true" ng-model="AccConfig.ActiveAgent">
                                            <label for="radioPrimary9">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary10" name="r5" ng-value="false" ng-model="AccConfig.ActiveAgent">
                                            <label for="radioPrimary10">No</label>
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Active Cost Class</label>


                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary11" name="r6" ng-value="false" ng-model="AccConfig.ActiveCostClass">
                                            <label for="radioPrimary11">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary12" name="r6" ng-value="true" ng-model="AccConfig.ActiveCostClass">
                                            <label for="radioPrimary12">No</label>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Auto Post Transaction</label>


                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary13" name="r7" ng-value="true" ng-model="AccConfig.AutoPostTransaction">
                                            <label for="radioPrimary13">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary14" name="r7" ng-value="false" ng-model="AccConfig.AutoPostTransaction">
                                            <label for="radioPrimary14">No</label>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Auto Pending Cheque Receipt</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary15" name="r8" ng-value="true" ng-model="AccConfig.AutoPendingChequeReceipt">
                                            <label for="radioPrimar157">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary16" name="r8" ng-value="false" ng-model="AccConfig.AutoPendingChequeReceipt">
                                            <label for="radioPrimary16">No</label>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Multiple CostCenter</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary17" name="r9" ng-value="true">
                                            <label for="radioPrimary17">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary18" name="r9" ng-value="false">
                                            <label for="radioPrimary18">No</label>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Brand in CostCenter</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary19" name="r10" ng-value="true" ng-model="AccConfig.BrandInCostCenter">
                                            <label for="radioPrimary19">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary20" name="r10" ng-value="false" ng-model="AccConfig.BrandInCostCenter">
                                            <label for="radioPrimary20">No</label>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Location in CostCenter</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary21" name="r11" ng-value="true">
                                            <label for="radioPrimary21">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary22" name="r11" ng-value="false" checked>
                                            <label for="radioPrimary22">No</label>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group ">

                                    <label>Show Auto Opening Stock in Trail Balance Report</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary23" name="r12" ng-value="true" ng-model="AccConfig.ShowAutoClosingStock">
                                            <label for="radioPrimary23">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary24" name="r12" ng-value="false" ng-model="AccConfig.ShowAutoClosingStock">
                                            <label for="radioPrimary24">No</label>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-3" ng-show="AccConfig.ShowAutoClosingStock==true">
                                <div class="form-group ">
                                    <label>Opening Group</label>
                                    <select class="form-control form-control-sm  select2" style="width:100%;" data-placeholder="**Select LedgerGroupName**" ng-model="AccConfig.OpeningStockLedgerGroupId">
                                        <option ng-value="ap.LedgerGroupId" ng-repeat="ap in LedgerGroupColl" ng-selected="ap.LedgerGroupId==AccConfig.OpeningStockLedgerGroupId">{{ap.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">

                                    <label>Show Item Demands in Journal</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary25" name="r13" ng-value="true" ng-model="AccConfig.ShowItemDetailsInJournal">
                                            <label for="radioPrimary25">Yes</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="radio" id="radioPrimary26" name="r13" ng-value="false" ng-model="AccConfig.ShowItemDetailsInJournal">
                                            <label for="radioPrimary26">No</label>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                    <footer class="main-footer">
                        <div class="text-right control-btns">
                            @*<button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-secondary">Save & Close</button>*@
                            <button type="button" class="btn btn-primary" ng-click="CallSave()">Save</button>
                        </div>

                    </footer>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>