@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/setup/ActiveSecurity.js"></script>

<div ng-app="myApp" ng-controller="activeSecurityController" ng-init="LoadData()">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Active Security For Entity </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>User Group</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboUserGroupYes" name="rboUserGroup" ng-value="true" ng-model="ActiveSec.UserGroup">
                                        <label for="rboUserGroupYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboUserGroupNo" name="rboUserGroup" ng-value="false" ng-model="ActiveSec.UserGroup">
                                        <label for="rboUserGroupNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Voucher</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboVoucherYes" name="rboVoucher" ng-value="true" ng-model="ActiveSec.Voucher">
                                        <label for="rboVoucherYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboVoucherNo" name="rboVoucher" ng-value="false" ng-model="ActiveSec.Voucher">
                                        <label for="rboVoucherNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ledger Group</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboLedgerGroupYes" name="rboLedgerGroup" ng-value="true" ng-model="ActiveSec.LedgerGroup">
                                        <label for="rboLedgerGroupYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboLedgerGroupNo" name="rboLedgerGroup" ng-value="false" ng-model="ActiveSec.LedgerGroup">
                                        <label for="rboLedgerGroupNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cost Class</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboCostClassYes" name="rboCostClass" ng-value="true" ng-model="ActiveSec.CostClass">
                                        <label for="rboCostClassYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboCostClassNo" name="rboCostClass" ng-value="false" ng-model="ActiveSec.CostClass">
                                        <label for="rboCostClassNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cost Category</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboCostCategoryYes" name="rboCostCategory" ng-value="true" ng-model="ActiveSec.CostCategory">
                                        <label for="rboCostCategoryYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboCostCategoryNo" name="rboCostCategory" ng-value="false" ng-model="ActiveSec.CostCategory">
                                        <label for="rboCostCategoryNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Godown</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboGodownYes" name="rboGodown" ng-value="true" ng-model="ActiveSec.Godown">
                                        <label for="rboGodownYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboGodownNo" name="rboGodown" ng-value="false" ng-model="ActiveSec.Godown">
                                        <label for="rboGodownNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Product Group</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboProductGroupYes" name="rboProductGroup" ng-value="true" ng-model="ActiveSec.ProductGroup">
                                        <label for="rboProductGroupYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboProductGroupNo" name="rboProductGroup" ng-value="false" ng-model="ActiveSec.ProductGroup">
                                        <label for="rboProductGroupNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Branch</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboBranchYes" name="rboBranch" ng-value="true" ng-model="ActiveSec.Branch">
                                        <label for="rboBranchYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboBranchNo" name="rboBranch" ng-value="false" ng-model="ActiveSec.Branch">
                                        <label for="rboBranchNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Branch Wise Creation</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboBranchWiseCreationYes" name="rboBranchWiseCreation" ng-value="true" ng-model="ActiveSec.BranchWiseCreation">
                                        <label for="rboBranchWiseCreationYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboBranchWiseCreationNo" name="rboBranchWiseCreation" ng-value="false" ng-model="ActiveSec.BranchWiseCreation">
                                        <label for="rboBranchWiseCreationNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Branch Wise Product Rate</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboBranchWiseProductRateYes" name="rboBranchWiseProductRate" ng-value="true" ng-model="ActiveSec.BranchWiseProductRate">
                                        <label for="rboBranchWiseProductRateYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboBranchWiseProductRateNo" name="rboBranchWiseProductRate" ng-value="false" ng-model="ActiveSec.BranchWiseProductRate">
                                        <label for="rboBranchWiseProductRateNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Salesman</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboSalesmanYes" name="rboSalesman" ng-value="true" ng-model="ActiveSec.Salesman">
                                        <label for="rboSalesmanYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboSalesmanNo" name="rboSalesman" ng-value="false" ng-model="ActiveSec.Salesman">
                                        <label for="rboSalesmanNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Product Brand</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboProductBrandYes" name="rboProductBrand" ng-value="true" ng-model="ActiveSec.ProductBrand">
                                        <label for="rboProductBrandYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboProductBrandNo" name="rboProductBrand" ng-value="false" ng-model="ActiveSec.ProductBrand">
                                        <label for="rboProductBrandNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Enable Entity Wise Fields</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboEnableEntityWiseFieldsYes" name="rboEnableEntityWiseFields" ng-value="true" ng-model="ActiveSec.EnableEntityWiseFields">
                                        <label for="rboEnableEntityWiseFieldsYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboEnableEntityWiseFieldsNo" name="rboEnableEntityWiseFields" ng-value="false" ng-model="ActiveSec.EnableEntityWiseFields">
                                        <label for="rboEnableEntityWiseFieldsNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Active Module</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboModuleYes" name="rboModule" ng-value="true" ng-model="ActiveSec.Module">
                                        <label for="rboModuleYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboModuleNo" name="rboModule" ng-value="false" ng-model="ActiveSec.Module">
                                        <label for="rboModuleNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Branch Filter In Dues Bill</label>
                                <div class="mb-1 mt-2">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="rboBranchFilterInDuesBillYes" name="rboBranchFilterInDuesBill" ng-value="true" ng-model="ActiveSec.BranchFilterInDuesBill">
                                        <label for="rboBranchFilterInDuesBillYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="rboBranchFilterInDuesBillNo" name="rboBranchFilterInDuesBill" ng-value="false" ng-model="ActiveSec.BranchFilterInDuesBill">
                                        <label for="rboBranchFilterInDuesBillNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <footer class="main-footer control-btns pt-0">
                        <div class="col-sm-12">
                            <form class="form-inline justify-content-end mt-2">
                                <button type="button" class="btn btn-primary float-right ml-2" style="min-width:90px;" ng-click="CallSave()">Accept</button>                                
                            </form>
                        </div>

                    </footer>
                </div>
            </div>
        </div>
    </div>

</div>