@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<script src="~/jslib/Setup/Security/AllowCategory.js"></script>

<div ng-app="myApp" ng-controller="AllowCategoryController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">

    <div class="container-fluid">

        <div class="tab-content">
            <div class="card p-2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group d-flex">
                            <div class="d-flex">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio"
                                               class="form-check-input"
                                               name="optradio" ng-value="1" ng-model="newAllowCategory.UserWise" ng-change="GetAllowCategoryList()" />UserWise
                                    </label>
                                </div>
                                <div class="form-check ml-2">
                                    <label class="form-check-label">
                                        <input type="radio"
                                               class="form-check-input"
                                               name="optradio" ng-value="2" ng-model="newAllowCategory.UserWise" ng-change="GetAllowCategoryList()" />User GroupWise
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="newAllowCategory.UserWise==1">
                        <div class="form-group d-flex">
                            <label class="mr-2" for="">User </label>
                            <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowCategory.UserId" ng-change="GetAllowCategoryList()" style="width:75%;">
                                <option ng-value="0">**Select User**</option>
                                <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="newAllowCategory.UserWise==2">
                        <div class="form-group d-flex">
                            <label class="mr-2" for="">User Group </label>
                            <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowCategory.GroupId" ng-change="GetAllowCategoryList()" style="width:75%;">
                                <option ng-value="0">**Select Group**</option>
                                <option ng-value="cl.GroupId" ng-repeat="cl in UserGroupList">{{cl.GroupName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="button"
                                class="btn btn-md btn-primary"
                                style="min-width: 90px; padding-top: 3px; padding-bottom: 3px;" ng-click="SaveUpdateAllowGodown()">
                            <i class="fas fa-database w-t"></i>Update Data
                        </button>

                    </div>
                    <div class="col-md-3">
                        <form class="form-inline float-right">
                            <div class="input-group input-group-sm table-search-filed">
                                <input class="form-control form-control-navbar"
                                       type="search"
                                       placeholder="Search"
                                       aria-label="Search" ng-model="searchData.AllowCategory" />
                                <div class="input-group-append">
                                    <button class="btn btn-default border-left-0"
                                            type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card p-2">

                <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 100px);">
                    <table id="maintable" class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:60px; z-index: 3; background-color: #ececec !important">SN.</th>
                                <th style="width:180px; z-index: 3; background-color: #ececec !important">Category Name</th>
                                <th class="text-center" style="width: 170px; z-index: 3; background-color: #ececec !important">Allow <input type="checkbox" class="ml-2" ng-model="newAllowCategory.ForTransaction" ng-change="CheckAllForTransaction()" style="width:15px;height:15px;" /></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="el in AllowCategoryList | filter:searchData.AllowCategory">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{el.Name}}</td>
                                <td class="text-center"><input type="checkbox" sstyle="width:15px;height:15px;" ng-model="el.ForTransaction" /></td>
                            </tr>
                        </tbody>

                    </table>
                </div>



            </div>

        </div>

    </div>


</div>