@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div ng-app="myApp" ng-controller="AllowLedgerGroupForAdditionalCostPurchase">

    <div class="container-fluid">

        <div class="tab-content">

            <div class="card p-2">
                <header class="row">
                    <div class="col-md-8">
                        <div class="clearfix">
                            <form class="form-inline">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cstm">Show</span>
                                    </div>
                                    <select class="form-control border-left-0 border-right-0 pr-0"
                                            id="exampleFormControlSelect1">
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm table-search-filed">
                                    <input class="form-control form-control-navbar" type="search"
                                           placeholder="Search" aria-label="Search" ng-model="searchData.CostCategory">
                                    <div class="input-group-append">
                                        <button class="btn btn-default border-left-0" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end col-md-8 -->
                    <div class="col-md-4 text-right">
                        <div class="dropdown dnld-file">
                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-download"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"
                                 aria-labelledby="dropdownMenuButton">
                                <span class="dropdown-item">Choose an option:</span>
                                <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                            </div>
                            <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait">
                                <i class="fas fa-print"></i>
                            </a>
                        </div>


                    </div>
                </header>
                <div class="search-toolbar mt-2">
                    <table id="main-table" class="main-table table table-bordered">
                        <thead>
                            <tr style="text-align:center">
                                <th style="width:2%">SN.</th>
                                <th style="width:400px">LedgerGroupName</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center">
                                <td>1</td>
                                <td>

                                    <select class="form-control form-control-sm select2" style="width:100%">
                                        <option>Primary</option>
                                        <option>FixedAssests</option>
                                        <option>Investments</option>
                                        <option>Deposits</option>
                                        <option>Cash-in-hand</option>
                                        <option>Bank Account</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
                <footer class="row align-items-center pb-3 mt-2">
                    <div class="col-md-5">
                        <p class="mb-0">Showing 1 to 10 of 200 Entries</p>
                    </div>
                    <div class="col-md-7">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>
                </footer>
                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default" ng-click="">Reset</button>
                        <button type="button" class="btn btn-primary" ng-click="">Save</button>
                    </div>
                </footer>

            </div>
        </div>

    </div>


</div>