@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>

<script src="~/jslib/setup/AllowUserWiseGroup.js"></script>
<div class="hold-transition layout-navbar-fixed" ng-app="myApp" ng-controller="AllowUserWiseGroupCTRL" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div class="tab-content">
                    <div class="card p-2">
                        <div class="row">
                           
                            <div class="col-md-4">
                                <div class="form-group d-flex">
                                    <label for="">User </label>

                                    <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowBackDateEntry.UserId" ng-change="GetAllowBackDateEntryList()" style="width:75%;">
                                        <option ng-value="0">**Select User**</option>
                                        <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="col-md-2">
                                <button type="button"
                                        class="btn btn-md btn-primary"
                                        style="min-width: 90px; padding-top: 3px; padding-bottom: 3px;" ng-click="SaveUpdateAllowBackDateEntry()">
                                    <i class="fas fa-database w-t"></i>Update Data
                                </button>

                            </div>
                            <div class="col-md-3">
                                <form class="form-inline float-right">
                                    <div class="input-group input-group-sm table-search-filed">
                                        <input class="form-control form-control-navbar"
                                               type="search"
                                               placeholder="Search"
                                               aria-label="Search" ng-model="searchData.AllowBackDateEntry" />
                                        <div class="input-group-append">
                                            <button class="btn btn-default border-left-0"
                                                    type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2">

                        <div class="table-responsive">
                            <div class="table-scroll-x-y table-scroll mt-1" style="height: calc(100vh - 100px);">
                                <table id="maintable" class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center cstm-sticky" style="width: 60px; left: 0; z-index: 3; background-color: #ececec !important">SN.</th>
                                            <th class="cstm-sticky" style="width: 250px; left: 60px; z-index: 3; background-color: #ececec !important">Group Name</th>                                            
                                            <th class="text-center" style="width: 220px; z-index: 2;background-color: #ececec !important">
                                                <div class="d-flex">
                                                    <div style="width:100px;">
                                                        Allow
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="el in AllowBackDateEntryList |filter:searchData.AllowBackDateEntry">
                                            <td class="text-center cstm-sticky" style="width: 60px; left: 0; z-index: 2; background-color: #ffffff !important">{{$index+1}}</td>
                                            <td class="cstm-sticky" style="width: 250px; left: 60px; z-index: 2; background-color: #ffffff !important"> <label for="chkAllow{{$index}}">{{el.GroupName}}</label> </td>                                            
                                            <td class="text-center"><input type="checkbox" style="width:15px;height:15px;" ng-model="el.IsAllow" id="chkAllow{{$index}}" /></td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </section>
</div>