@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div ng-app="myApp" ng-controller="Confirmmessage">

    <div class="container-fluid">

        <div class="tab-content">

            <div class="card p-2">
                <div class="card p-2">
                    <h3 class="card-title" style="text-align:center;font-size:24px">Confirm Message After</h3>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Click On Accept</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary25" name="r13">
                                    <label for="radioPrimary25">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary26" name="r13" checked>
                                    <label for="radioPrimary26">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Click On Modify</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary27" name="r15" value="Yes" />
                                    <label for="radioPrimary27">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary28" name="r15" value="No" checked>
                                    <label for="radioPrimary28">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Click On Delete</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary29" name="r18" value="Yes" checked>
                                    <label for="radioPrimary29">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary30" name="r18" value="No">
                                    <label for="radioPrimary30">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Click On Reset</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary31" name="r19" value="Yes">
                                    <label for="radioPrimary31">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary32" name="r19" value="No" checked>
                                    <label for="radioPrimary32">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Click On Exit</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary33" name="r21" value="Yes">
                                    <label for="radioPrimary33">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary34" name="r21" value="No" checked>
                                    <label for="radioPrimary34">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Click On Print</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary35" name="r22" value="Yes">
                                    <label for="radioPrimary35">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary36" name="r22" value="No" checked>
                                    <label for="radioPrimary36">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default" ng-click="">Reset</button>
                        <button type="button" class="btn btn-primary" ng-click="">Save</button>
                    </div>
                </footer>
            </div>
        </div>

    </div>


</div>