
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/setup/FromUserToUser.js"></script>
<div ng-app="myApp" ng-controller="fromUserToUserController" ng-init="LoadData()" ng-cloak>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="sale-page-wrap">
            <div class="overflow-hidden">
                @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                @RenderPage("~/Views/Global/_LedgerDetails.cshtml")
                <!-- Page Content  -->
                <div class="content-wrapper-new">

                    <div class="card p-2 mt-2">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select From User</label>
                                    <div class="col-md-8">                                        
                                        <select class="form-control form-control-sm select2 ml-2" ng-model="beData.fromUserId"  style="width:75%;">
                                            <option ng-value="0">**Select User**</option>
                                            <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select To User</label>
                                    <div class="col-md-8">
                                        <select class="form-control form-control-sm select2 ml-2" ng-model="beData.toUserId" style="width:75%;">
                                            <option ng-value="0">**Select User**</option>
                                            <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <button type="button" class="btn btn-default" style="min-width: 90px;" ng-click="CopySecurity()">Copy Security</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
