@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/setup/CreditRules.js"></script>
<div ng-app="myApp" ng-controller="creditRulesController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Credit Rules</h3>
                </div>
                 
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">Select User</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm select2 " style="width:200px;" data-placeholder="**Select User**" ng-model="newRules.UserId" ng-change="GetCRRule()">
                                        <option ng-value="0">**Select User**</option>
                                        <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">For Sales Order</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm " style="width:200px;" data-placeholder="**Select Rule**" ng-model="newRules.SalesOrder">
                                        <option ng-value="r.id" ng-repeat="r in CreditRuleTypeList" ng-selected="r.id==newRules.SalesOrder">{{r.text}}</option>                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">For Dispatch Order</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm " style="width:200px;" data-placeholder="**Select Rule**" ng-model="newRules.DispatchOrder">
                                        <option ng-value="r.id" ng-repeat="r in CreditRuleTypeList" ng-selected="r.id==newRules.DispatchOrder">{{r.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">For Dispatch Section</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm  " style="width:200px;" data-placeholder="**Select Rule**" ng-model="newRules.DispatchSection">
                                        <option ng-value="r.id" ng-repeat="r in CreditRuleTypeList" ng-selected="r.id==newRules.DispatchSection">{{r.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">For DeliveryNote</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm  " style="width:200px;" data-placeholder="**Select Rule**" ng-model="newRules.DeliveryNote">
                                        <option ng-value="r.id" ng-repeat="r in CreditRuleTypeList" ng-selected="r.id==newRules.DeliveryNote">{{r.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">For Sales Invoice</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm  " style="width:200px;" data-placeholder="**Select Rule**" ng-model="newRules.SalesInvoice">
                                        <option ng-value="r.id" ng-repeat="r in CreditRuleTypeList" ng-selected="r.id==newRules.SalesInvoice">{{r.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group d-inline-flex">
                                <div class="col-sm-4">
                                    <label style="width: 500px">For Sales Allotment</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm  " style="width:200px;" data-placeholder="**Select Rule**" ng-model="newRules.SalesAllotment">
                                        <option ng-value="r.id" ng-repeat="r in CreditRuleTypeList" ng-selected="r.id==newRules.SalesAllotment">{{r.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="main-footer control-btns pt-0">
                        <div class="col-sm-12">
                            <form class="form-inline justify-content-end mt-2">
                                <button type="button" class="btn btn-primary float-right ml-2" style="min-width:90px;" ng-click="SaveUpdateCRRule()">Accept</button>                                
                            </form>
                        </div>

                    </footer>
                </div>
            </div>
        </div>
    </div>

</div>