@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Setup/EmailSetup.js"></script>
<div ng-app="myApp" ng-controller="EmailSetupController" ng-init="LoadData()">

    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">
                <!--Modal Button-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Email Setup
                </button>
                <!--Modal starts-->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog   modal-md" role="document" style="max-width:800px">
                        <div class="modal-content">
                            <div class="modal-header py-2">
                                <h5 class="modal-title mb-0" id="exampleModalLongTitle">New Schedule</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pb-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group d-flex">
                                            <label style="width:150px;">Name</label>
                                            <input type="text" class="form-control form-control-sm" ng-model="newDet.ScheduleName" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group d-flex">
                                            <label style="width:177px;">Schedule Type</label>
                                            <select class="form-control form-control-sm" ng-model="newDet.ScheduleTypeId">
                                                <option ng-repeat="S in ScheduleTypeColl" ng-value="S.id" ng-selected="S.id==newDet.ScheduleTypeId">{{S.text}}</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-md-5">
                                        <div class="custom-control custom-checkbox float-right">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="customCheckbox1" value="option1" ng-model="newDet.Enabled">
                                            <label for="customCheckbox1"
                                                   class="custom-control-label">
                                                Enabled
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" ng-show="newDet.ScheduleTypeId==1">
                                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                                        <h5 class="mb-0">One Time Occurance</h5>
                                    </div>
                                    <div class="card-body py-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Date :</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text"
                                                               class="form-control form-control-sm" date-picker ng-model="newDet.OnetimeDate" date-detail="newDet.OnetimeDateDet">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Time :</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="time" class="form-control form-control-sm" ng-model="newDet.OneTime_Time" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-0" ng-show="newDet.ScheduleTypeId==2">
                                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                                        <h5 class="mb-0">Frequency</h5>
                                    </div>
                                    <div class="card-body py-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Occurs :</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-control-sm" ng-model="newDet.OccuranceId">
                                                            <option ng-repeat="O in OccuranceColl" ng-value="O.id" ng-selected="O.id==newDet.OccuranceId">{{O.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2" ng-show="newDet.OccuranceId==1">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Recurs every :</label>
                                                    </div>
                                                    <div class="col-md-8 d-flex">
                                                        <input type="number" class="form-control form-control-sm" />
                                                        <label class="ml-2" style="width:50px;">Day(s)</label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                        <div class="row mt-2" ng-show="newDet.OccuranceId==2">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Recurs every :</label>
                                                    </div>
                                                    <div class="col-md-8 d-flex">
                                                        <input type="number" class="form-control form-control-sm" style="width:75px;" />
                                                        <label class="ml-2">week(s) on these days:</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxmon" value="mon">
                                                            <label for="customCheckboxmon"
                                                                   class="custom-control-label">
                                                                Mon
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxtue" value="tue">
                                                            <label for="customCheckboxtue"
                                                                   class="custom-control-label">
                                                                Tue
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxwed" value="wed">
                                                            <label for="customCheckboxwed"
                                                                   class="custom-control-label">
                                                                Wed
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxthu" value="thu">
                                                            <label for="customCheckboxthu"
                                                                   class="custom-control-label">
                                                                Thu
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxfri" value="fri">
                                                            <label for="customCheckboxfri"
                                                                   class="custom-control-label">
                                                                Fri
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxsat" value="sat">
                                                            <label for="customCheckboxsat"
                                                                   class="custom-control-label">
                                                                Sat
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox"
                                                                   id="customCheckboxsun" value="sun">
                                                            <label for="customCheckboxsun"
                                                                   class="custom-control-label">
                                                                Sun
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-2" ng-show="newDet.OccuranceId==3">
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="monthly" id="exampleRadios52" value="option2">
                                                    <label class="form-check-label" for="exampleRadios52">
                                                        <form class="form-inline">
                                                            <div class="input-group  mr-sm-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">Day </span>
                                                                </div>
                                                                <input type="number" class="form-control border-left-0  pr-0" value="1" style="width:60px" />
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm"> of every </span>
                                                                </div>
                                                                <input type="number" class="form-control border-left-0  pr-0" value="1" style="width:60px" />
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">month(s) </span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-12 mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="monthly" id="exampleRadios42" value="option2">
                                                    <label class="form-check-label" for="exampleRadios42">
                                                        <form class="form-inline">
                                                            <div class="input-group  mr-sm-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">The </span>
                                                                </div>
                                                                <select class="form-control " ng-model="newDet.WeekNumberingId" style="width:110px;">
                                                                    <option ng-repeat="W in WeekNumberingColl" ng-value="W.id" ng-selected="W.id==newDet.WeekNumberingId">{{W.text}}</option>
                                                                </select>

                                                                <select class="form-control" ng-model="newDet.DaysId" style="width:150px;">
                                                                    <option ng-repeat="D in DaysColl" ng-value="D.id" ng-selected="D.id==newDet.DaysId">{{D.text}}</option>
                                                                </select>
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">of every </span>
                                                                </div>
                                                                <input type="number" class="form-control border-left-0  pr-0" value="1" style="width:60px" />
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">month(s) </span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                                        <h5 class="mb-0">Daily Frequency</h5>
                                    </div>
                                    <div class="card-body py-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                    <label class="form-check-label" for="exampleRadios2">
                                                        <form class="form-inline">
                                                            <div class="input-group  mr-sm-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">Occurs Once at :</span>
                                                                </div>
                                                                <input type="time" class="form-control border-left-0  pr-0" value="1" />

                                                            </div>
                                                        </form>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6">
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
                                                    <label class="form-check-label" for="exampleRadios3">
                                                        <form class="form-inline">
                                                            <div class="input-group  mr-sm-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">Occurs every :</span>
                                                                </div>
                                                                <input type="number" class="form-control border-left-0  pr-0" value="1" style="max-width:60px!important;" />
                                                                <div class="input-group-append">
                                                                    <select class="form-control border-left-0  pr-0"
                                                                            id="exampleFormControlSelect1">
                                                                        <option>Hour(s)</option>
                                                                        <option>Day(s)</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Startng at :</label>
                                                    </div>
                                                    <div class="col-md-8 d-flex">
                                                        <input type="time" class="form-control form-control-sm" />
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-4">
                                                        <label>Ending at :</label>
                                                    </div>
                                                    <div class="col-md-8 d-flex">
                                                        <input type="time" class="form-control form-control-sm" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;">
                                        <h5 class="mb-0">Duration</h5>
                                    </div>
                                    <div class="card-body py-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Start Date :</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="date" class="form-control form-control-sm" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="radio" name="duration" id="exampleRadios33" value="option2">
                                                    <label class="form-check-label" for="exampleRadios33">
                                                        <form class="form-inline">
                                                            <div class="input-group  mr-sm-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text cstm">End Date :</span>
                                                                </div>
                                                                <input type="date" class="form-control border-left-0  pr-0" />
                                                            </div>
                                                        </form>
                                                    </label>
                                                </div>
                                                <div class=" mt-2">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="duration" id="exampleRadios22" value="option2">
                                                        <label class="form-check-label" for="exampleRadios22">
                                                            No end date
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer py-2">
                                <button type="button" class="btn btn-primary" ng-click="SaveUpdateEmailSetup()" style="min-width: 90px;">{{newDet.Mode}}</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:80px">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal Ends-->
            </div>
        </div>
    </div>

</div>

