@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/setup/IPRestrictions.js"></script>
<style>
    .third-level-scroll-only {
        height: 100px !important;
        overflow: unset;
    }
</style>
<div ng-app="myApp" ng-controller="allowIPController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <!-- Main content -->
    <div class="content  third-level-scroll-only">
        <!-- Page Content  -->
        <div class="container-fluid">
            <div class="container-fluid" style="width:100%;">
                <div class="card overflow-hidden">
                    <div class="card-header header-corner-triangle border">
                        <div class="form-group" style="width:100%">
                            <div class="box box-info" id="frmUser">
                                <div class="form-group">
                                    <div class="row">
                                        <form id="FormUser" name="FormUser">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Enable Application Wide IP Restriction ?
                                                        <input id="chkFull" name="chkFull" type="checkbox" ng-model="IPDataColl.EnableIPRestriction" />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span style="color:#b9b9b9;">If enabled, Dynamic ERP will only be accessible from the specifically defined IP addresses.<br>Access will be rejected from all other IP addresses.<br><br>Wild Cards are allowed, such as: 123.169.1.* will allow all IP addresses ranging from 123.169.1.1 to 174.166.1.255<br>Wild Card can be used at any level, e.g. 123.169.* or 124.*</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div style="font-size:16px;">
                                                        Allowed IP Addresses: (Comma Seperated)<br>
                                                        <textarea class="form1" id="aipa" style="width:500px;height:100px;" ng-model="IPDataColl.AllowedIP"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div style="font-size:16px;">
                                                        Blocked IP Addresses: (Comma Seperated)<br>
                                                        <textarea class="form1" id="aipa" style="width:500px;height:100px;" ng-model="IPDataColl.BlockedIP"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            &nbsp;  <span id="ErrRePassword" style="color:red;"></span>
                                                        </label>
                                                        <div class="input-group">
                                                            <button class="btn btn-primary" type="button" ng-click="CallSave()" ng-disabled="loadingstatus=='running'"><i class="fa fa-save"></i>Accept</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
        <!-- /.container-fluid -->
    </div>



</div>