@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<div ng-app="myApp" ng-controller="LoadUploadSAP" ng-class="{waiting: loadingstatus=='running'}" ng-init="">

    <div class="content">
        <div class="container-fluid">
            <div class="pt-1"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-2">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Import Customer Vendor</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radioPrimary1" name="r1" ng-value="true">
                                                <label for="radioPrimary1">
                                                    New Only
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline ml-3">
                                                <input type="radio" id="radioPrimary2" name="r1" ng-value="false">
                                                <label for="radioPrimary2">
                                                    All
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm btn-primary load float-right">Import</button>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-2">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>General Ledger</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radioPrimary3" name="r1" ng-value="true">
                                                <label for="radioPrimary3">
                                                    New Only
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline ml-3">
                                                <input type="radio" id="radioPrimary4" name="r1" ng-value="false">
                                                <label for="radioPrimary4">
                                                    All
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm btn-primary load float-right">Import</button>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-2">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Product </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radioPrimary5" name="r1" ng-value="true">
                                                <label for="radioPrimary5">
                                                    New Only
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline ml-3">
                                                <input type="radio" id="radioPrimary6" name="r1" ng-value="false">
                                                <label for="radioPrimary6">
                                                    All
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm btn-primary load float-right">Import</button>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-2">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Upload Pending Transaction	</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radioPrimary7" name="r1" ng-value="true">
                                                <label for="radioPrimary7">
                                                    New Only
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline ml-3">
                                                <input type="radio" id="radioPrimary8" name="r1" ng-value="false">
                                                <label for="radioPrimary8">
                                                    All
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm btn-primary load float-right">Upload</button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>