@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .person-photo-attachment-wrap .img-wrap {
        background-color: #fff;
        border: 1px solid #bbb;
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;
        width: 100px;
        height: 100px;
    }
</style>
<script src="~/jslib/Setup/NewCompany.js"></script>

<div ng-app="myApp" ng-controller="newCompanyDetailsController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">

    <div class="container-fluid">
        <div class="content">
            <div class="p-1"></div>
            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Company Details</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">

                                    <div class="col-md-4" id="meet-others">
                                        <div class="form-group">
                                            <label for="">Name<span style="color:red">*</span></label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Name" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Display Name</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.MailingName" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Address</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Address" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">State</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Zone" />
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Country</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.Country" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Zip Code</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.ZipCode" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">RegdNo.<span style="color:red">*</span></label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.RegdNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Pan/Vat No.</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.PanVatNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">PhoneNo.</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.PhoneNo" />
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
            <div class="form-group">
                <label for="">PhoneNo2.</label>
                <input type="text"
                       class="form-control form-control-sm" ng-model="newCompanyDetails.PhoneNo2" />
            </div>
        </div>*@
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Fax No.</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.FaxNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Email Id</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.EmailId" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Website</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.WebSite" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Web URL</label>
                                            <input type="text"
                                                   class="form-control form-control-sm" ng-model="newCompanyDetails.WebUrl" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Company Nature</label>
                                            <select class="form-control form-control-sm" style="width: 100%;" ng-model="newCompanyDetails.Maintain">
                                                <option ng-value="c.id" ng-repeat="c in MaintainColl" ng-selected="c.id==newCompanyDetails.Maintain">{{c.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Start Date<span style="color:red">*</span></label>
                                            <input type="text"
                                                   class="form-control form-control-sm" date-picker ng-model="newCompanyDetails.StartDate_TMP" date-detail="newCompanyDetails.StartDateDet">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>End Date<span style="color:red">*</span></label>
                                            <input type="text"
                                                   class="form-control form-control-sm" date-picker ng-model="newCompanyDetails.EndDate_TMP" date-detail="newCompanyDetails.EndDateDet">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="" class="invisible">Photo</label>
                                <div class="person-photo-attachment-wrap text-center">
                                    <div class="img-wrap mx-auto">
                                        <img ng-src="{{ (newCompanyDetails.CompanyLogoData ? newCompanyDetails.CompanyLogoData : (newCompanyDetails.CompanyLogoPath && newCompanyDetails.CompanyLogoPath.length>0 ? newCompanyDetails.CompanyLogoPath : DefaultPhoto))}}" class="img-fluid" alt="">
                                    </div>
                                    <label for="choose-file-father" type="button" class="btn btn-outline-secondary btn-sm"><i class="fas fa-camera w-t"></i> Upload Logo</label>
                                    <input id="choose-file-father" type="file" accept=".jpg,.jpeg,.png" style="display: none;" file-model ng-model="newCompanyDetails.CompanyLogo_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newCompanyDetails.CompanyLogoData" />

                                </div>

                            </div>
                        </div>
                    </form>
                    <footer class="main-footer">
                        <div class="text-right control-btns">
                            @*<button type="button" class="btn btn-default" ng-click="ClearFields()">Cancel</button>*@
                            <button type="button" class="btn btn-primary" ng-click="SaveUpdateCompanyDetails()">Save</button>
                        </div>

                    </footer>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>