@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<script src="~/jslib/setup/NotApplicableLedger.js"></script>
<div ng-app="myApp" ng-controller="notApplicableLedController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">

    <div class="container-fluid">

        <div class="tab-content">
            <div class="card p-2">
                <div class="row">
                     <div class="col-md-10">

                    </div> 
                    <div class="col-md-2">
                        <button type="button"
                                class="btn btn-md btn-primary"
                                style="min-width: 90px; padding-top: 3px; padding-bottom: 3px;" ng-click="SaveUpdateAllowLedgerGroup()">
                            <i class="fas fa-database w-t"></i>Update Data
                        </button>

                    </div>
                   
                </div>
            </div>
            <div class="card p-2">

                <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 100px);">
                    <table id="maintable" class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:60px; z-index: 3; background-color: #ececec !important">S.No.</th>
                                <th style="width:180px; z-index: 3; background-color: #ececec !important">  Name</th>                                </th>
                                <th style="width:180px; z-index: 3; background-color: #ececec !important">  Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="el in LedgerColl">
                                <td class="text-center">{{$index+1}}</td>
                                <td>
                                    <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-ledger ng-model="el.LedgerId" ledgertype="1" fortransaction="true"
                                            placeholder="** Select Ledger Name **" showdetails="false" confirm-action="ChangeParticularLedger(el)" ledger-detail="el.LedgerDetails" side-bar-data="el.partySideBarData" voucher-id="3" vouchertype="3"></select>
                                </td>
                                <td class="text-center">
                                    <a class="p-1" href="#" data-original-title="Add Row" ng-click="AddRow($index)">
                                        <i class="fas fa-plus text-info"></i>
                                    </a>
                                    <a class="p-1" href="#" data-original-title="Delete Row." ng-click="delRow($index)">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>



            </div>

        </div>

    </div>


</div>