@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div ng-app="myApp" ng-controller="PurchaseAdditionalLedgerTag">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="card p-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" style="font-size:20px">
                            <label>PurchaseAdditionalLedgerTag</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card p-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Discount Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Discount</option>
                                    <option>TDS</option>
                                    <option>VAT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Ex Duty Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Excise Duty</option>
                                    <option>Cash</option>
                                    <option>Discount</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Vat Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Vat</option>
                                    <option>Cash</option>
                                    <option>Discount</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Freight Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Freight</option>
                                    <option>Cash</option>
                                    <option>Insurance</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Schame Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Schame</option>
                                    <option>TDS</option>
                                    <option>Vat</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Discount 2</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option></option>
                                    <option>Discount</option>
                                    <option>TDS</option>
                                    <option>Vat</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Discount 3</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option></option>
                                    <option>CASH</option>
                                    <option>Discount</option>
                                    <option>TDS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Insurance Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Insurance</option>
                                    <option>CASH</option>
                                    <option>Discount</option>
                                    <option>TDS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">TDS Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>TDS</option>
                                    <option>CASH</option>
                                    <option>Discount</option>
                                    <option>TDS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">Round OFF Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option>Round Off</option>
                                    <option>CASH</option>
                                    <option>Discount</option>
                                    <option>TDS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group d-inline-flex">
                            <div class="col-sm-6">
                                <label style="width: 500px">TSC Ledger</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control-sm select2 " style="width:200px;">
                                    <option></option>
                                    <option>Round Off</option>
                                    <option>CASH</option>
                                    <option>Discount</option>
                                    <option>TDS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer control-btns pt-0">
        <div class="col-sm-12">
            <form class="form-inline justify-content-end mt-2">
                <button type="button" class="btn btn-sm btn-primary float-right ml-2" style="min-width:90px;">Accept</button>
                <button type="button" class="btn btn-sm btn-default float-right ml-2" style="min-width:90px;">Exit</button>
            </form>
        </div>

    </footer>
</div>