@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="UserWiseLog">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card p-2">
                <section class="iframe-content-starts-here">
                    <div class="tab-content">
                        <div id="day-book-section">
                            <div class="card p-2">
                                <div class="row ">
                                    <div class="col-sm-4">
                                        <h3>Security Assign For</h3>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group d-flex">
                                            <label for="name">Find:</label>
                                            <select class="form-control form-control-sm select2 ml-2" style="width:70%">
                                            </select>
                                        </div>
                                    </div>




                                </div>

                            </div>
                            <div class=" columns ">
                                <div class="row gx-5">

                                    <div class="col-sm-3 ">
                                        <div class="p-3 border" style="background-color: white;">
                                            <h6>Name Of Module</h6>


                                            </style>
                                            Administrator
                                        </div>




                                    </div>


                                    <div class="col-sm-9">
                                        <div class="p-0 " style="background-color: white;">
                                            <div class="" style="height:100% ">
                                                <table id="maintable" class="table table-bordered table-hover table-sm">
                                                    <thead>
                                                        <tr style="text-align:center;font-weight:bold;background-color:#e8e8e8">
                                                            <th style="width:30px">
                                                                Name Of Entity
                                                            </th>
                                                            <th style="width:20px">
                                                                Add
                                                            </th>
                                                            <th style="width:20px">
                                                                Modify
                                                            </th>
                                                            <th style="width:20px">
                                                                Delete
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            201
                                                        </td>

                                                        <td>
                                                            121
                                                        </td>
                                                        <td>
                                                            Hi
                                                        </td>

                                                    </tr>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            201
                                                        </td>

                                                        <td>
                                                            121
                                                        </td>
                                                        <td>
                                                            Hi
                                                        </td>


                                                    </tr>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            201
                                                        </td>

                                                        <td>
                                                            121
                                                        </td>
                                                        <td>
                                                            Hi
                                                        </td>

                                                    </tr>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            201
                                                        </td>

                                                        <td>
                                                            121
                                                        </td>
                                                        <td>
                                                            Hi
                                                        </td>

                                                    </tr>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            201
                                                        </td>

                                                        <td>
                                                            121
                                                        </td>
                                                        <td>
                                                            Hi
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                            <footer class="row align-items-center pb-3 mt-2" style="float: right;">
                                                <div class="col-md-5">
                                                    <p class="mb-0">Showing&nbsp;1&nbsp;to&nbsp;10&nbsp;of&nbsp;200&nbsp;Entries</p>
                                                </div>
                                                <div class="col-md-7">
                                                    <ul class="pagination pagination-sm m-0 float-right">
                                                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                                                    </ul>
                                                </div>
                                            </footer>
                                            <footer class="main-footer">
                                                <div class="text-right control-btns">
                                                    <button type="button" class="btn btn-default" ng-click="">Reset</button>
                                                    <button type="button" class="btn btn-primary" ng-click="">Save</button>
                                                </div>
                                            </footer>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
        <!--/. container-fluid -->
    </section>




</div>