@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .person-photo-attachment-wrap .img-wrap {
        background-color: #fff;
        border: 1px solid #bbb;
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;
        width: 100px;
        height: 100px;
    }
</style>
<script src="~/jslib/Setup/securityconsole.js"></script>

<div ng-app="myApp" ng-controller="SecurityConsoleController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="container-fluid">
        <div class="content">
            <div class="p-1"></div>
            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">Security Console</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group d-flex">
                                        <div class="d-flex">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio"
                                                           class="form-check-input"
                                                           name="optradio" ng-value="1" ng-model="newAllowEntity.UserWise" ng-change="GetAllowEntityList(1)" />User Wise
                                                </label>
                                            </div>
                                            <div class="form-check ml-3">
                                                <label class="form-check-label">
                                                    <input type="radio"
                                                           class="form-check-input"
                                                           name="optradio" ng-value="2" ng-model="newAllowEntity.UserWise" ng-change="GetAllowEntityList(2)" />Group Wise
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-show="newAllowEntity.UserWise==1">
                                    <div class="form-group d-flex">
                                        <label for="">User </label>
                                        <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowEntity.UserId" ng-change="GetAllowEntityList(1)" style="width:75%;" data-placeholder="**Select User**">
                                            <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-show="newAllowEntity.UserWise==2">
                                    <div class="form-group d-flex">
                                        <label for="">User Group </label>
                                        <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowEntity.GroupId" ng-change="GetAllowEntityList(2)" style="width:75%;" data-placeholder="**Select Group**">
                                            <option ng-value="cl.GroupId" ng-repeat="cl in UserGroupList">{{cl.GroupName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <button type="button"
                                            class="btn btn-md btn-primary"
                                            style="min-width: 90px; padding-top: 3px; padding-bottom: 3px;" ng-click="SaveUpdateAllowEntity()">
                                        <i class="fas fa-database w-t"></i>Update
                                    </button>

                                </div>
                                <div class="col-md-2">
                                    <form class="form-inline float-right">
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search"
                                                   placeholder="Module Search"
                                                   aria-label="Search" ng-model="searchData.Module" />                                             
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <form class="form-inline float-right">
                                        <div class="input-group input-group-sm table-search-filed">
                                            <input class="form-control form-control-navbar"
                                                   type="search"
                                                   placeholder="Entity Search"
                                                   aria-label="Search" ng-model="searchData.AllowEntity" />
                                            <div class="input-group-append">
                                                <button class="btn btn-default border-left-0"
                                                        type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <div>
                                   
                                    <div class="table-responsive">
                                        <div class="table-scroll-x-y table-scroll mt-1" style="height: calc(100vh - 175px);">
                                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                                <thead class=" text-nowrap">
                                                    <tr>
                                                        <th class="align-middle cstm-sticky" style="width: 130px; left: 0; z-index: 3; background-color: #ececec !important">Module</th>
                                                        <th class="align-middle cstm-sticky" style="width: 180px; left: 130px; z-index: 3; background-color: #ececec !important">Entity</th>

                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Full
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Full" ng-change="CheckAllFull()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                view
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.View" ng-change="CheckAllView()">
                                                            </div>

                                                        </th>

                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Add
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Add" ng-change="CheckAllAdd()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Modify
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Modify" ng-change="CheckAllModify()">
                                                            </div>

                                                        </th>

                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Delete
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Delete" ng-change="CheckAllDelete()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Print
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Print" ng-change="CheckAllPrint()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Export
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Export" ng-change="CheckAllExport()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Post
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Post" ng-change="CheckAllPost()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Cancel
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Cancel" ng-change="CheckAllCancel()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 140px; background-color: #ececec !important ">
                                                            <div class="justify-content-center d-flex">
                                                                Modify After Post
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.ModifyAfterPost" ng-change="CheckAllModifyAfterPost()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 140px; background-color: #ececec !important ">
                                                            <div class="justify-content-center d-flex">
                                                                Cancel After Post
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.CancelAfterPost" ng-change="CheckAllCancelAfterPost()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 140px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Verification
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.Verification" ng-change="CheckAllVerification()">
                                                            </div>

                                                        </th>
                                                        <th style="z-index: 2; width: 90px; background-color: #ececec !important">
                                                            <div class="justify-content-center d-flex">
                                                                Un Post
                                                                &nbsp;

                                                                <input type="checkbox" class="" style="margin-top: 2px;" ng-model="newAllowEntity.UnPost" ng-change="CheckAllUnPost()">
                                                            </div>

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr dir-paginate="el in AllowEntityList |filter:{ ModuleName: searchData.Module } |filter:{ EntityName: searchData.AllowEntity }   | itemsPerPage:perPage.SecurityConsole" current-page="currentPages.SecurityConsole" pagination-id="SecurityConsolePagination">
                                                        <td class="align-middle cstm-sticky" style="width: 130px; left: 0; z-index: 2; background-color: #fff">{{el.ModuleName}}</td>
                                                        <td class="align-middle cstm-sticky" style="width: 180px; left: 130px; z-index: 2; background-color: #fff">{{el.EntityName}}</td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-1-{{$index}}"
                                                                       value="" ng-model="el.Full" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-1-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-2-{{$index}}"
                                                                       value="" ng-model="el.View" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-2-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-3-{{$index}}"
                                                                       value="" ng-model="el.Add" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-3-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-4-{{$index}}"
                                                                       value="" ng-model="el.Modify" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-4-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-5-{{$index}}"
                                                                       value="" ng-model="el.Delete" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-5-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-6-{{$index}}"
                                                                       value="" ng-model="el.Print" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-6-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-7-{{$index}}"
                                                                       value="" ng-model="el.Export" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-7-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-8-{{$index}}"
                                                                       value="" ng-model="el.Post" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-8-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-9-{{$index}}"
                                                                       value="" ng-model="el.Cancel" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-9-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-10-{{$index}}"
                                                                       value="" ng-model="el.ModifyAfterPost" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-10-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-11-{{$index}}"
                                                                       value="" ng-model="el.CancelAfterPost" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-11-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-12-{{$index}}"
                                                                       value="" ng-model="el.Verification" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-12-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="custom-control custom-checkbox checkbox-lg">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="checkbox-sms-13-{{$index}}"
                                                                         ng-model="el.UnPost" />

                                                                <label class="custom-control-label"
                                                                       for="checkbox-sms-13-{{$index}}"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="SecurityConsolePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <!-- table end -->
                            </div>



                        </div>


                    </div>


                </div>

            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>