@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/Setup/SSFAPIUser.js"></script>
<div ng-app="myApp" ng-controller="SSFAPIUserController" ng-class="{waiting: loadingstatus=='running'}" ng-init="getSSFAPIUserById()">


    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="card my-1 card-primary card-outline card-outline-tabs">
                   
                    <div class="card-body">
                        <div class="tab-content">
                                <div class="">
                                    <form>
                                        <div class="row">

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Base Url</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.BaseUrl">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>UserName</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.UserName">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control form-control-sm" ng-model="newDet.Pwd">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Re-Password</label>
                                                    <input type="password" class="form-control form-control-sm" ng-model="newDet.RePwd">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>RemoteUser</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.RemoteUser">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Practitioner</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.Practitioner">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Practitioner Role</label>
                                                    <input type="text" class="form-control form-control-sm" ng-model="newDet.PractitionerRole">
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>ServiceProvider</label>
                                                    <input type="text" class="form-control form-control-sm" style="width:100%" ng-model="newDet.ServiceProvider">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>SSF Receivable Account</label>                                                    
                                                    <select class="form-control form-control-sm select2 serial" all-ledger ng-model="newDet.ReceiptLedgerId" style="width:80%" id="cboLedger" ledgertype="1"
                                                            placeholder="** Select Receivable Account **" showdetails="false"   ledger-detail="newDet.RLedgerDetails">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>SSF Payment Bank Account</label>                                                    
                                                    <select class="form-control form-control-sm select2 serial" all-ledger ng-model="newDet.PaymentLedgerId" style="width:80%" id="cboLedger" ledgertype="1"
                                                            placeholder="** Select Bank Account **" showdetails="false"   ledger-detail="newDet.PLedgerDetails">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <footer class="main-footer">
                                        <div class="text-right control-btns">
                                            <button type="button" class="btn btn-default" ng-click="ClearSSFAPIUser()">Clear</button>
                                            <button type="button" class="btn btn-primary" ng-click="SaveSSFAPIUser()">{{newDet.Mode}}</button>
                                        </div>
                                    </footer>

                                </div>
                            
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>
