@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<div ng-app="myApp" ng-controller="StockTransferConfiguration">

    <div class="container-fluid">

        <div class="tab-content">

            <div class="card p-2">
                <div class="card p-2">
                    <h3 class="card-title" style="text-align:center;font-size:24px">StockTransferConfiguration</h3>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Show Current Stock</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary25" name="r13">
                                    <label for="radioPrimary25">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary26" name="r13" checked>
                                    <label for="radioPrimary26">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Show Remarks</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary27" name="r15" value="Yes" />
                                    <label for="radioPrimary27">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary28" name="r15" value="No" checked>
                                    <label for="radioPrimary28">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Show Demand Qty</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary29" name="r18" value="Yes">
                                    <label for="radioPrimary29">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary30" name="r18" value="No" checked>
                                    <label for="radioPrimary30">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group d-flex" style="justify-content:space-between">

                            <label>Show Stock Journal As</label>
                            <select class="form-control form-control-sm select2 ml-2" style="width:50%">

                                <option>InOutBoth</option>
                                <option>InOnly</option>
                                <option>OutOnly</option>


                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group d-flex" style="justify-content:space-between">
                            <label class="mr-5">Parts Demand Mandatory</label>
                            <br />
                            <div class="clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="radioPrimary33" name="r21" value="Yes">
                                    <label for="radioPrimary33">Yes</label>
                                </div>
                                <div class="icheck-primary d-inline ml-3">
                                    <input type="radio" id="radioPrimary34" name="r21" value="No" checked>
                                    <label for="radioPrimary34">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default" ng-click="">Reset</button>
                        <button type="button" class="btn btn-primary" ng-click="">Save</button>
                    </div>
                </footer>
            </div>
        </div>

    </div>


</div>