@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>

<script src="~/jslib/setup/UserBranch.js"></script>
<div ng-app="myApp" ng-controller="UserBranchCTRL" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">

    <div class="container-fluid">

        <div class="tab-content">
            <div class="card p-2">
                <div class="row">
                   
                    <div class="col-md-4">
                        <div class="form-group d-flex">
                            <label for="">User </label>
                            <select class="form-control form-control-sm select2 ml-2" ng-model="newAllowLedgerGroup.UserId" ng-change="GetAllowLedgerGroupList()" style="width:75%;">
                                <option ng-value="0">**Select User**</option>
                                <option ng-value="cl.UserId" ng-repeat="cl in UserList">{{cl.UserName}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <button type="button"
                                class="btn btn-md btn-primary"
                                style="min-width: 90px; padding-top: 3px; padding-bottom: 3px;" ng-click="SaveUpdateAllowLedgerGroup()">
                            <i class="fas fa-database w-t"></i>Update Data
                        </button>

                    </div>
                    <div class="col-md-3">
                        <form class="form-inline float-right">
                            <div class="input-group input-group-sm table-search-filed">
                                <input class="form-control form-control-navbar"
                                       type="search"
                                       placeholder="Search"
                                       aria-label="Search" ng-model="searchData.AllowLedgerGroup" />
                                <div class="input-group-append">
                                    <button class="btn btn-default border-left-0"
                                            type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card p-2">

                <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 100px);">
                    <table id="maintable" class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:60px; z-index: 3; background-color: #ececec !important">SN.</th>
                                <th style="width:180px; z-index: 3; background-color: #ececec !important"> Name</th>
                                <th class="text-center" style="width: 170px; z-index: 3; background-color: #ececec !important">Allow Master<input type="checkbox" class="ml-2" ng-model="newAllowLedgerGroup.ForMaster" ng-change="CheckAllForMaster()" style="width:15px;height:15px;" /></th>
                                <th class="text-center" style="width: 170px; z-index: 3; background-color: #ececec !important">Allow Transaction<input type="checkbox" class="ml-2" ng-model="newAllowLedgerGroup.ForTran" ng-change="CheckAllForTransaction()" style="width:15px;height:15px;" /></th>
                                <th class="text-center" style="width: 170px; z-index: 3; background-color: #ececec !important">Allow Reporting <input type="checkbox" class="ml-2" ng-model="newAllowLedgerGroup.ForReport" ng-change="CheckAllForReporting()" style="width:15px;height:15px;" /></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="el in AllowLedgerGroupList |filter:searchData.AllowLedgerGroup">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{el.BranchName}}</td>                                
                                <td class="text-center"><input type="checkbox" sstyle="width:15px;height:15px;" ng-model="el.ForMaster" /></td>
                                <td class="text-center"><input type="checkbox" sstyle="width:15px;height:15px;" ng-model="el.ForTran" /></td>
                                <td class="text-center"><input type="checkbox" sstyle="width:15px;height:15px;" ng-model="el.ForReport" /></td>
                            </tr>
                        </tbody>

                    </table>
                </div>



            </div>

        </div>

    </div>


</div>