@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<div ng-app="mainApp" ng-controller="VoucherWiseConfiguration" ng-class="{waiting: loadingstatus=='running'}">

    <div class="content">
        <div class="">

            <div class="card">
                <div class="card-header header-corner-triangle">
                    <h3 class="card-title">VoucherWiseConfiguration</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="mt-1">Select Voucher Name</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>Sales CreditNote</option>
                                        <option>Sales DebitNote</option>
                                        <option>Purchase CreditNote</option>
                                        <option>Purchase DebitNote</option>
                                        <option>Namsari</option>
                                        <option>Cannibalize In</option>
                                        <option>Cannibalize Out</option>
                                        <option>SalesOrder Cancel</option>
                                        <option>SalesQuotation Cancel</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>DefaultGodown</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>saw</option>
                                        <option>sss</option>
                                        <option>Sawd</option>
                                        <option>Aswdsa</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>MFG DateStyle</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>English Date</option>
                                        <option>Nepali Date</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>MFG DateFormat</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>DD_MM_YYYY</option>
                                        <option>MM_DD_YYYY</option>
                                        <option>YYYY_MM_DD</option>
                                        <option>YYYY_DD_MM</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>EXP DateStyle</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>English Date</option>
                                        <option>Nepali Date</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>EXP DateFormat</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>DD_MM_YYYY</option>
                                        <option>MM_DD_YYYY</option>
                                        <option>YYYY_MM_DD</option>
                                        <option>YYYY_DD_MM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mt-4">

                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> Show Alternate Unit

                                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"> Show Rate

                                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat"> Show Amount

                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="mr-5">Allow Discount</label>

                                    <div class="clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="radioPrimary25" name="r13">
                                            <label for="radioPrimary25">Amount</label>
                                        </div>
                                        <div class="icheck-primary d-inline ml-3">
                                            <input type="checkbox" id="radioPrimary26" name="r14">
                                            <label for="radioPrimary26">Per</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-2">
                                Show Product Form

                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"> In Short



                            </div>
                            <div class="col-sm-6 mt-4">
                                Show Dialog For Showing In Vat Register

                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">



                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ref.Qty.As</label>
                                    <select class="form-control form-control-sm select2">
                                        <option></option>
                                        <option>Less Than Equal</option>
                                        <option>Greater Than Equal</option>
                                        <option>Not Editable</option>
                                        <option>Not Validate</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-2">
                                Show Warning Dialog On BackDate Entry

                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">



                            </div>
                            <div class="col-sm-6 mt-2">
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> Product Rate

                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"> Sales Rate

                                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat"> Trade Rate

                                <input type="checkbox" id="vehicle4" name="vehicle4" value="Sheep"> MRP Rate
                            </div>

                            <div class="col-sm-6 mt-4">
                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"> Show Free Qty


                            </div>
                            <div class="col-sm-6 mt-4">
                                <div class="form-group">
                                    <label> Show BatchWise ClosingList For OutWard </label>
                                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">

                                </div>

                            </div>
                        </div>
                    </form>
                    <footer class="main-footer">
                        <div class="text-right control-btns">
                            <button type="button" class="btn btn-default" ng-click="ClearFields()">Cancel</button>
                            <button type="button" class="btn btn-secondary" ng-click="SaveAgentMode()">Save & Close</button>
                            <button type="button" class="btn btn-primary" ng-click="SaveAgentMode()">Save</button>
                        </div>

                    </footer>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>