@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/Setup/YearClosing.js"></script>

<div ng-app="myApp" ng-controller="YearClosingController" ng-class="{waiting: loadingstatus=='running'}">
    <div class="container-fluid">
        <div class="content">    
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header header-corner-triangle p-2">
                            <h3 class="card-title">Company Details</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.CompanyStartDate_TMP" date-detail="beData.CompanyStartDateDet" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.CompanyEndDate_TMP" date-detail="beData.CompanyEndDateDet" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Base URL</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.BaseUrl">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header header-corner-triangle p-2">
                            <h3 class="card-title">Cost Class</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mt-4 float-right">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="customCheckbox1" value="option1"  ng-model="beData.IsDefault">
                                            <label for="customCheckbox1"
                                                   class="custom-control-label">
                                                Is Default
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.CostClassStartDate_TMP" date-detail="beData.CostClassStartDateDet" />
                                    </div>
                                </div>
                              
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.CostClassEndDate_TMP" date-detail="beData.CostClassEndDateDet" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header header-corner-triangle p-2">
                            <h3 class="card-title">Company Period</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.PeriodStartDate_TMP" date-detail="beData.PeriodStartDateDet" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.PeriodEndDate_TMP" date-detail="beData.PeriodEndDateDet" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header header-corner-triangle p-2">
                            <h3 class="card-title">IRD Details</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Fiscal Year</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="beData.FiscalYear">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3">                        
                        <div class="card-body px-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox2" value="option2"  ng-model="beData.IsForwardLedgerOpening" >
                                <label for="customCheckbox2"
                                       class="custom-control-label">
                                   Forward Ledger Opening
                                </label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox3" value="option3" ng-model="beData.IsForwardStockOpening">
                                <label for="customCheckbox3"
                                       class="custom-control-label">
                                   Forward Stock Opening
                                </label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox4" value="option4" ng-model="beData.MakeIncomeExpenseZero">
                                <label for="customCheckbox4"
                                       class="custom-control-label">
                                    Make Income & Expense as (0)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer">
                <div class="text-right control-btns">
                    <button type="button" class="btn btn-default" ng-click="ClearYearClosing()">Reset</button>
                    <button type="button" class="btn btn-primary" ng-click="SaveUpdateYearClosing()" style="min-width: 90px;">Save</button>
                </div>

            </footer>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>