
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")


<script src="~/jslib/inventory/transaction/ProductMerge.js?v=1"></script>
<div ng-app="myApp" ng-controller="ProductMergeController" ng-init="LoadData()" ng-cloak>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="sale-page-wrap">
            <div class="overflow-hidden">
                @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                @RenderPage("~/Views/Global/_LedgerDetails.cshtml")
                <!-- Page Content  -->
                <div class="content-wrapper-new">

                    <div class="card p-2 mt-2">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select From Product</label>
                                    <div class="col-md-8">
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="beData.FromProductId" 
                                                placeholder="** Select From Product **" showdetails="true" confirm-action="PartySelectionChange(beData)" product-detail="beData.FromProduct" side-bar-data="beData.partySideBarData"></select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select To Product</label>
                                    <div class="col-md-8">
                                        <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="beData.ToProductId"
                                                placeholder="** Select To Product **" showdetails="true" confirm-action="PartySelectionChange(beData)" product-detail="beData.ToProduct" side-bar-data="beData.partySideBarData"></select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <button type="button" class="btn btn-default" style="min-width: 90px;" ng-click="ProductMerge()">Merge</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
