
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/account/reporting/CurrencyRate.js"></script>

<div ng-app="myApp" ng-controller="CurrencyRate" ng-class="{waiting: loadingstatus=='running'}">
    @RenderPage("~/Views/Global/_WaitDialog.cshtml")
    <!-- Main content -->
    <div class="content  third-level-scroll-only">
        <!-- Page Content  -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-header header-corner-triangle">

                    <form action="" class="m-0">
                        <div class="row">
                            <div class="col-sm-8">

                                <h5>Currency Rate</h5>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mb-0">


                                    <a href="#" class="btn btn-primary load float-right" style="float: right; max-width: 100px" data-toggle="tooltip" data-placement="top" title="" data-original-title="Load" ng-click="GetAllCurrencyRate()" ng-disabled="loadingstatus=='running'"><i class="fas fa-download"> &nbsp;&nbsp;Load</i></a>

                                </div>
                            </div>

                        </div>


                    </form>


                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <header class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="clearfix">
                                <form class="form-inline">
                                    <div class="input-group input-group-sm mr-sm-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cstm">Find:</span>
                                        </div>
                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                        <select class="form-control pr-0"
                                                id="exampleFormControlSelect1">
                                            <option>Contain</option>
                                            <option>Prefix</option>
                                        </select>
                                    </div>
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" ng-model="search" ng-change="onFilterTextBoxChanged()">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-7 col-sm-7 text-right">
                            <form class="form-inline  float-right">
                                <div class="input-group input-group-sm mr-sm-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cstm">Search By:</span>
                                    </div>
                                    <select class="form-control pr-0" id="exampleFormControlSelect1">
                                        <option>Date(A.D.)</option>
                                        <option>Date(B.S.)</option>
                                        <option>Particulars</option>
                                        <option>Voucher Type</option>
                                        <option>Voucher No.</option>
                                        <option>Ref.No.</option>
                                        <option>Debit Amount</option>
                                        <option>Credit Amount</option>
                                        <option>Cost Class</option>
                                        <option>User</option>
                                        <option>Verify Mode</option>
                                        <option>Verify Remarks</option>
                                        <option>Reject Remarks</option>
                                        <option>Entry Date</option>
                                        <option>Creation At</option>
                                        <option>Post At</option>
                                        <option>Address</option>
                                        <option>Cheque Date</option>
                                        <option>Cheque No</option>
                                        <option>Cheque Remarks</option>
                                        <option>Clearance Date</option>
                                        <option>Clearance Remarks</option>
                                        <option>Limit Cross Amt</option>
                                        <option>Limit Cross Days</option>
                                        <option>Narration</option>
                                        <option>PanVat No</option>
                                        <option>PartyName</option>
                                        <option>Ref.Voucher.RefNo</option>
                                        <option>RefVoucher No</option>
                                        <option>Transaction Amt</option>
                                        <option>Modify By</option>

                                    </select>
                                </div>
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="dropdown dnld-file ml-2">
                                    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle"
                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuButton">
                                        <span class="dropdown-item">Choose an option:</span>
                                          <a class="dropdown-item" href="#" ng-click="DownloadAsXls()">
                                                    <img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png"
                                                         class="img-fluid exports-icon" alt="Excel image">
                                                    Excel
                                                </a>
                                                <a class="dropdown-item" href="#" ng-click="onBtExportCSV()">
                                                    <img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png"
                                                         class="img-fluid exports-icon">
                                                    CSV
                                                </a>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-secondary btn-light btn-sm ml-2" ng-click="Print()">
                                    <i class="fas fa-print"></i>
                                </a>
                                <a href="#" class="btn btn-secondary btn-light btn-sm ml-2"
                                                       data-placement="bottom" title="Save List State" ng-click="saveRptListState()">
                                                        <i class="fas fa-save"></i>
                                                    </a>
                            </form>

                        </div>

                    </header>
                    <div id="datatable" style="height: calc(100vh - 7rem);width: 100%;" class="ag-theme-alpine"></div>

                </div>
            </div>


        </div>
        <!-- /.container-fluid -->
    </div>

@RenderPage("~/Views/Global/_RptContentMenu.cshtml")





</div>