@{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 0 auto;
    }

    canvas {
        background: #fff;
        height: 240px;
    }

    .content .container-fluid .row p {
        font-weight: bold;
    }

    .container {
        margin: 20px 0 0 0;
    }

        .container .row h5 {
            font-weight: bold;
            /* text-decoration: underline; */
        }

        .container .row h6 {
            font-weight: 700;
            /* text-decoration: underline; */
        }

        .container .row p {
            font-weight: 600;
        }

    /* Dropdown css */

    .boxss {
        width: 150px;
        height: 30px;
        border: 1px solid rgb(241, 227, 227);
        font-size: 15px;
        color: #111;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 4px 4px #ccc;
    }

    /* percentage piechart */
    :root {
        --size: 150px;
        --bord: 20px;
    }

    .chart {
        width: var(--size);
        height: var(--size);
        margin: 1em auto;
        border-radius: 50%;
        background-image: conic-gradient(lightseagreen var(--value), lightgrey var(--value));
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .chart::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - var(--bord));
            height: calc(100% - var(--bord));
            background: white;
            border-radius: inherit;
        }

        .chart p {
            position: relative;
            z-index: 1;
            text-align: center;
            font-size: 17px;
        }

    .x-60 {
        --value: 60%;
    }

    #chart {
        height: 20em !important;
        width: 30em !important;
    }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .greennum {
        font-size: 24px;
        color: green;
    }

    .bluenum {
        font-size: 24px;
        color: blue;
    }

    .rednum {
        font-size: 24px;
        color: red;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/jslib/inventory/creation/ProductScheme.js"></script>
<div ng-app="myApp" ng-controller="ProductScheme">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex py-2">
                        <label class="mt-1">Branch</label>
                        <select class="form-contrl form-control-sm ml-2">
                            <option>Birgunj Branch</option>
                            <option>Kathmandu Branch</option>
                            <option>Myagdi Branch</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-2">
                        <label>
                            <b>Total Amount Receivable : </b><label class="greennum"><strong>21312312</strong></label>

                            <div class="row">
                                <div class="col-md-4">
                                    <label><b> > 30 Days :</b></label>
                                    <h5>345678</h5>
                                </div>
                                <div class="col-md-4">
                                    <label><b> 30-90 Days :</b></label>
                                    <h5>345678</h5>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        <b>
                                            < 90 Days :
                                        </b>
                                    </label>
                                    <h5>345678</h5>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card p-4" style="height: 100px;">
                        <label>Total Payable Credit :</label>
                        <label class="rednum"><strong>45678</strong></label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card p-4" style="height: 100px;">
                        <label>Loan And Advance :</label>
                        <label class="bluenum"><strong>45678</strong></label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card p-4" style="height: 100px;">
                        <label>Bank Balance :</label>
                        <label class="greennum"><strong>45678</strong></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="text-center">
                                <h5>Monthwise Sales and Purchasing
                                    <select class="boxss">
                                       <option>Kgs</option>
                                        <option>Mg</option>
                                        <option>Gm</option>
                                    </select>
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="wrapper1s">
                                <canvas id="monthsBarChart" style="width:100%;max-width:600px"></canvas>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Monthwise Sales and Purchase</h3>
                            <div class="card-tools">
                                <select class="form-contrl form-control-sm">
                                    <option>Kilogram</option>
                                    <option>1</option>
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <canvas id="monthsBarChart" style="width:100%;max-width:600px"></canvas> -->
                            <!-- <canvas id="myChart2" width="400" height="150"></canvas> -->
                            <canvas id="myChart" width="400" height="200"></canvas>
                        </div>

                    </div>
                </div>


                <!-- <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="text-center">
                                <h5>Divisionswise Sales
                                    <select class="boxss">
                                        <option>Kgs</option>
                                        <option>Gm</option>
                                        <option>Mg</option>
                                      </select>
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="wrapper2s">
                                <canvas id="stackedBarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Divisionwise Sales</h3>

                            <div class="card-tools">
                                <select class="form-contrl form-control-sm">
                                    <option>Kilogram</option>
                                    <option>1</option>
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="stackedBarChart"></canvas>
                            <!-- <canvas id="myChart1" width="400" height="250"></canvas> -->
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-2 shadow mb-5 bg-white rounded">
                        <div class="card-heading" style="border-bottom: 1px solid #ccc;">
                            <div class="row p-2">
                                <div class="col-md-7">
                                    <h6>Top 10 customer: (Qty)</h6>
                                </div>
                                <div class="col-md-5">
                                    <div class="float-right">
                                        <select class="form-control form-control-sm">
                                            <option>kg</option>
                                            <option>gm</option>
                                            <option>mg</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>1. Laxmi Narayan Hardware: 742678kgs</p>
                        <p>2. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>3. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>4. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>5. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>6. Rajesh Hardware pvt.ltd:478378kgs</p>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card p-2 shadow mb-5 bg-white rounded">
                        <div class="card-heading" style="border-bottom: 1px solid #ccc;">
                            <div class="row p-2">
                                <div class="col-md-7">
                                    <h6>Top 10 customer: (Qty)</h6>
                                </div>
                                <div class="col-md-5">
                                    <div class="float-right">
                                        <select class="form-control form-control-sm">
                                            <option>kg</option>
                                            <option>gm</option>
                                            <option>mg</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>1. Laxmi Narayan Hardware: 742678kgs</p>
                        <p>2. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>3. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>4. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>5. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>6. Rajesh Hardware pvt.ltd:478378kgs</p>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card p-2 shadow mb-5 bg-white rounded">
                        <div class="card-heading" style="border-bottom: 1px solid #ccc;">
                            <div class="row p-2">
                                <div class="col-md-7">
                                    <h6>Top 10 customer: (Qty)</h6>
                                </div>
                                <div class="col-md-5">
                                    <div class="float-right">
                                        <select class="form-control form-control-sm">
                                            <option>kg</option>
                                            <option>gm</option>
                                            <option>mg</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>1. Laxmi Narayan Hardware: 742678kgs</p>
                        <p>2. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>3. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>4. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>5. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>6. Rajesh Hardware pvt.ltd:478378kgs</p>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card p-2 shadow mb-5 bg-white rounded">
                        <div class="card-heading" style="border-bottom: 1px solid #ccc;">
                            <div class="row p-2">
                                <div class="col-md-7">
                                    <h6>Top 10 customer: (Qty)</h6>
                                </div>
                                <div class="col-md-5">
                                    <div class="float-right">
                                        <select class="form-control form-control-sm">
                                            <option>kg</option>
                                            <option>gm</option>
                                            <option>mg</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>1. Laxmi Narayan Hardware: 742678kgs</p>
                        <p>2. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>3. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>4. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>5. Rajesh Hardware pvt.ltd:478378kgs</p>
                        <p>6. Rajesh Hardware pvt.ltd:478378kgs</p>

                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <h6 style="text-align:center">Budget/Expenses: Advertisement</h6>
                    </div>
                    <div class="chart x-60">
                        <p>60%<br>Completed</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="container" style="height: 200px; width: 385px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container-fluid -->
</div>


    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
            theme: 'bootstrap4'
            })
        })</script>
        <script>
                                            // For Interest Calculation Radio Content
                                            //function interestCalcStatus(x) {
                                            //    if (x == 0)
                                            //        document.getElementById("interestCalcStstusYes").style.display = "block";
                                            //    else
                                            //        document.getElementById("interestCalcStstusYes").style.display = "none";
                                            //    return;
                                            //}
                                            //$("#rb-interest-calc-yes").click(function () {
                                            //    $('html,body').animate({
                                            //        scrollTop: $("#interestCalcStstusYes").offset().top
                                            //    },
                                            //        'slow');
                                            //});
                                            //$("#rb-interest-cal-no").click(function () {
                                            //    $('html,body').animate({
                                            //        scrollTop: $("#interestCalcStstusYes").offset().top
                                            //    },
                                            //        'fast');
                                            //});
                                            // End Interest Calculation Radio Content</script>


        <!-- bar and line graph -->
        <script>
                                                var ctx = document.getElementById("myChart");
var chart = new Chart(ctx, {
                        type: "bar",
                                      data: {
                        // labels: ["2020/02/17", "", "2020/02/23", "", "2020/02/29", ""],
                        labels: ["Baishak", "jestha", "Ashar", "Sharwan", "Bhadra"],
                                        datasets: [
                                          {
                        type: "bar",
                                            backgroundColor: "rgba(54, 162, 235, 0.2)",
                                            borderColor: "rgba(54, 162, 235, 1)",
                                            borderWidth: 1,
                                            label: "hhhh",
                                            data: [60, 49, 72, 90, 100, 60]
                                          },
                                          {
                        type: "line",
                                            label: "jhhh",
                                            data: [25, 13, 30, 35, 25, 40],
                                            lineTension: 0,
                                            fill: true
                                          }
                                        ]
                                      }
});
        </script>

        <script>
                                                const stackedBarChart = document.getElementById("stackedBarChart").getContext('2d')
new Chart(stackedBarChart, {
                        type: 'bar',
                                      data: {
                        labels: ['baisakh', 'jestha', 'ashar', 'shrawan', 'bhadra', 'ashoj', 'kartik'],
                                        datasets: [{
                        label: 'Employee',
                                          backgroundColor: "#caf270",
                                          data: [12, 59, 5, 56, 58, 12, 59, 87, 45],
                                        }, {
                        label: 'Engineer',
                                          backgroundColor: "#45c490",
                                          data: [12, 59, 5, 56, 58, 12, 59, 85, 23],
                                        }, {
                        label: 'Government',
                                          backgroundColor: "#008d93",
                                          data: [12, 59, 5, 56, 58, 12, 59, 65, 51],
                                        }, {
                        label: 'Political parties',
                                          backgroundColor: "#2e5468",
                                          data: [12, 59, 5, 56, 58, 12, 59, 12, 74],
                                        }],
                                      },
                                      options: {
                        tooltips: {
                        displayColors: true,
                                          callbacks: {
                        mode: 'x',
                                          },
                                        },
                                        scales: {
                        x: {
                        stacked: true,
                                            grid: {
                        display: false,
                                            }
                                          },
                                          y: {
                        stacked: true,
                                            ticks: {
                        beginAtZero: true,
                                            },
                                            grid: {
                        display: true
                                            },
                                            type: 'linear',
                                          }
                                        },
                                        responsive: true,
                                        maintainAspectRatio: false,
                                        legend: {position: 'bottom' },
                                      }
});
        </script>

        <script>
                                                var chart = new Highcharts.Chart({
                        chart: {
                        renderTo: 'container',
                                        marginBottom: 80
                                      },
                                      xAxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                        labels: {
                        rotation: 90
                                        }
                                      },

                                      series: [{
                        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                                      }]
});
        </script>
      