@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<link href="~/wwwroot/dist/css/Dashboard.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div ng-app="myApp" ng-controller="StockDAshboardCategory" ng-class="{waiting: loadingstatus=='running'}">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-right py-1">
                            <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i> Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="row px-2">
                    <div class="custom-col me-3">
                        <div class="card p-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <img src="~/wwwroot/dist/img/dashboard/bag.png" class="mr-2 icondesign" />
                                        Total Products
                                    </p>
                                </div>
                                <div><p class="yellowbg" style="color: #00C317;">16% <img src="~/wwwroot/dist/img/dashboard/trend-up.png" /> </p></div>
                            </div>
                            <h3 class="mb-0 mt-2"><b>123</b></h3>
                        </div>
                    </div>
                    <div class="custom-col me-3">
                        <div class="card p-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <img src="~/wwwroot/dist/img/dashboard/StockValues.png" class="mr-2 icondesign" />
                                        Stock Values
                                    </p>
                                </div>
                                <div><p class="redbg" style="color: #C62921;">16% <img src="~/wwwroot/dist/img/dashboard/trend-down.png" /> </p></div>
                            </div>
                            <h3 class="mb-0 mt-2"><b>Rs.123K</b></h3>
                        </div>
                    </div>
                    <div class="custom-col me-3">
                        <div class="card p-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <img src="~/wwwroot/dist/img/dashboard/Instock.png" class="mr-2 icondesign" />
                                        In Stock
                                    </p>
                                </div>
                                <div><p style="color: #C62921;" class="redbg">16% <img src="~/wwwroot/dist/img/dashboard/trend-down.png" /> </p></div>
                            </div>
                            <h3 class="mb-0 mt-2"><b>124</b></h3>
                        </div>
                    </div>
                    <div class="custom-col me-3">
                        <div class="card p-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <img src="~/wwwroot/dist/img/dashboard/OutStock.png" class="mr-2 icondesign" />
                                        Out Stock
                                    </p>
                                </div>
                                <div><p style="color: #C62921;" class="redbg">16% <img src="~/wwwroot/dist/img/dashboard/trend-down.png" /> </p></div>
                            </div>
                            <h3 class="mb-0 mt-2"><b>4124</b></h3>
                        </div>
                    </div>
                    <div class="custom-col">
                        <div class="card p-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>
                                        <img src="~/wwwroot/dist/img/dashboard/Inventory.png" class="mr-2 icondesign" style="height:29px;"/>
                                        Inventory
                                    </p>
                                </div>
                                <div><p class="yellowbg" style="color: #00C317;">16% <img src="~/wwwroot/dist/img/dashboard/trend-up.png" /> </p></div>
                            </div>
                            <h3 class="mb-0 mt-2"><b>124</b></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--Top Five In stock begins-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Top Five In stock</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-scroll-x-y table-scroll" style="max-height:290px">
                                    <table id="main-table-source"
                                           class="main-table table table-sm table-striped  bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px; background-color: #d9ecff !important; color: #08608E">S.No.</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E; z-index: 2 ">Product Code</th>
                                                <th style="width: 150px; background-color: #d9ecff !important; color: #08608E">Product Name</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E">Category</th>
                                                <th style="width: 80px; background-color: #d9ecff !important; color: #08608E">Stock Unit</th>
                                                <th style="width: 80px; background-color: #d9ecff !important; color: #08608E">Stock Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Top Five In stock Ends-->
                    <!--Top Five Out stock begins-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Top Five Out Stock</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-scroll-x-y table-scroll" style="max-height:290px">
                                    <table id="main-table-source"
                                           class="main-table table table-sm table-striped  bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px; background-color: #d9ecff !important; color: #08608E">S.No.</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E; z-index: 2 ">Product Code</th>
                                                <th style="width: 150px; background-color: #d9ecff !important; color: #08608E">Product Name</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E">Category</th>
                                                <th style="width: 80px; background-color: #d9ecff !important; color: #08608E">Stock Unit</th>
                                                <th style="width: 80px; background-color: #d9ecff !important; color: #08608E">Stock Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Top Five Out stock Ends-->
                </div>

                <div class="row">
                    <!--Annually Stock Analysis Starts-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Annually Stock Analysis</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2" style="height:355px;">
                                <canvas id="AnnualStockAnalysys"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--Annually Stock Analysis Ends-->
                    <!--Category Wise Stock Analysis Starts-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Category Wise Stock Analysis</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="chart-container1 mt-3">
                                    <canvas id="categorywisestock" height="360" style="width:100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Category Wise Stock Analysis Ends-->
                </div>


                <div class="row">
                    <!--Fast Moving Product Starts-->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Fast Moving Product</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2" style="height: 100%; display: flex; justify-content: center; align-items: center; padding: 0; /* ">
                                <canvas id="myChart" width="450" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--Fast Moving Product Ends-->
                    <!--Slow Moving Product Starts-->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Slow Moving Product</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2" style="height:315px;">
                                <canvas id="slowMovingChart" width="450" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--Slow Moving Product Ends-->
                    <!--Category Wise Stock Starts-->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Category Wise Stock</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2" style="height:315px;">
                                <div id="piechart_3d" style=" height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <!--Category Wise Stock Ends-->
                </div>

                <div class="row">
                    <!--Product Starts-->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="card-title">Product</h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-primary mt-1"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="table-scroll-x-y table-scroll" style="max-height:290px">
                                    <table id="main-table-source"
                                           class="main-table table table-sm table-striped  bg-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px; background-color: #d9ecff !important; color: #08608E">S.No.</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E; z-index: 2 ">Product Code</th>
                                                <th style="width: 150px; background-color: #d9ecff !important; color: #08608E">Product Name</th>
                                                <th style="width: 120px; background-color: #d9ecff !important; color: #08608E">Category</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E">Stock Unit</th>
                                                <th style="width: 100px; background-color: #d9ecff !important; color: #08608E">Stock Level</th>
                                                <th style="width: 130px; background-color: #d9ecff !important; color: #08608E">Stock Threshold</th>
                                                <th style="width: 140px; background-color: #d9ecff !important; color: #08608E">Last Restocked Date</th>
                                                <th style="width: 130px; background-color: #d9ecff !important; color: #08608E">Supplier</th>
                                                <th style="width: 110px; background-color: #d9ecff !important; color: #08608E">Stpck Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td>2080/05/20</td>
                                                <td>Hari Enterprises</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td>2080/05/20</td>
                                                <td>Hari Enterprises</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td>2080/05/20</td>
                                                <td>Hari Enterprises</td>
                                                <td>200</td>
                                            </tr>

                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td>2080/05/20</td>
                                                <td>Hari Enterprises</td>
                                                <td>200</td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>PRO01</td>
                                                <td>Tata Fuel 400ml</td>
                                                <td>Engine Oil</td>
                                                <td>Ltr/ml</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td>2080/05/20</td>
                                                <td>Hari Enterprises</td>
                                                <td>200</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Ends-->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>

<script>
    const ctx7 = document.getElementById('AnnualStockAnalysys').getContext('2d');

    // Create gradient for online sales (blue)
    const gradientBlue7 = ctx7.createLinearGradient(0, 0, 0, 400);
    gradientBlue7.addColorStop(0, '#FF0000');
    gradientBlue7.addColorStop(1, 'rgba(74, 144, 226, 0.01)');

    // Create gradient for offline sales (orange)
    const gradientOrange7 = ctx7.createLinearGradient(0, 0, 0, 400);
    gradientOrange7.addColorStop(0, '#55B11B');
    gradientOrange7.addColorStop(1, 'rgba(169, 223, 216, 0.01)');

    new Chart(ctx7, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [
                {
                    label: 'Online Sales',
                    data: [20, 30, 40, 60, 80, 70, 90, 75, 50, 45, 65, 85],
                    borderColor: '#007bff',
                    backgroundColor: gradientBlue7,
                    fill: true,
                    tension: 0.4,
                    pointRadius: 3,
                    pointBackgroundColor: '#007bff',
                },
                {
                    label: 'Offline Sales',
                    data: [30, 40, 50, 70, 90, 80, 100, 85, 60, 55, 75, 95],
                    borderColor: '#ffa500',
                    backgroundColor: gradientOrange7,
                    fill: true,
                    tension: 0.4,
                    pointRadius: 3,
                    pointBackgroundColor: '#ffa500',
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Monthly Stock Unit',
                    },
                },
                x: {
                    title: {
                        display: true,
                        text: 'Months',
                    },
                },
            },
            plugins: {
                legend: {
                    position: 'bottom',
                    labels: {
                        usePointStyle: true, // Use point style for legend markers
                        pointStyle: 'circle', // Set the point style to circle
                    },
                },
            },
        },
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctx5 = document.getElementById("categorywisestock").getContext("2d");

        const data = {
            labels: ["Cat1", "Cat2", "Cat3", "Cat4", "Cat5", "Cat6", "Cat7", "Cat8", "Cat9"],
            datasets: [
                {
                    label: "Stock",
                    data: [10, 20, 30, 40, 50, 40, 30, 20, 10],
                    backgroundColor: "#69A643", // Light blue
                    borderRadius: 20, // Add rounded corners to bars
                    barThickness: 35,
                }
            ],
        };

        const options = {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,

                    title: {
                        display: true,
                        text: "Stock unit",
                    },
                },
            },
            plugins: {
                legend: {
                    display: false,
                    position: "bottom",
                    labels: {
                        usePointStyle: true,
                    },
                },

            },
        };

        new Chart(ctx5, {
            type: "bar",
            data: data,
            options: options,
        });
    });

</script>

<script>
    // Chart.js Configuration
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Product', 'Product', 'Product', 'Product', 'Product'], // X-axis labels
            datasets: [{
                label: 'Sales',
                data: [20, 40, 60, 80, 70], // Y-axis data points
                borderColor: '#1E86D3',
                backgroundColor: 'rgba(0, 123, 255, 0.3)',
                fill: true,
                tension: 0.4, // Smooth curve
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100 // To match the example range
                }
            },
            plugins: {
                legend: {
                    display: false // Hide legend to match the design
                }
            }
        }
    });
</script>

<script>
    const slowCtx = document.getElementById('slowMovingChart').getContext('2d');
    new Chart(slowCtx, {
        type: 'line',
        data: {
            labels: ['Product', 'Product', 'Product', 'Product', 'Product'], // X-axis labels
            datasets: [{
                label: 'Sales',
                data: [10, 20, 40, 80, 60], // Y-axis data with jumps
                borderColor: '#1E86D3',
                backgroundColor: 'rgba(0, 123, 255, 0.2)',
                fill: false,
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100
                }
            },
            plugins: {
                legend: {
                    display: false // Hide legend to match the design
                }
            }
        }
    });
</script>

<script>
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Category', 'Numbers'],
            ['Product1', 5],
            ['Product2', 2],
            ['Product3', 2],
            ['Product4', 2],
            ['Product5', 7],
            ['Product6', 4],
            ['Product7', 6]
        ]);

        var options = {            
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
</script>
