@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/Finance/Transaction/CalculateRebatePenalty.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="RebatePenaltyController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid">
            <section class="iframe-content-starts-here">
                <div id="monthEnd-section">
                    <form action="">
                        <div class="card">
                            <div class="card-header header-corner-triangle p-2">
                                <h3 class="card-title">
                                    Rebate / Penalty
                                    </h3>
                            </div>
                            <div class="card-body p-2">

                                <!-- Date Fields -->
                                <div class="row mt-2">
                                    <div class="col-md-3 mt-2">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="mb-0" style="width: 100px;">Date From</label>
                                            <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.FromDate_TMP" date-detail="beData.FromDateDet">
                                        </div>
                                    </div>

                                    <div class="col-md-3 mt-2">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="mb-0" style="width: 80px;">Date To</label>
                                            <input type="text" class="form-control form-control-sm" date-picker ng-model="beData.ToDate_TMP" date-detail="beData.ToDateDet">
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="row mt-4 mb-2">
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-outline-danger btn-sm load" ng-click="DelRebatePenalty()">
                                            Delete Rebate/Penalty
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm mx-2 load" ng-click="CalculatePenalty()">
                                            Calc. Penalty
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm load" ng-click="CalculateRebate()">
                                            Calc. Rebate
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
</div>