
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/Appointment/Master/BookingChannel.js"></script>
<div id="ActionDiv" ng-app="myApp" ng-controller="BookingChannelController" ng-init="LoadData()">
    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false" ng-click="ClearFields()">Booking Channel</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-2">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            <header class="row">
                                <div class="col-md-8">
                                    <div class="clearfix">
                                        <form class="form-inline">

                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Show</span>
                                                </div>
                                                <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.BookingChannel">
                                                    <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="">{{pp.text}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white"><small>entries</small></span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar" type="search"
                                                       placeholder="Search" aria-label="Search" ng-model="searchData.BookingChannel">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0" type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="dropdown dnld-file"
                                         data-placement="top" title="Download File">
                                        <a class="btn btn-secondary btn-light btn-sm wait"
                                           title="Refresh" ng-click="GetAllBookingChannel()">
                                            <i class="fas fa-sync-alt"></i>
                                        </a>
                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-download"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">Choose an option:</span>
                                            <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'BookingChannel'" report-name="'List Of Booking Channel'" ignore-column="'3'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                            <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false',reportName:'BookingChannel',ignoreColumn:'3' });"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        </div>
                                        <a print-tbl report-name="'Booking Channel'" table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"
                                           title="Print">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </header>

                            <div class="search-toolbar mb-3 mt-2">
                                <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">
                                                S.N

                                            </th>
                                            <th style="width: 25%">
                                                Booking Channel

                                            </th>

                                            <th style="width: 20% ;">
                                                Order No
                                            </th>
                                            <th style="width: 10% ;">
                                                IsActive
                                            </th>
                                            <th style="width: 25% ;">
                                                Remarks
                                            </th>

                                            <th class="no-print text-center" width="10%">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="beData in BookingChannelList | filter:searchData.BookingChannel| itemsPerPage:perPage.BookingChannel" current-page="currentPages.BookingChannel" pagination-id="BookingChannelPagination">
                                            <td>{{$index + 1}}</td>
                                            <td>{{beData.BookingChannelName}}</td>
                                            <td>{{beData.OrderNo}}</td>
                                            <td>{{beData.IsActive}}</td>
                                            <td>{{beData.Remarks}}</td>
                                            <td class="project-actions no-print text-center">
                                                <div class="btn-group-sm">
                                                    <a href="#" class="btn btn-info" ng-click="GetBookingChannelById(beData)"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="#" class="btn btn-danger" ng-click="deleteBookingChannel(beData, $index)"><i class="fas fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class="col-md-12">
                                    <dir-pagination-controls pagination-id="BookingChannelPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                    </dir-pagination-controls>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            <div>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Booking Channel</label>
                                                <select class="form-control form-control-sm pl-0" ng-model="newBookingChannel.BookingChannelId">
                                                    <option ng-value="B.id" ng-repeat="B in BookingChannelColl" ng-selected="B.id == newBookingChannel.BookingChannelId">{{B.name}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Order No</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newBookingChannel.OrderNo">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="custom-control custom-checkbox mr-3">
                                                <label class="invisible d-block">IsActive?</label>
                                                <input type="checkbox" id="IsActiveId" class="custom-control-input" ng-model="newBookingChannel.IsActive">
                                                <label for="IsActiveId" class="custom-control-label">  Is Active?</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                @*<input type="text" class="form-control form-control-sm" ng-model="newBookingChannel.Remarks">*@
                                                <textarea class="form-control form-control-sm" rows="1" ng-model="newBookingChannel.Remarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <footer class="main-footer">
                                    <div class="text-right control-btns">
                                        <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                        <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateBookingChannel()"><span class="glyphicon glyphicon-save"></span>Save</button>
                                    </div>
                                </footer>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>