
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/account/transaction/ReNumberingVoucher.js"></script>
<div ng-app="myApp" ng-controller="reVoucherNumController" ng-init="LoadData()" ng-cloak>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="sale-page-wrap">
            <div class="overflow-hidden">
                @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                @RenderPage("~/Views/Global/_LedgerDetails.cshtml")
                <!-- Page Content  -->
                <div class="content-wrapper-new">

                    <div class="card p-2 mt-2">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select Voucher</label>
                                    <div class="col-md-8">
                                        <select class="form-control form-control-sm hideSideBar" active-select2 style="width: 100%;" ng-model="beData.VoucherId">
                                            <option ng-repeat="vt in VoucherColl track by vt.VoucherId" ng-value="vt.VoucherId" ng-selected="vt.VoucherId == beData.VoucherId">
                                                {{vt.VoucherName}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select Fiscal Year </label>
                                    <div class="col-md-8">
                                        <select class="form-control form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.CostClassId">
                                            <option ng-repeat="vt in CostClassColl track by vt.CostClassId" ng-value="vt.CostClassId" ng-selected="vt.CostClassId == beData.CostClassId">
                                                {{vt.Name}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <label for="" class="col-md-6">Voucher Date</label>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control form-control-sm" date-picker ng-model="beData.VoucherDate_TMP" date-detail="beData.VoucherDateDet">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <label for="" class="col-md-6">Re-Start No.</label>
                                    <div class="col-md-6">
                                        <input type="number"
                                               class="form-control form-control-sm" date-picker ng-model="beData.ReStartNo">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <button type="button" class="btn btn-default" style="min-width: 90px;" ng-click="ReVoucherNum()">Re-numbering</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
