
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/account/transaction/RouteMerge.js"></script>
<div ng-app="myApp" ng-controller="RouteMergeController" ng-init="LoadData()" ng-cloak>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="sale-page-wrap">
            <div class="overflow-hidden">
                @RenderPage("~/Views/Global/_WaitDialog.cshtml")
                @RenderPage("~/Views/Global/_LedgerDetails.cshtml")
                <!-- Page Content  -->
                <div class="content-wrapper-new">

                    <div class="card p-2 mt-2">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select From Route</label>
                                    <div class="col-md-8">
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="beData.FromRouteId" data-placeholder="** Select Route **">
                                            <option ng-value="cl.DebtorRouteId" ng-repeat="cl in DebtorsCreditorsRouteColl">{{cl.Name}}</option>
                                        </select>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="" class="col-md-4">Select To Route</label>
                                    <div class="col-md-8">                                        
                                        <select class="form-control form-control-sm select2" style="width: 100%;" ng-model="beData.ToRouteId" data-placeholder="** Select Route **">
                                            <option ng-value="cl.DebtorRouteId" ng-repeat="cl in DebtorsCreditorsRouteColl">{{cl.Name}}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <button type="button" class="btn btn-default" style="min-width: 90px;" ng-click="RouteMerge()">Merge</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
