@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/appcms/AboutUs.js"></script>

<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AboutUsController" ng-init="LoadData()">
    <section class="content">
        <div class="container-fluid" style="margin-top: -10px;">
            <section class="iframe-content-starts-here">
                <!-- form area starts -->
                <div id="notice-form1">

                    <div>
                        <!-- <i class="fas fa-envelope bg-blue"></i> -->
                        <div class="card">
                            <div class="card-body">
                                <div class="timeline-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <!-- select for others -->
                                                <div class="col-md-4">
                                                    <div class="form-group text-center">
                                                        <!-- <label for="">Logo</label> -->
                                                        <div class="card-body">
                                                            <!-- <label for="">Photo</label> -->
                                                            <div class="person-photo-attachment-wrap text-center">
                                                                <div class="img-wrap mx-auto">
                                                                    <img ng-src="{{newAboutUs.LogoData || newAboutUs.LogoPath}}" class="img-fluid" alt="" id="imgLogo1">
                                                                </div>
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updateLogo" style="font-size:14px;">
                                                                    <i class="fas fa-camera w-t"></i> Upload Logo
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- fields after clicking radio button ends -->
                                                <div class="col-md-4">
                                                    <div class="form-group text-center">
                                                        <!-- <label>Image</label> -->
                                                        <div class="card-body">
                                                            <!-- <label for="">Photo</label> -->
                                                            <div class="person-photo-attachment-wrap text-center">
                                                                <div class="img-wrap mx-auto">
                                                                    <img ng-src="{{newAboutUs.ImageData || newAboutUs.ImagePath}}" class="img-fluid" alt="" id="imgPhoto1">
                                                                </div>
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePhoto"style="font-size:14px;">
                                                                    <i class="fas fa-camera w-t"></i> Upload Image
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group text-center">
                                                        <!-- <label>Banner</label> -->
                                                        <div class="card-body">
                                                            <!-- <label for="">Photo</label> -->
                                                            <div class="person-photo-attachment-wrap text-center">
                                                                <div class="img-wrap mx-auto">
                                                                    <img ng-src="{{newAboutUs.BannerData || newAboutUs.BannerPath}}" class="img-fluid" alt="" id="imgBanner1">
                                                                </div>
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updateBanner"style="font-size:14px;">
                                                                    <i class="fas fa-camera w-t"></i> Upload Banner
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="">Content</label>
                                                        <textarea class="textarea" placeholder="Place some text here"
                                                                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="newAboutUs.Content" html-editor></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-label">
                                                <span class="d-block border-0 p-3 text-center">

                                                    <button type="button"
                                                            class="btn  btn-default"
                                                            style="min-width: 90px" ng-click="ClearAboutUs()">
                                                        Reset
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-success"
                                                            style="min-width: 90px" ng-click="SaveUpdateAboutUs()">
                                                        {{newAboutUs.Mode}}
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- col-md-9 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END timeline item -->
                </div>
                <!-- form area ends -->
            </section>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    @*Logo*@
    <div class="modal fade" id="updateLogo" tabindex="-1" aria-labelledby="updateLogoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateLogoLabel">Upload Logo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newAboutUs.Logo_TMP" @*after-selected="AddAboutUsPhoto()"*@ fileread="newAboutUs.LogoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newAboutUs.LogoData || newAboutUs.LogoPath}}" class="img-fluid" id="imgLogo">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-fileLogo" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-fileLogo" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newAboutUs.Logo_TMP" fileread="newAboutUs.LogoData" />
                    <a ng-click="ClearAboutUsLogo()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>


    @*image*@
    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newAboutUs.Image_TMP" @*after-selected="AddAboutUsPhoto()"*@ fileread="newAboutUs.ImageData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newAboutUs.ImageData || newAboutUs.ImagePath}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newAboutUs.Image_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newAboutUs.ImageData" />
                    <a ng-click="ClearAboutUsImage()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    @*Banner*@
    <div class="modal fade" id="updateBanner" tabindex="-1" aria-labelledby="updateBannerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateBannerLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newAboutUs.Banner_TMP" @*after-selected="AddAboutUsPhoto()"*@ fileread="newAboutUs.BannerData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newAboutUs.BannerData || newAboutUs.BannerPath}}" class="img-fluid" id="imgBanner">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-fileBanner" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-fileBanner" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newAboutUs.Banner_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newAboutUs.BannerData" />
                    <a ng-click="ClearAboutUsBanner()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

