@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style>
<script src="~/jslib/AppCMS/Introduction.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="IntroductionController" ng-init="LoadData()">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="tab-pane fade show active" id="pills-second" role="tabpanel"
                 aria-labelledby="pills-second-tab">
                <!-- if-page-have-nav-tabs -->
                <div class="p-1"></div>
                <div class="card">
                    <div class="card-header p-0 border-bottom-0">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                                       href="#home" role="tab" aria-controls="home"
                                       aria-selected="true">Vision Statement</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab"
                                       href="#profile" role="tab" aria-controls="profile"
                                       aria-selected="false">Testimonial</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- end if-page-have-nav-tabs -->
                    <div class="tab-content" id="myTabContent">
                        <!-- Vision Statement Tab Starts -->
                        <div class="tab-pane fade show active main-section" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div id="vision-table-listing">
                                <!-- Second Tab Content -->
                                <div class="p-2">
                                    <header class="row mb-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.VisionStatement">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.VisionStatement">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.VisionStatement" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file">
                                                <button class="btn btn-secondary btn-light dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light wait">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-primary" id="add-vision-form" style="font-size: 14px;">
                                                    <i class="fas fa-plus w-t"></i> Add Vision Statement
                                                </button>
                                            </div>
                                        </div>
                                    </header>
                                    <div>
                                        <div class="table-scroll-x-y table-scroll" style="max-height: calc(100vh - 100px);">
                                            <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 80px">Order No.</th>
                                                        <th style="width: 250px">Title</th>
                                                        <th class="text-center" style="width: 60px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="cl in VisionStatementList | filter:searchData.VisionStatement | itemsPerPage: perPage.VisionStatement" current-page="currentPages.VisionStatement" pagination-id="VisionStatementPagination">
                                                        <td>{{cl.OrderNo}}</td>
                                                        <td>{{cl.Title}}</td>
                                                        <td class="text-center">
                                                            <a class="p-1" href="#" ng-click="ShowPersonalImg(cl)">
                                                                <i class="fas fa-eye text-secondary"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="GetVisionStatementById(cl)">
                                                                <i class="fas fa-edit text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="DelVisionStatementById(cl)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="VisionStatementPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <div id="rules-form">
                                <div class=" p-2">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label for="">Title</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newVisionStatement.Title" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">Order No.</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newVisionStatement.OrderNo" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea class="textarea" placeholder="Place some text here" style="
                                                                          width: 100%;
                                                                          height: 200px;
                                                                          font-size: 14px;
                                                                          line-height: 18px;
                                                                          border: 1px solid #dddddd;
                                                                          padding: 10px;
                                                                        " ng-model="newVisionStatement.Description" html-editor></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="" class="invisible">Photo</label>
                                            <div class="person-photo-attachment-wrap text-center">
                                                <div class="img-wrap mx-auto" style="width:100%;">
                                                    <img ng-src="{{newVisionStatement.PhotoDataVision || newVisionStatement.ImagePath}}" class="img-fluid" alt="" id="imgVision1">
                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updateVision" style="font-size: 14px;">
                                                    <i class="fas fa-camera w-t"></i> Upload Image
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="time-label">
                                        <span class="d-block border-0 p-3 text-center">
                                            <button type="button" class="btn btn-info" id="back-to-vision-list" style="min-width: 90px">
                                                Back to List
                                            </button>
                                            <button type="button" class="btn  btn-default" style="min-width: 90px" ng-click="ClearVisionStatement()">
                                                Reset
                                            </button>
                                            <button type="button" class="btn btn-success" style="min-width: 90px" ng-click="SaveUpdateVisionStatement()">
                                                {{newVisionStatement.Mode}}
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Vision Statement Tab Ends -->
                        <!-- Founder Message Tab Starts -->
                        <div class="tab-pane fade main-section" id="profile" role="tabpanel"
                             aria-labelledby="profile-tab">
                            <div id="message-table-listing">
                                <!-- Second Tab Content -->
                                <div class="p-2">
                                    <header class="row mb-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Testimonial">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Testimonial">{{pp.text}}</option>
                                                        </select>

                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.Testimonial" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0" type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file">
                                                <button class="btn btn-secondary btn-light dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light wait">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-primary" id="add-message-form" style="font-size: 14px;">
                                                    <i class="fas fa-plus w-t"></i> Add Message
                                                </button>
                                            </div>
                                        </div>

                                    </header>
                                    <div>
                                        <div class="table-scroll-x-y table-scroll">
                                            <table id="main-table"
                                                   class="main-table table table-sm table-bordered bg-white">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 80px">Order No.</th>
                                                        <th style="width: 250px">Title</th>
                                                        <th class="text-center" style="width: 60px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="cl in TestimonialList | filter:searchData.Testimonial | itemsPerPage: perPage.Testimonial" current-page="currentPages.Testimonial" pagination-id="TestimonialPagination">
                                                        <td>{{cl.OrderNo}}</td>
                                                        <td>{{cl.Title}}</td>
                                                        <td class="text-center">
                                                            <a class="p-1" href="#" ng-click="ShowPersonalImg(cl)">
                                                                <i class="fas fa-eye text-secondary"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="GetTestimonialById(cl)">
                                                                <i class="fas fa-edit text-info"></i>
                                                            </a>
                                                            <a class="p-1" href="#" ng-click="DelTestimonialById(cl)">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- table end -->
                                        </div>
                                    </div>
                                    <footer class="row align-items-center">
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="TestimonialPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <div id="message-form">
                                <div class=" p-2">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="row">
                                                @*<div class="col-md-8">
                                            <div class="form-group">
                                                <label for="">Message From (Designation)</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newTestimonial.Designation" />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="">Qualification</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newTestimonial.Qualification" />
                                            </div>
                                        </div>*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Order No.</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newTestimonial.OrderNo" />
                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label for="">Title</label>
                                                        <input type="text" class="form-control form-control-sm" ng-model="newTestimonial.Title" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea class="textarea"
                                                                  placeholder="Place some text here"
                                                                  style="
                                                      width: 100%;
                                                      height: 200px;
                                                      font-size: 14px;
                                                      line-height: 18px;
                                                      border: 1px solid #dddddd;
                                                      padding: 10px;
                                                    " ng-model="newTestimonial.Description" html-editor></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group text-center">
                                                <!-- <label>Founder</label> -->
                                                <div class="card-body">
                                                    <!-- <label for="">Photo</label> -->
                                                    <div class="person-photo-attachment-wrap text-center">
                                                        <div class="img-wrap mx-auto">
                                                            <img ng-src="{{newTestimonial.PhotoDataFounder  || newTestimonial.ImagePath}}" class="img-fluid" alt="" id="imgFounder1">
                                                        </div>
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updateFounder" style="font-size: 14px;">
                                                            <i class="fas fa-camera w-t"></i> Upload Image
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="time-label">
                                        <span class="d-block border-0 p-3 text-center">
                                            <button type="button" class="btn btn-info" id="back-to-message-list" style="min-width: 90px">
                                                Back to List
                                            </button>
                                            <button type="button" class="btn  btn-default" style="min-width: 90px" ng-click="ClearTestimonial()">
                                                Reset
                                            </button>
                                            <button type="button" class="btn  btn-success" style="min-width: 90px" ng-click="SaveUpdateTestimonial()">
                                                {{newTestimonial.Mode}}
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Founder Message Tab Ends -->

                    </div>
                </div>
            </div>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
    @* photo upload Modal*@
    <!-- Vision Statement Photo modal -->
    <div class="modal fade" id="updateVision" tabindex="-1" aria-labelledby="updateVisionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateVisionLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newVisionStatement.PhotoVision_TMP" @*after-selected="AddAboutUsPhoto()"*@ fileread="newVisionStatement.PhotoDataVision">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newVisionStatement.PhotoDataVision || newVisionStatement.ImagePath}}" class="img-fluid" id="imgVision">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-fileVision" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-fileVision" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newVisionStatement.PhotoVision_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newVisionStatement.PhotoDataVision" />
                    <a ng-click="ClearVisionStatementPhotoVision()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAboutUsImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>


    <!-- Founder Message Photo modal -->
    <div class="modal fade" id="updateFounder" tabindex="-1" aria-labelledby="updateFounderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateFounderLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newTestimonial.PhotoFounder_TMP" @*after-selected="AddAboutUsPhoto()"*@ fileread="newTestimonial.PhotoDataFounder">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newTestimonial.PhotoDataFounder || newTestimonial.ImagePath}}" class="img-fluid" id="imgFounder">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-fileFounder" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-fileFounder" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newTestimonial.PhotoFounder_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newTestimonial.PhotoDataFounder" />
                    <a ng-click="ClearTestimonialPhotoFounder()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddAboutUsImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <img ng-src="{{viewImg.ContentPath}}" alt="" style="width:100%; height: 70vh;">
                </div>
                <div class="modal-footer">
                    <div><a href="{{viewImg.ContentPath}}" target="_blank" download>Download</a></div>
                    <button class="btn btn-success btn-rounded btn-sm ml-4 text-center" data-dismiss="modal" type="button" style="min-width: 90px;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Staff Heirarchy photo model -->
    <div class="modal fade" id="updatePhoto" tabindex="-1" aria-labelledby="updatePhotoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhotoLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center" border-0 pb-0" file-dropzone="[image/png, image/jpeg]"
                     data-max-file-size="3" ng-model="newStaffHierarchy.Photo_TMP" @*after-selected="AddStaffHierarchyPhoto()"*@ fileread="newStaffHierarchy.PhotoData">
                    <div class="photo-upload-wrap">
                        <span class="static-content">
                            <img ng-src="{{newStaffHierarchy.PhotoData || newStaffHierarchy.ImagePath}}" class="img-fluid" id="imgPhoto">
                            <span>Drag & Drop your<br>image here</span>
                        </span>
                    </div>
                    <div class="text-muted pb-3">or</div>
                    <label for="choose-file" type="button" class="btn btn-secondary btn-light btn-sm">Upload Image</label>
                    <input id="choose-file" type="file" accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" file-model ng-model="newStaffHierarchy.Photo_TMP" @*after-selected="AddStudentPhoto()"*@ fileread="newStaffHierarchy.PhotoData" />
                    <a ng-click="ClearStaffHierarchyPhoto()" href="#" class="text-danger d-block mt-3">remove current image</a>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dafault" data-dismiss="modal">Ok</button>
                    @*<button type="button" class="btn btn-secondary px-4" ng-click="AddStaffHierarchyImage()">Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

