@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/export/tableExport.js"></script>
<script src="~/jslib/export/jquery.base64.js"></script>

<script src="~/jslib/export/jspdf/libs/sprintf.js"></script>
<script src="~/jslib/export/jspdf/jspdf.js"></script>
<script src="~/jslib/export/jspdf/libs/base64.js"></script>
<link href="~/wwwroot/dynamic-erp/css/stock-flow.css" rel="stylesheet" />
<script src="~/jslib/AppCMS/ProductDocuments.js"></script>
<div ng-app="myApp" ng-controller="ProductDocumentsController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()" ng-cloak>
    <div class="box-body1 ">
        <div class="content">
            <div class="container-fluid p-1">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" ng-click="ClearFields()" aria-selected="false">Product Documents</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-2">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <header class="row">
                                    <div class="col-md-8">
                                        <div class="clearfix">
                                            <form class="form-inline">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cstm">Show</span>
                                                    </div>
                                                    <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ProductDoc">
                                                        <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ProductDoc">{{pp.text}}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar" type="search"
                                                           placeholder="Search" aria-label="Search" ng-model="searchData.ProductDoc">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0" type="submit">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end col-md-8 -->
                                    <div class="col-md-4 text-right">
                                        <div class="dropdown dnld-file">
                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-download"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'Herbs'" report-name="'List Of Herbs'" ignore-column="'6'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false',reportName:'Herbs',ignoreColumn:'6' });"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                            </div>
                                            <a print-tbl report-name="'List Of Herbs'" table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait">
                                                <i class="fas fa-print"></i>
                                            </a>
                                        </div>


                                    </div>
                                </header>
                                <div class="search-toolbar mt-2">
                                    <div class="">
                                        <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; width:50px;">S.No. </th>
                                                    <th>Name</th>
                                                    <th>Category</th>
                                                    <th style="text-align:center;width: 60px;" class="no-print">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="P in ProductDetList | filter:searchData.ProductDoc | itemsPerPage:perPage.ProductDoc" current-page="currentPages.ProductDoc" pagination-id="ProductDocPagination">
                                                    <td style="text-align:center;">{{$index+1}}</td>
                                                    @*<td>{{P.Name}}</td>*@
                                                    <td>{{P.ProductName}}</td>
                                                    <td>{{P.CategoryName}}</td>
                                                    <td class="project-actions no-print text-center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-sm btn-info" ng-click="GetProductDocById(P)"><i class="fas fa-pencil-alt"></i></a>
                                                            @*<a href="#" class="btn btn-sm btn-danger" ng-click="DeleteProductDoc(P,$index)"><i class="fas fa-trash"></i></a>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="ProductDocPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                <div>
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Product <span style="color:red">*</span></label>
                                                    <select autoShowHide="true" class="form-control form-control-sm select2 serial" all-product ng-model="beData.ProductId" style="width:100%"
                                                            placeholder="** Select Product  **" showdetails="true" product-detail="beData.productDetail" side-bar-data="beData.sideBarData"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="textarea" placeholder="Place some text here"
                                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="beData.EcommerceDescription" html-editor></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label> Ingredients Description</label>
                                                    <textarea class="textarea" placeholder="Place some text here"
                                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="beData.IngredientsDescription" html-editor></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label> Usage Description</label>
                                                    <textarea class="textarea" placeholder="Place some text here"
                                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="beData.UsageDescription" html-editor></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="timeline-item mt-1">
                                            <div class="card p-2" style="background-color: aliceblue;">
                                                <div class="add-more-than-one-form-block">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label><b>Attach Document</b></label>
                                                                <div class="new-cstm-file-upload">
                                                                    <div class="drop-area" file-drop>
                                                                        <div class="icon"></div>
                                                                        <h3>Drag & Drop Files Here</h3>
                                                                        <p>or <span>click to browse</span></p>
                                                                        <input type="file" id="flMoreFiles" multiple file-model ng-model="attachFile">
                                                                        <div class="attached-list">
                                                                            <ul class="file-list"></ul>
                                                                            <button class="btn btn-sm text-danger clear-files" style="display: none;">Clear</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="d-flex flex-column h-100 justify-content-between">
                                                                <div class="form-group">
                                                                    <label>Description</label>
                                                                    <textarea class="form-control form-control-sm dynamic-uiux" rows="4" ng-model="docDescription"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div>
                                                                        <label class="invisible d-none">for height</label>
                                                                        <button type="button" class="btn btn-sm btn-outline-primary btn-block py-1" ng-click="AddMoreFiles(attachFile,docDescription)"><i class="fas fa-plus"></i> Add More</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pb-3">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover border bg-white">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" style="width: 20px">SN.</th>

                                                                    <th scope="col">File Name</th>
                                                                    <th scope="col">Description</th>
                                                                    <th scope="col" style="width: 130px">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="ac in beData.DocumentColl">
                                                                    <th scope="row">{{$index+1}}</th>

                                                                    <td>{{ac.Name}}</td>
                                                                    <td>{{ac.Description}}</td>
                                                                    <td>
                                                                        <div>
                                                                            <a class="p-1" href="#" ng-click="ShowPersonalImg(ac)" data-toggle="tooltip" data-placement="top" title="" data-original-title="View doc">
                                                                                <i class="fas fa-eye text-secondary"></i>
                                                                            </a>

                                                                            <a class="p-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete doc." ng-click="delAttachmentFiles($index)">
                                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                            
                                        </div>
                                    </form>
                                    <footer class="main-footer mt-4">
                                        <div class="text-right control-btns">
                                            <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                            <button type="button" class="btn btn-primary btn" ng-click="SaveUpdateProductDoc()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>{{beData.Mode}}</button>
                                        </div>
                                    </footer>

                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="PersonalImg" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body mb-0 p-2">
                        <iframe class="responsive-iframe1" ng-hide="viewImg1.FileType === 'image'" id="pdfViewer1" style="width: 100%; height: 700px; border: none;"></iframe>
                        <img ng-show="viewImg1.FileType === 'image'" ng-src="{{viewImg1.ContentPath}}" alt="" style="width: 100%; height: auto;" id="imgPreviewAdd1">
                    </div>
                    <div class="modal-footer p-2">
                        <div><a href="{{viewImg1.ContentPath}}" download>Download</a></div>
                        <button class="btn btn-success btn-rounded btn-sm ml-4 btn-add text-center" data-dismiss="modal" type="button" style="min-width: 70px;">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/wwwroot/dist/js/cstmjs.js"></script>
<script>
    document.querySelector('.responsive-iframe').onload = function () {
        const iframeDocument = this.contentDocument || this.contentWindow.document;
        const img = iframeDocument.querySelector('img');
        if (img) {
            img.style.width = '100%';
            img.style.height = 'auto';
        }
    };
</script>

<script>
    document.querySelector('.responsive-iframe1').onload = function () {
        const iframeDocument1 = this.contentDocument || this.contentWindow.document;
        const img = iframeDocument1.querySelector('img');
        if (img) {
            img.style.width = '100%';
            img.style.height = 'auto';
        }
    };
</script>
<style>

    .table table-bordered table-striped table-hover table-sm td {
        font-size: x-small;
        line-height: 10px;
    }
</style>