@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/AppCMS/QuestionAnswer.js"></script>
<div ng-app="myApp" ng-controller="QAController" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()" ng-cloak>

    <div class="box-body1 ">
        <div class="content">
            <div class="container-fluid p-1">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" ng-click="ClearFields()" aria-selected="false">Question Answer</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-2">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <header class="row">
                                    <div class="col-md-8">
                                        <div class="clearfix">
                                            <form class="form-inline">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cstm">Show</span>
                                                    </div>
                                                    <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.QuestionAnswer">
                                                        <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.QuestionAnswer">{{pp.text}}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white"><small>entries</small></span>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm table-search-filed">
                                                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="searchData.QuestionAnswer">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default border-left-0" type="submit"><i class="fas fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end col-md-8 -->
                                    <div class="col-md-4 text-right">
                                        <div class="dropdown dnld-file">
                                            <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-download"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <span class="dropdown-item">Choose an option:</span>
                                                <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'TagSection'" report-name="'List Of Question Answer'" ignore-column="'6'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false',reportName:'QuestionAnswer',ignoreColumn:'6' });"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                            </div>
                                            <a print-tbl report-name="'Question Answer'" table-id="'#datatable'" class="btn btn-secondary btn-light btn-sm wait"><i class="fas fa-print"></i></a>
                                        </div>


                                    </div>
                                </header>
                                <div class="search-toolbar mt-2">
                                    <div class="">
                                        <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; width:50px;">S.No.
                                                    </th>
                                                    <th style="width: 150px;">Question</th>
                                                    <th style="width: 150px;">Question By</th>
                                                    <th style="width:200px;">Answer</th>
                                                    <th style="text-align:center;width: 60px;" class="no-print">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="T in QuestionAnswerList | filter:searchData.QuestionAnswer | itemsPerPage:perPage.QuestionAnswer" current-page="currentPages.QuestionAnswer" pagination-id="QuestionAnswerPagination">
                                                    <td style="text-align:center;">{{$index+1}}</td>
                                                    <td>{{T.Question}}</td>
                                                    <td>{{T.QuestionBy}} </td>
                                                    <td>{{T.Answer}}  </td>
                                                    <td class="project-actions no-print text-center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-sm btn-info" ng-click="GetQuestionAnswerById(T)"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="#" class="btn btn-sm btn-danger" ng-click="DelQAnswer(T,$index)"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <div class="col-md-12">
                                            <dir-pagination-controls pagination-id="QuestionAnswerPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">

                                <div>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4>Question</h4>
                                                    <label>{{beData.Question}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4>Answer<span style="color:red">*</span></h4>
                                                    <textarea type="text" class="form-control form-control-sm" rows="3" ng-model="beData.Answer"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <footer class="main-footer">
                                        <div class="text-right control-btns">
                                            <button type="button" class="btn btn-default btn" ng-click="ClearFields()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                                            <button type="button" class="btn btn-primary btn" ng-click="UpdateQAnswer(beData)" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>{{beData.Mode}}</button>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

