.table-responsive {
    height: auto !important;
}

.table-scroll-wrapper {
    overflow-y: auto;
    position: relative;
}


.outer-scroll-wrapper-h-scrollbar-fix .main-table {
    padding-right: 10px;
    padding-right: 0px;
    /*width: max-content;*/
    min-width: 100%;
    margin: inherit;
}

    .outer-scroll-wrapper-h-scrollbar-fix .main-table thead {
        position: relative;
        z-index: 999;
    }


.resize-handle {
    position: absolute;
    top: 0;
    right: -2px; /* Position it slightly outside for easier grabbing */
    bottom: 0;
    width: 5px; /* The clickable area */
    cursor: col-resize; /* Show the resize cursor */
    z-index: 100; /* Make sure it's on top of other elements */
}

/* Optional: Provide visual feedback while resizing */
.resizing {
    cursor: col-resize;
    -webkit-user-select: none; /* Disable text selection while resizing */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.resize-handle {
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 2;
    cursor: ew-resize;
    width: 7px;
    border-radius: 2px;
    /*background-color: #166ee1;*/
    /*background-color: #ccc;*/
    height: 100%;
    opacity: 0;
    border-right: 4px solid #166ee1;
}

    .resize-handle:hover {
        opacity: 1;
    }

.table-scroll-wrapper .resizing {
    cursor: col-resize;
}

.table-scroll-x-y table {
    min-width: 100%;
}


.form-control-sm.action-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 0.8rem !important;
    font-weight: 600;
    color: #1F2D3D;
    text-decoration: none;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" fill="%23000000" opacity="1" data-original="%23000000" class=""></path></g></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 9px;
    background-position: bottom 6px right 7px;
}

    .form-control-sm.action-dropdown:focus {
        font-weight: 600 !important;
    }

    .form-control-sm.action-dropdown,
    .form-control-sm.action-dropdown:hover,
    .form-control-sm.action-dropdown:focus {
        border: 0 !important;
    }

.form-control-sm.action-dropdown {
    outline: none;
    box-shadow: none;
}

    .form-control-sm.action-dropdown:hover {
        border: 0 !important;
        font-weight: 600 !important;
    }


.cstm-three-elems-wrap {
    display: flex;
    flex-grow: 1;
    gap: 4px
}






.cstm-three-elems-wrap {
    display: flex;
    flex-grow: 1;
    gap: 4px
}

.cstm-entry-date-field label {
    min-width: 70px !important;
}

.cstm-entry-date-field input.form-control {
    width: 82px;
}

.cstm-is-fixed-field {
    align-self: end;
    height: 100%;
    align-items: center;
    top: -2px;
    position: relative;
    margin-left: 4px;
    margin-right: 8px;
}

    .cstm-is-fixed-field .custom-control {
        padding-left: 1.25rem;
        display: flex;
    }

    .cstm-is-fixed-field label.custom-control-label:before,
    .cstm-is-fixed-field label.custom-control-label:after {
        left: -1.25rem;
    }

@@media screen and (min-width: 1200px) {
    .cstm-three-elems-wrap {
        display: flex;
        flex-grow: 1;
        gap: 4px;
    }

    .cstm-is-fixed-field {
        width: 117px
    }
}

@@media screen and (min-width: 1366px) {
    .cstm-three-elems-wrap {
        gap: 6px
    }

    .cstm-is-fixed-field {
        width: 104px
    }
}



.cstm-voucher-date-group-field {
    width: 315px;
    flex-shrink: 0;
}

    .cstm-voucher-date-group-field .form-group.d-flex {
        justify-content: flex-end;
        width: 100%;
    }

    .cstm-voucher-date-group-field label {
        min-width: auto !important;
        margin-right: 8px !important;
    }


    .cstm-voucher-date-group-field .input-group-text {
        padding-left: 3px;
        padding-right: 3px;
        background-color: #e6f5fb;
        border: 1px solid #ced4da;
    }



    .cstm-voucher-date-group-field input.form-control {
        padding-left: 4px;
        padding-right: 4px;
        width: 76px;
        flex: 1;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #ced4da;
    }

        .cstm-voucher-date-group-field input.form-control:focus {
            border: 1px solid #539eeb !important;
            font-weight: 400 !important;
            /* outline: 3px solid #539eeb; */
            box-shadow: inset 0 0 0 1px #539eeb;
        }

    .cstm-voucher-date-group-field .d-inline-block input.form-control {
        flex-grow: 1;
    }


    .cstm-voucher-date-group-field .form-control:hover {
        border: 1px solid #539eeb !important;
        font-weight: 400 !important;
        /*outline: 3px solid #539eeb;*/
    }

    .cstm-voucher-date-group-field label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* max-width: 70px;*/
        display: block !important;
        line-height: 26px !important;
        margin-bottom: 0 !important;
    }


table .select2-container--default .select2-selection--single,
table .form-control {
    border: 0;
}

table.main-table .select2-container--default .select2-selection--single:hover {
    box-shadow: inset 0 0 0 1px #539eeb;
}

.select2-container--default .select2-selection--single {
    padding-left: 0.25rem;
}

th.project-actions,
td.project-actions {
    z-index: 9;
}

.project-actions .btn.btn-info, .project-actions .btn.btn-info:hover {
    color: #fff;
}

.project-actions .btn.btn-danger {
    color: #fff !important;
}

.table-scroll-x-y.os-host {
    padding-bottom: 10px;
}

.os-scrollbar.os-scrollbar-horizontal:hover {
    padding: 0;
}


.main-footer .cstm-grand-total-sec label.col-form-label {
    font-size: 16px !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
}


.main-footer .cstm-grand-total-sec input.form-control[readonly] {
    text-align: right;
    font-size: x-large;
    height: 30px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.main-footer .btn-outline-primary {
    color: #049bdb;
    border-color: #049bdb;
    background-color: #f5fcff;
}

.main-footer .btn-outline-danger:not(:hover) {
    background-color: #fff;
}

.main-footer .btn-outline-primary:hover {
    background-color: #049bdb;
    border-color: #049bdb;
    color: #fff;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f1f1f1;
}

    .form-control:disabled:hover,
    .form-control:disabled:focus,
    .form-control[readonly]:hover,
    .form-control[readonly]:focus {
        box-shadow: none;
        border-color: #ced4da !important;
    }



.dynamic-uiux.btn-default:focus {
    border: 1px solid #539eeb !important;
    box-shadow: inset 0 0 0 1px #539eeb !important;
}

.select2-selection:focus {
    border: 1px solid #539eeb !important;
    box-shadow: inset 0 0 0 1px #539eeb;
}

.select2-container--default.select2-container--open .select2-selection--single {
    border: 1px solid #539eeb !important;
    box-shadow: inset 0 0 0 1px #539eeb !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-sm .select2-container--default .select2-selection--single .select2-selection__rendered, select.form-control-sm ~ .select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 0 !important;
}

.select2-container--default .select2-selection--single {
    padding-top: 0;
    padding-bottom: 0;
}


.select2-results__option--highlighted, .select2-results__option:hover {
    background-color: #cfecf7 !important;
}

.select2-results__option--highlighted, .select2-results__option:hover {
    color: #212529 !important;
}

.select2-container--default .select2-selection--single {
    padding-left: 0.25rem;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-top: 0;
    }

span.select2-selection__clear {
    width: 16px;
    height: 16px;
    z-index: 1;
    color: #DC0000;
}

    span.select2-selection__clear:before {
        content: '';
        position: absolute;
        left: -2.5px;
        top: 6px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-radius: 14px;
        background: #FEE6E6;
        color: #DC0000;
        text-align: center;
        z-index: -1;
        border: 1px solid #ff5959;
    }


.select2-dropdown .select2-results .custom-table-product:hover {
    color: #212529 !important;
}



b, strong {
    font-weight: 700 !important;
}



.main-footer.control-btns {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 252, 255, 1) 56%, rgba(214, 243, 255, 1) 90%, rgba(184, 235, 255, 1) 100%);
    padding-bottom: 12px;
}

@@media screen and (min-width: 1366px) {
    .main-footer.control-btns {
        padding-bottom: 16px;
    }
}

.main-footer.control-btns .btn {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}

.sale-page-wrap .content-wrapper-new.dynamic-uiux-page-wrap {
    height: 100%;
    background-color: #fff;
}

p b {
    font-weight: 600 !important;
    color: var(--dynamicerp-blue-dark30);
}

.form-control,
.select2-container--default .select2-selection--single {
    border-color: #b9bfc4;
    border-color: #ced4da;
}

.form-control-sm,
.text-sm .select2-container--default .select2-selection--single, select.form-control-sm ~ .select2-container--default .select2-selection--single {
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
    height: 100%;
}

.select2-footer.cstm-select2-footer {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 252, 255, 1) 56%, rgba(214, 243, 255, 1) 130%, rgba(184, 235, 255, 1) 340%);
    border-top: 1px solid #ccc;
}

    .select2-footer.cstm-select2-footer button {
        border: 0;
        background: transparent;
        padding: 6px 8px;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 12.5px;
        font-weight: 600;
        color: var(--dynamicerp-blue);
        z-index: 1000;
    }

        .select2-footer.cstm-select2-footer button:hover {
            color: #015db7;
        }


.main-footer.group-margin-reset .row [class*=col-] .form-group {
    margin-bottom: 0 !important;
    align-items: center;
}

.dynamic-uiux-table.table td {
    vertical-align: middle;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 8px 16px 12px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background: #fafafa;
    transition: background 0.2s;
}

    .drop-area.highlight {
        background-color: #e0f7ff;
        border-color: #007bff;
    }

#flMoreFiles {
    display: none;
}

.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

    .file-list li {
        margin-bottom: 4px;
        font-size: 13px;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

        .file-list li:last-child {
            margin-bottom: 0;
        }

.new-cstm-file-upload {
    position: relative;
}

.file-list {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.drop-area .icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 512.056 512.056" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M426.635 188.224C402.969 93.946 307.358 36.704 213.08 60.37 139.404 78.865 85.907 142.542 80.395 218.303 28.082 226.93-7.333 276.331 1.294 328.644c7.669 46.507 47.967 80.566 95.101 80.379h80v-32h-80c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64 8.837 0 16-7.163 16-16-.08-79.529 64.327-144.065 143.856-144.144 68.844-.069 128.107 48.601 141.424 116.144a16 16 0 0 0 13.6 12.8c43.742 6.229 74.151 46.738 67.923 90.479-5.593 39.278-39.129 68.523-78.803 68.721h-64v32h64c61.856-.187 111.848-50.483 111.66-112.339-.156-51.49-35.4-96.241-85.42-108.46z" fill="%233879e5" opacity="1" data-original="%23000000" class=""></path><path d="m245.035 253.664-64 64 22.56 22.56 36.8-36.64v153.44h32v-153.44l36.64 36.64 22.56-22.56-64-64c-6.241-6.204-16.319-6.204-22.56 0z" fill="%233879e5" opacity="1" data-original="%23000000" class=""></path></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 8px;
}

.drop-area h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.drop-area p {
    font-size: 14px;
    margin-bottom: 0;
}

    .drop-area p span {
        color: var(--dynamicerp-blue);
    }

@@media screen and (min-width: 1440px) {
    .document-attach-modal .modal-dialog {
        max-width: 1200px !important;
    }
}

.document-attach-modal .form-group .btn-sm {
    font-size: 12px;
}

.document-attach-modal table thead th {
    background-color: #e6f5fb !important;
}


.document-attach-modal table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.document-attach-modal table tbody td,
.document-attach-modal table tbody th {
    padding-top: 8px;
    padding-bottom: 8px;
}

.drop-area.file-attached {
    border-color: #28a745;
    background-color: #f8fff8;
}

    .drop-area.file-attached .icon {
        color: #28a745;
    }

    .drop-area.file-attached .attached-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .drop-area.file-attached .attached-list .file-list {
            flex: 1;
        }

        .drop-area.file-attached .attached-list .clear-files {
            margin-left: auto;
        }


.dynamic-uiux-page-wrap .card-header label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500 !important;
}



.sticky-action-col {
    right: 0;
    z-index: 1;
    background-color: #fff;
}

    .sticky-action-col.highlight-on-scroll.scrolled {
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    }


th.sticky-action-col {
    z-index: 3;
}

th.scrolled,
td.scrolled {
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.table-scroll-x-y.h-atuo {
    height: auto !important;
}

.table-scroll-x-y.h-auto {
    height: auto !important;
}
/*
.cstm-stock-journal-page-wrap #sidebarzz {
    display: none !important;
}*/

.custom-result-product .custom-table-product th {
    background-color: #e6f5fb;
    font-weight: 600;
}


.sale-page-wrap.cstm-stock-journal-page-wrap {
    height: calc(100vh - 95px);
}


.dropdown.cstm-more-actions .dropdown-menu {
    padding: 8px 12px;
}

    .dropdown.cstm-more-actions .dropdown-menu .custom-menu > * {
        margin-bottom: 4px;
        width: 100%;
        text-align: left;
    }

    .dropdown.cstm-more-actions .dropdown-menu .custom-menu button:last-child {
        margin: 0;
    }

    .dropdown.cstm-more-actions .dropdown-menu .custom-menu input[type="file"] {
        padding: 2px;
    }


.form-group.row.mb-0 {
    margin-bottom: 0 !important;
}



.dropdown .btn.right-sidebar-call {
    font-size: 14px;
    line-height: 1;
    padding: 4px 8px;
    height: 26px;
    background-color: #e6f5fb;
    border: 1px solid #ced4da;
}

    .dropdown .btn.right-sidebar-call:focus {
        border: 0 !important;
        box-shadow: inset 0 0 0 3px #539eeb;
    }

    .dropdown .btn.right-sidebar-call .fa-arrow-right:before {
        padding-left: 2px;
    }
/*.dropdown .btn.right-sidebar-call.dropdown-toggle:after {
        content: none;
    }*/
.btn.btn-text-link {
    background-color: #e6f5fb;
    color: var(--dynamicerp-blue);
    text-align: left;
}

    .btn.btn-text-link:hover {
        background-color: #049bdb;
        color: #fff;
    }

.circle-close-btn {
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: #e6f5fb;
    border: 1px solid var(--dynamicerp-blue);
    padding: 0;
    border-radius: 24px;
    color: #049bdb;
}

#sidebarzz .right-box-wrap.cstm-sales-invoice {
    top: -30px;
}

    #sidebarzz .right-box-wrap.cstm-sales-invoice ul.list-group {
        margin-top: 32px;
    }

    #sidebarzz .right-box-wrap.cstm-sales-invoice .circle-close-btn {
        margin: 8px;
        position: absolute;
        right: 0;
    }

        #sidebarzz .right-box-wrap.cstm-sales-invoice .circle-close-btn:hover {
            background-color: var(--dynamicerp-blue);
            color: #fff;
        }



.dropdown.cstm-more-actions .dropdown-menu {
    padding: 8px 12px;
}

    .dropdown.cstm-more-actions .dropdown-menu .custom-menu > * {
        margin-bottom: 4px;
        width: 100%;
        text-align: left;
    }

    .dropdown.cstm-more-actions .dropdown-menu .custom-menu button:last-child {
        margin: 0;
    }

    .dropdown.cstm-more-actions .dropdown-menu .custom-menu input[type="file"] {
        padding: 2px;
    }

.dropdown .btn.right-sidebar-call {
    font-size: 14px;
    line-height: 1;
    padding: 4px 8px;
    height: 26px;
    background-color: #e6f5fb;
    border: 1px solid #ced4da;
}

    .dropdown .btn.right-sidebar-call:focus {
        border: 0 !important;
        box-shadow: inset 0 0 0 3px #539eeb;
    }

    .dropdown .btn.right-sidebar-call .fa-arrow-right:before {
        padding-left: 2px;
    }
/*.dropdown .btn.right-sidebar-call.dropdown-toggle:after {
        content: none;
    }*/
.btn.btn-text-link {
    background-color: #e6f5fb;
    color: var(--dynamicerp-blue);
    text-align: left;
}

    .btn.btn-text-link:hover {
        background-color: #049bdb;
        color: #fff;
    }

.circle-close-btn {
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: #e6f5fb;
    border: 1px solid var(--dynamicerp-blue);
    padding: 0;
    border-radius: 24px;
    color: #049bdb;
}

#sidebarzz .right-box-wrap.cstm-sales-invoice {
    top: -30px;
}

    #sidebarzz .right-box-wrap.cstm-sales-invoice ul.list-group {
        margin-top: 32px;
    }

    #sidebarzz .right-box-wrap.cstm-sales-invoice .circle-close-btn {
        margin: 8px;
        position: absolute;
        right: 0;
    }

        #sidebarzz .right-box-wrap.cstm-sales-invoice .circle-close-btn:hover {
            background-color: var(--dynamicerp-blue);
            color: #fff;
        }

.right-box-wrap {
    background: #e6f5fb;
}