.admin_dashboard .class-card.lgreen .subject_box {
    background: #EAF9E9;
}

.subject_box span.upDownArrow {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}


.subject_box h5 {
    margin-bottom: 10px;
}

.subject_box span.upDownArrow {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.green .subject_box span.upDownArrow {
    color: rgba(91, 193, 145, 0.5);
}

.red .subject_box span.upDownArrow {
    color: rgba(202, 53, 40, 0.5);
}

.blue .subject_box span.upDownArrow {
    color: rgba(99, 195, 236, 0.5);
}

.purple .subject_box span.upDownArrow {
    color: rgba(121, 59, 182, 0.5);
}

.subject_box span.ellipseBg {
    padding: 5px 10px;
    border-radius: 50px;
    color: #2D3333;
}

.green .subject_box span.ellipseBg {
    background: rgba(91, 193, 145, 0.5);
}

.red .subject_box span.ellipseBg {
    background: rgba(202, 53, 40, 0.5);
}

.blue .subject_box span.ellipseBg {
    background: rgba(99, 195, 236, 0.5);
}

.purple .subject_box span.ellipseBg {
    background: rgba(121, 59, 182, 0.5);
}

.red_box i {
    color: rgba(202, 53, 40, 1);
}

.admin_dashboard .red_box {
    background: rgba(202, 53, 40, 0.1);
}

.admin_dashboard .blue_box {
    background: rgba(61, 135, 236, 0.1);
}

.admin_dashboard .green_box .green_box {
    background: rgba(118, 191, 78, 0.2);
}

.admin_dashboard .red_box .red_box {
    background: rgba(202, 53, 40, 0.2);
}

.purple_box, .yellow_box, .red_box, .blue_box, .green_box {
    padding: 10px 20px;
    padding-right: 10px;
}

.btntab {
    padding: 4px 13px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.nav-pills .btntab.active, .nav-pills .show > .btntab {
    border-bottom: 3px solid #17a2b8 !important;
}

.negativefeedbackbg, .openticketsbg {
    background-color: #ffe8e8;
}

.ticketsinfobg {
    background-color: #baecf48f;
}

.dropfeedbackbg, .inprogressbg {
    background-color: #ffffd6;
}


.positivefeedbackbg, .closebg {
    background-color: #e0f0d6;
}

.ticketssuccessbg {
    background-color: #28a7456b;
}


.img-size-50 {
    width: 50px;
}

.img-circle {
    border-radius: 50% !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.purple_box, .yellow_box, .red_box, .blue_box, .green_box {
    padding: 10px 20px;
    padding-right: 10px;
}

.red_box {
    background: rgba(202, 53, 40, 0.1);
}


.purple_box, .yellow_box, .red_box, .blue_box, .red_box {
    border-radius: 10px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    /* margin-left: 10px; */
}


/*---------------------------------
--StudentFile---
*/
.class-card.purple .subject_box {
    background: rgba(121, 59, 182, 0.1);
}

.class-card.purple .profile_box {
    background: rgba(121, 59, 182, 0.2);
}

.class-card.green .subject_box {
    background: rgba(91, 193, 145, 0.1);
}

.class-card.green .profile_box {
    background: rgba(91, 193, 145, 0.2);
}

.class-card.red .subject_box {
    background: rgba(202, 53, 40, 0.1);
}

.class-card.red .profile_box {
    background: rgba(202, 53, 40, 0.2);
}

.class-card.yellow .subject_box {
    background: rgba(253, 244, 218, 1);
}

.class-card {
    margin-bottom: 10px;
}

.subject_box {
    height: 127px;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 128, 255, 0.1);
    padding: 15px;
}

.sub_no {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
