@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    .table-scroll-x-y {
        height: auto !important;
    }
</style> 
<script src="~/jslib/service/transaction/ComplainInspection.js?v=3"></script>
<div ng-app="myApp" ng-controller="ComplainInspection" ng-class="{waiting: loadingstatus=='running'}" ng-init="LoadData()">
    <div class="box-body">
        <div class="pt-1"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" ng-hide="HideShow.Branch==true">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Branch<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm  hideSideBar" style="width: 100%;" ng-model="beData.BranchId" ng-change="getVoucherNo()">
                                    <option ng-repeat="vt in BranchList track by vt.BranchId" ng-value="vt.BranchId" ng-selected="vt.BranchId == beData.BranchId">
                                        {{vt.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-hide="HideShow.CostClass==true">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">For Year<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control  form-control-sm hideSideBar" style="width: 100%;" ng-model="beData.CostClassId" ng-change="getVoucherNo()">
                                    <option ng-repeat="cc in CostClassColl track by cc.CostClassId" ng-value="cc.CostClassId" ng-selected="cc.CostClassId == beData.CostClassId">
                                        {{cc.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-flex">
                            <label class="mt-1 text-nowrap" style="min-width: 120px!important">Job No.</label>
                            <input type="text" class="form-control form-control-sm" ng-model="beData.JobNo" ng-blur="getJobCardDetails()" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group d-flex">
                            <label class="mt-1 text-nowrap" style="width:120px">Entry Date</label>
                            <input type="text" class="form-control form-control-sm float-right serial hideSideBar" date-picker ng-model="beData.EntryDateTime_TMP" date-detail="beData.EntryDateTimeDet" />
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-1 header-primary" style="background-color: #068abf; color: #ffffff;" ng-click="ShowVehicleHistory(beData.VehicleEntryId)">
                        <h5 class="mb-0">Job Card Details</h5>
                    </div>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width:110px!important">Remarks</label>
                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="1" ng-model="beData.Remarks"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width: 110px!important">Engine No</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.EngineNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Ch.Srl.No.</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.ChSrlNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Regd. No.</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.RegdNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width:90px">Vin No.</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.VinNo" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width:90px">Model</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.VehicleModelName" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="min-width:90px">Type</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.VehicleTypeName" />
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group d-flex">
                                    <label class="mt-1 text-nowrap" style="width:120px">Party</label>
                                    <input type="text" class="form-control form-control-sm" readonly ng-model="beData.Party" />
                                </div>
                            </div>
                        </div>

                        <div class="table-scroll-x-y table-scroll mt-2" style="max-height: calc(100vh - 240px);">
                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:120px; z-index: 3; background-color: #ececec !important">Group</th>
                                        <th style="width:230px; z-index: 3; background-color: #ececec !important">InspectionType</th>
                                        <th style="width:230px; z-index: 3; background-color: #ececec !important">Description</th>
                                        <th style="width:150px; z-index: 3; background-color: #ececec !important">Bill Type</th>
                                        <th class="text-center" style="width: 120px; z-index: 3; background-color: #ececec !important">Start Date</th>
                                        <th class="text-center" style="width: 120px; z-index: 3; background-color: #ececec !important">End Date</th>
                                        <th class="text-center" style="width: 130px; z-index: 3; background-color: #ececec !important">Mechanic</th>
                                        <th class="text-center" style="width: 70px; z-index: 3; background-color: #ececec !important">Qty</th>
                                        <th class="text-center" style="width: 100px; z-index: 3; background-color: #ececec !important">Rate</th>
                                        <th class="text-center" style="width: 100px; z-index: 3; background-color: #ececec !important">Dis.Amt.</th>
                                        <th class="text-center" style="width: 110px; z-index: 3; background-color: #ececec !important">Amount</th>
                                        <th class="text-center" style="width: 80px; z-index: 3; background-color: #ececec !important">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="ci in beData.ComplainInsColl">
                                        <td ng-hide="ci.IsModify==true">
                                            <select class="form-control form-select select2 form-control-sm" active-select2 style="width: 100%;" ng-model="ci.GroupId">
                                                <option ng-value="itc.InspectionTypeGroupId" ng-repeat="itc in InspectionTypeGroupList" ng-selected="itc.InspectionTypeGroupId==ci.GroupId">{{itc.Name}}</option>
                                            </select>
                                        </td>
                                        <td ng-show="ci.IsModify==true">
                                            {{ci.Group}}
                                        </td>
                                        <td ng-hide="ci.IsModify==true">
                                            <select autoShowHide="true" class="form-control form-control-sm select2 serial" vehicle-inspection ng-model="ci.InspectionTypeId" style="width:100%" group-id="ci.GroupId" type-id="beData.VehicleTypeId" model-id="beData.VehicleModelId"
                                                    placeholder="** Select Inspection  **" confirm-action="InspectionSelectionChange(ci,$index)" inspection-detail="ci.inspectionDetail" side-bar-data="beData.sideBarData" voucher-id="SelectedBranch.BranchId" search-by="beData.SearchOption"></select>
                                        </td>
                                        <td ng-show="ci.IsModify==true">
                                            {{ci.InspectionType}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" ng-model="ci.Description">
                                        </td>
                                        <td>
                                            <select class="form-control form-control-sm" active-select2 style="width: 100%;" ng-model="ci.JobCardTypeId" data-placeholder="** Bill Type **">
                                                <option ng-value="cl.id" ng-repeat="cl in JobCardTypeList" ng-selected="cl.id == ci.JobCardTypeId">{{cl.text}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <input type="text" date-picker class="form-control form-control-sm" ng-model="ci.StartDate_TMP" date-detail="ci.StartDateDet" style="width:47%">
                                                <input type="time" class="form-control form-control-sm" ng-model="ci.StartTime_TMP" style="width:53%" />

                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <input type="text" date-picker class="form-control form-control-sm" ng-model="ci.EndDate_TMP" date-detail="ci.EndDateDet" style="width:47%">
                                                <input type="time" class="form-control form-control-sm" ng-model="ci.EndTime_TMP" style="width:53%" />
                                            </div>
                                        </td>
                                        <td>
                                            @*<input type="text" class="form-control form-control-sm" ng-model="ci.Mechanic">*@
                                            <select class="form-control form-control-sm select2" active-select2 ng-model="ci.MechanicId">
                                                <option ng-repeat="jf in MechanicColl | filter: { BranchId: SelectedVoucher.BDId }:true" ng-value="jf.TranId" ng-selected="jf.TranId==ci.MechanicId">{{jf.Name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="ci.Qty" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'qty')">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="ci.LabourCharge" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'rate')">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="ci.DiscountAmt" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'discountAmt')">
                                        </td>
                                        <td>
                                            <input type="text" number-input class="form-control form-control-sm" ng-model="ci.Amount" onfocus="this.select()" style="text-align: right;" ng-change="ChangeItemRow(ci,'amt')">
                                        </td>
                                        <td class="text-center align-middle">
                                            <div>
                                                <a class="p-1" ng-click="AddComplainInspectionDet()" data-original-title="View doc">
                                                    <i class="fas fa-plus text-secondary"></i>
                                                </a>

                                                <a class="p-1" ng-click="delComplainInspectionDet($index)">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <footer class="main-footer">
                    <div class="text-right control-btns">
                        <button type="button" class="btn btn-default btn" ng-click="ClearComplainInspection()"> <span class="glyphicon glyphicon-remove"></span>Clear</button>
                        <button type="button" class="btn btn-primary btn" ng-click="AddComplainInspection()" ng-disabled="loadingstatus=='running'"><span class="glyphicon glyphicon-save"></span>Accept</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    @RenderPage("~/Views/Global/_EditTran.cshtml")
</div>