@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")


<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.Att_AttendanceAppealEntry)";
</script>


<script src="~/jslib/hr/Master/AttendanceAppealEntry.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="AttendanceAppealEntryController" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="card p-2 card-primary card-outline card-outline-tabs">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-sm-6 col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>Employee<span style="color:red">*</span></label>
                                        <div class="input-group-prepend">
                                            <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset;
                                                              margin-right: -3px; z-index: 1; " ng-model="newAttendanceAppealEntry.SelectEmployee">

                                                <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" value="{{ss.value}}" ng-selected="{{ss.value==newAttendanceAppealEntry.SelectEmployee}}">
                                                    {{ss.text}}
                                                </option>
                                            </select>
                                            @*<select class="form-control form-control-sm select2" ng-model="newAttendanceAppealEntry.UserId" style="width:100%;">
                                                    <option ng-value="0">All</option>
                                                    <option ng-value="pp.UserId" ng-repeat="pp in EmployeeList |filter:newAttendanceAppealEntry.EmployeeSearchBy" ng-selected="pp.UserId==newAttendanceAppealEntry.UserId">{{pp.Name}}{{}}</option>
                                                </select>*@
                                            <select class="form-control select2bs4 form-control-sm" all-employee ng-model="newAttendanceAppealEntry.EmployeeId" employee-detail="newAttendanceAppealEntry.EmployeeDetails" side-bar-data="newAttendanceAppealEntry.EmpSideBarData" search-by="newAttendanceAppealEntry.SelectEmployee">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Attendance Mode<span style="color:red">*</span></label>
                                        <select class="form-control form-control-sm select2" ng-model="newAttendanceAppealEntry.AttendanceInOutModeId">
                                            <option ng-repeat="L in AttendanceModeList" ng-value="L.TranId" ng-selected="newAttendanceAppealEntry.AttendanceInOutModeId==L.TranId">{{L.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Date<span style="color:red">*</span></label>
                                        <input type="text" class="form-control form-control-sm" date-picker ng-model="newAttendanceAppealEntry.PunchDateTime_TMP" date-detail="newAttendanceAppealEntry.PunchDateTimeDet">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Time<span style="color:red">*</span></label>
                                        <input type="time" class="form-control form-control-sm" ng-model="newAttendanceAppealEntry.PunchDateTime_TMPs">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Reason</label>
                                        <textarea class="form-control form-control-sm" ng-model="newAttendanceAppealEntry.Reason" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="time-label">
                        <span class="d-block border-0 p-3 text-center">
                            @*<button type="button"
                                        class="btn btn-sm btn-info"
                                        id="back-to-list" ng-click="back_to_list()"
                                        style="min-width: 90px">
                                    Back to List
                                </button>*@
                            <button type="button" class="btn btn-sm btn-default load" style="min-width: 90px;" ng-click="ClearAttendanceAppealEntry()">Reset</button>
                            <button type="button" class="btn btn-sm btn-info load" style="min-width: 90px;" ng-click="SaveUpdateAttendanceAppealEntry()">{{newAttendanceAppealEntry.Mode}}</button>
                        </span>
                    </div>
                </div>

                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </div>
    </div>
    <!-- Main content -->
    <!-- /.content -->


</div>