
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script>
    var EntityId = "@Convert.ToInt32(Dynamic.BusinessEntity.Global.FormsEntity.Att_EnrollNumber)";
</script>

<script src="~/jslib/hr/Master/EnrollNumber.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="EnrollNumberController" ng-init="LoadData()">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body P-2">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-sm btn-default load" style="min-width: 90px;" ng-click="GetEmployeeList()">Load Data</button>
                            </div>
                            @*<div class="col-sm-2 col-md-2 col-lg-2 mt-1">
                                    <div class="custom-control custom-checkbox checkbox-sm text-center">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="checkbox-2"
                                               checked="" />
                                        <label class="custom-control-label"
                                               for="checkbox-2">Column Wise Focus</label>
                                    </div>
                                </div>*@
                            <div class="col-md-10">
                                <div class="form-inline float-right">
                                    <div class="input-group input-group-sm table-search-filed">
                                        <input class="form-control form-control-navbar"
                                               type="search"
                                               placeholder="Search"
                                               aria-label="Search" ng-model="searchData.Employee" />
                                        <div class="input-group-append">
                                            <button class="btn btn-default border-left-0"
                                                    type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <button type="button"
                                            class="btn btn-sm btn-info load ml-2"
                                            style="min-width: 90px" ng-click="SaveUpdateEmployee()">
                                        {{newEmployee.Mode}}
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="mt-2">
                            <div class="table-scroll-x-y" style="height:auto !important; max-height :calc(100vh - 6rem) !important;">
                                <table id="main-table" class="main-table table table-sm table-bordered bg-white">
                                    <thead>
                                        <tr class="text-nowrap text-center">
                                            <th style="width: 50px; background-color: #ececec !important; z-index:2;">Id</th>
                                            <th style="width: 80px; background-color: #ececec !important; z-index:2;">Code</th>
                                            <th style="width: 150px; background-color: #ececec !important; z-index:2;">Name</th>
                                            <th style="width: 80px; background-color: #ececec !important; z-index:2;">Contact</th>
                                            <th style="width: 80px; background-color: #ececec !important; z-index:2;">Enroll Number</th>
                                            <th style="width: 80px; background-color: #ececec !important; z-index:2;">RFId Card No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="emp in newEmployee.EmployeeDetailsColl | filter:searchData.Employee">
                                            <td class="text-center">{{emp.EmployeeId}}</td>
                                            <td>{{emp.EmployeeCode}}</td>
                                            <td>{{emp.Name}}</td>
                                            <td>{{emp.ContactPer}}</td>
                                            <td>
                                                <input type="number"
                                                       class="form-control form-control-sm serialEM" ng-model="emp.EnrollNumber" onfocus="this.select();" />
                                            </td>
                                            <td>
                                                <input type="text"
                                                       class="form-control form-control-sm serialEM" ng-model="emp.CardNo" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- table end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!--/. container-fluid -->
    </div>
</div>