@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")

<script src="~/jslib/hr/Master/PrintLetterTemplate.js"></script>
<div ng-app="myApp" ng-controller="PrintLetterTemplateController" ng-class="{waiting: loadingstatus=='running'}">
    <div class="box-body">
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-body p-2">
                        <div class="">
                            <form>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Tempalte Type</label>
                                            <select class="form-control form-control-sm select2" ng-model="beData.TemplateTypeId" ng-change="GetLetterTemplateById(beData)">
                                                <option ng-value="U.id" ng-repeat="U in TemplateTypeList" ng-selected="U.id==beData.TemplateTypeId">{{U.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Employee</label>
                                            <select class="form-control select2 form-control-sm" all-employee ng-model="beData.UserId" employee-detail="beData.EmployeeDetails" side-bar-data="beData.EmpSideBarData" style="width: 100%;" confirm-action="GetUserDetailsById(beData)">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Template Description</label>
                                            <textarea class="textarea" variables="variableList"  placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ng-model="beData.PreviewDescription" html-editor></textarea>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-12">
                                        <div class="form-group">
                                            <label><b>Variables</b></label><br />
                                            <span class="badge badge-primary m-1" ng-repeat="v in variableList" style="cursor:pointer" ng-click="addVariable(v)">{{v}}</span>
                                        </div>
                                    </div>*@
                                </div>
                            </form>
                            <footer class="main-footer">
                                <div class="text-right control-btns">
                                    <button type="button" class="btn btn-default" ng-click="ClearPrintLetterTemplate()">Clear</button>
                                    <button type="button" class="btn btn-primary" ng-click="PrintTemplateDescription()">{{beData.Mode}}</button>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
