
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/Areas/Dairy/Dairypurchasesetup.js"></script>
<div ng-app="myApp" ng-controller="DairyPurchaseSetup" ng-class="{waiting: loadingstatus=='running'}">
    <div class="box-body">
        <div class="content">
            <div class="p-1"></div>
            <div class="container-fluid">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-purchase" data-toggle="pill" href="#Purchase" role="tab" aria-controls="custom-tabs-purchase" aria-selected="true"> Purchase Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-partywise" data-toggle="pill" href="#Partywise" role="tab" aria-controls="custom-tabs-partywise" aria-selected="false">Partywise Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-shift" data-toggle="pill" href="#Shift" role="tab" aria-controls="custom-tabs-shift" aria-selected="false">Shift</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body px-2">
                        <div class="tab-content" id="custom-tabs-purchase">
                            <div class="tab-pane fade show active" id="Purchase" role="tabpanel" aria-labelledby="custom-tabs-purchase">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="card m-0">
                                          <div class="card-header pb-1"style="background-color: #068abf; color: #fff;">
                                              <h6 class="mb-0">
                                                  Raw Milk Purchase Setup
                                              </h6>
                                              <button class="btn btn-success btn-sm float-right" style="position:relative;margin-top:-23px;font-size:16px;width:60px;">Save</button>
                                          </div>
                                          <div class="card-body p-0">
                                              <div class="table-scroll-x-y table-scroll" style="height:auto!important">
                                                  <table id="maintable" class="table table-bordered table-hover table-sm">
                                                      <thead>
                                                          <tr>
                                                              <th style="width:200px; z-index: 3; background-color: #ececec !important">Parameter</th>
                                                              <th style="width:200px; z-index: 3; background-color: #ececec !important">Values</th>
                                                          </tr>
                                                      </thead>

                                                      <tbody>
                                                          <tr>
                                                              <td>Fat Rate</td>
                                                              <td>
                                                                  <input type="text" number-input class="form-control form-control-sm" ng-model="P.FatRate" onfocus="this.select()" style="text-align: right;">
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>SNF Rate</td>
                                                              <td>
                                                                  <input type="text" number-input class="form-control form-control-sm" ng-model="P.SNFRate" onfocus="this.select()" style="text-align: right;">
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>TS %</td>
                                                              <td>
                                                                  <input type="text" number-input class="form-control form-control-sm" ng-model="P.TSPer" onfocus="this.select()" style="text-align: right;">
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>Topping Charge</td>
                                                              <td>
                                                                  <input type="text" number-input class="form-control form-control-sm" ng-model="P.ToppingCharge" onfocus="this.select()" style="text-align: right;">
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>Maximum Rate</td>
                                                              <td>
                                                                  <input type="text" number-input class="form-control form-control-sm" ng-model="P.MaxRate" onfocus="this.select()" style="text-align: right;">
                                                              </td>
                                                          </tr>

                                                      </tbody>

                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="card m-0">
                                          <div class="card-header py-2" style="background-color: #068abf; color: #fff;">
                                              <h6 class="mb-0">
                                                  Log Table Data
                                              </h6>                                             
                                          </div>
                                          <div class="card-body p-0">
                                              <div class="table-scroll-x-y table-scroll" style="height:auto!important">
                                                  <table id="maintable" class="table table-bordered table-hover table-sm">
                                                      <thead>
                                                          <tr>
                                                              <th style="width:200px; z-index: 3; background-color: #ececec !important">Last Update</th>
                                                              <th style="width:200px; z-index: 3; background-color: #ececec !important">Update By</th>
                                                          </tr>
                                                      </thead>

                                                      <tbody>
                                                          <tr>
                                                              <td>2023 10:10:10 AM</td>
                                                              <td>Admin </td>
                                                          </tr>
                                                          <tr>
                                                              <td>2023 10:10:10 AM</td>
                                                              <td>Admin </td>
                                                          </tr>
                                                          <tr>
                                                              <td>2023 10:10:10 AM</td>
                                                              <td>Admin </td>
                                                          </tr>
                                                          <tr>
                                                              <td>2023 10:10:10 AM</td>
                                                              <td>Admin </td>
                                                          </tr>
                                                          <tr>
                                                              <td>2023 10:10:10 AM</td>
                                                              <td>Admin </td>
                                                          </tr>

                                                      </tbody>

                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="Partywise" role="tabpanel" aria-labelledby="custom-tabs-partywise">
                                <div id="showtable">
                                    <header class="row mb-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Partywise">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Partywise">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Partywise">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file">
                                                <button class="btn btn-secondary btn-light dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light wait">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button"
                                                        class="btn btn-sm btn-primary"
                                                        id="addpartywise" style="font-size:14px;">
                                                    <i class="fas fa-plus w-t"></i> Add Partywise
                                                </button>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll" style="height:auto!important">
                                        <table id="maintable" class="table table-bordered table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th style="width:70px; z-index: 3; background-color: #ececec !important">S.No</th>
                                                    <th style="width:250px; z-index: 3; background-color: #ececec !important">Party Name</th>
                                                    <th style="width:100px; z-index: 3; background-color: #ececec !important">Fat Rate</th>
                                                    <th style="width:100px; z-index: 3; background-color: #ececec !important">SNF Rate</th>
                                                    <th style="width:100px; z-index: 3; background-color: #ececec !important">TS %</th>
                                                    <th style="width:120px; z-index: 3; background-color: #ececec !important">Topping Charge</th>
                                                    <th style="width:100px; z-index: 3; background-color: #ececec !important">Maximum Rate</th>
                                                    <th class="text-center" style="width:100px; z-index: 3; background-color: #ececec !important">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>2 </td>
                                                    <td>5</td>
                                                    <td>4.5</td>
                                                    <td>30%</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                    <td class="text-center">
                                                        <div class="btn-group-sm">
                                                            <a class="btn btn-info text-white"><i class="fas fa-edit"></i></a>
                                                            <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <dir-pagination-controls pagination-id="PartywisePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                        </dir-pagination-controls>
                                    </div>
                                </div>

                                <div class="card m-0" id="tableform">

                                    <div class="card-header py-2" style="background-color: #068abf; color: #fff;">
                                        <h6 class="mb-0">
                                            Raw Milk Setup Partywise
                                        </h6>
                                       
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="table-scroll-x-y table-scroll" style="height:auto!important">
                                            <table id="maintable" class="table table-bordered table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th style="width:70px; z-index: 3; background-color: #ececec !important">S.No</th>
                                                        <th style="width:200px; z-index: 3; background-color: #ececec !important">Party Name</th>
                                                        <th style="width:120px; z-index: 3; background-color: #ececec !important">Fat Rate</th>
                                                        <th style="width:120px; z-index: 3; background-color: #ececec !important">SNF Rate</th>
                                                        <th style="width:120px; z-index: 3; background-color: #ececec !important">TS %</th>
                                                        <th style="width:140px; z-index: 3; background-color: #ececec !important">Topping Charge</th>
                                                        <th style="width:130px; z-index: 3; background-color: #ececec !important">Maximum Rate</th>
                                                        <th class="text-center" style="width:100px; z-index: 3; background-color: #ececec !important">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <select class="form-control form-control-sm select2">
                                                                <option>Supplier 1</option>
                                                                <option>Supplier 2</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" number-input class="form-control form-control-sm" onfocus="this.select()" style="text-align: right;">
                                                        </td>
                                                        <td>
                                                            <input type="text" number-input class="form-control form-control-sm" onfocus="this.select()" style="text-align: right;">
                                                        </td>
                                                        <td>
                                                            <input type="text" number-input class="form-control form-control-sm" onfocus="this.select()" style="text-align: right;">
                                                        </td>
                                                        <td>
                                                            <input type="text" number-input class="form-control form-control-sm" onfocus="this.select()" style="text-align: right;">
                                                        </td>
                                                        <td>
                                                            <input type="text" number-input class="form-control form-control-sm" onfocus="this.select()" style="text-align: right;">
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="btn-group-sm">
                                                                <a href="#" class="btn btn-info"><i class="fas fa-plus"></i></a>
                                                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <footer class="main-footer">
                                        <div class="text-right control-btns">
                                            <button type="button" class="btn btn-default" id="backpartywise">Back to List</button>
                                            <button type="button" class="btn btn-default" ng-click="ClearPartywise()">Cancel</button>
                                            <button type="button" class="btn btn-primary" ng-click="SaveUpdatePartywise()">Save</button>
                                        </div>

                                    </footer>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Shift" role="tabpanel" aria-labelledby="custom-tabs-shift">
                                <div id="showshifttable">
                                    <header class="row mb-2">
                                        <div class="col-md-7">
                                            <div class="clearfix">
                                                <form class="form-inline">
                                                    <div class="input-group input-group-sm mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text cstm">Show</span>
                                                        </div>
                                                        <!-- <input type="text" class="form-control border-left-0" placeholder=""> -->
                                                        <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.Shift">
                                                            <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.Shift">{{pp.text}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text bg-white"><small>entries</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group input-group-sm table-search-filed">
                                                        <input class="form-control form-control-navbar"
                                                               type="search" placeholder="Search"
                                                               aria-label="Search" ng-model="searchData.Shift">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default border-left-0"
                                                                    type="submit">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- end col-md-8 -->

                                        <div class="col-md-5 text-right">
                                            <div class="dropdown dnld-file">
                                                <button class="btn btn-secondary btn-light dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <span class="dropdown-item">Choose an option:</span>
                                                    <a class="dropdown-item wait" export-excel table-id="'#datatable'" sheet-name="'debtorcreditortypes'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'pdf',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/pdf.png" class="img-fluid exports-icon" alt="Excel image"> PDF</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'doc',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/word.png" class="img-fluid exports-icon" alt="Excel image"> Word</a>
                                                    <a class="dropdown-item wait" onClick="$('#datatable').tableExport({type:'json',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/gmail.png" class="img-fluid exports-icon" alt="Excel image"> JSON</a>
                                                </div>
                                                <a print-tbl table-id="'#datatable'" class="btn btn-secondary btn-light wait">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                                <button type="button"
                                                        class="btn btn-sm btn-primary"
                                                        id="addshift" style="font-size:14px;">
                                                    <i class="fas fa-plus w-t"></i> Add Shift
                                                </button>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="table-scroll-x-y table-scroll" style="height:auto!important">
                                        <table id="maintable" class="table table-bordered table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th style="width:70px; z-index: 3; background-color: #ececec !important">S.No</th>
                                                    <th style="width:200px; z-index: 3; background-color: #ececec !important">Party Name</th>
                                                    <th style="width:120px; z-index: 3; background-color: #ececec !important">Fat Rate</th>
                                                    <th style="width:120px; z-index: 3; background-color: #ececec !important">SNF Rate</th>
                                                    <th style="width:120px; z-index: 3; background-color: #ececec !important">TS %</th>
                                                    <th style="width:140px; z-index: 3; background-color: #ececec !important">Topping Charge</th>
                                                    <th style="width:130px; z-index: 3; background-color: #ececec !important">Maximum Rate</th>
                                                    <th class="text-center" style="width:100px; z-index: 3; background-color: #ececec !important">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>2 </td>
                                                    <td>5</td>
                                                    <td>4.5</td>
                                                    <td>30%</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                    <td class="text-center">
                                                        <div class="btn-group-sm">
                                                            <a href="#" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                                            <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <dir-pagination-controls pagination-id="ShiftPagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination.tpl.html">
                                        </dir-pagination-controls>
                                    </div>
                                </div>

                                <div  id="shiftform">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control form-control-sm" ng-model="newDet.Name"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Order No</label>
                                                <input type="number" class="form-control form-control-sm"  ng-model="newDet.OrderNo"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control form-control-sm " ng-model="newDet.Status">
                                                    <option>Active</option>
                                                    <option>Deactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control form-control-sm" rows="1" ng-model="newDet.Description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <footer class="main-footer">
                                        <div class="text-right control-btns">
                                            <button type="button" class="btn btn-default" id="backshift">Back to List</button>
                                            <button type="button" class="btn btn-default" ng-click="Clearshift()">Cancel</button>
                                            <button type="button" class="btn btn-primary" ng-click="SaveUpdateshift()">Save</button>
                                        </div>

                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>