
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<script src="~/jslib/hr/Transaction/ManualAttendance.js"></script>
<div ng-app="myApp" ng-controller="ManualAttController" ng-init="LoadData()">
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Add Manual Attendance</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-2">
                    <div class="tab-content" id="custom-tabs-four-tabContent">

                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            <header class="row">
                                <div class="col-md-7">
                                    <div class="clearfix">
                                        <form class="form-inline">
                                            <div class="input-group input-group-sm mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cstm">Show</span>
                                                </div>
                                                <select class="form-control border-left-0 border-right-0 pr-0" ng-model="perPage.ManualAttendance">
                                                    <option ng-value="pp.value" ng-repeat="pp in perPageColl" ng-selected="pp.value==perPage.ManualAttendance">{{pp.text}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white"><small>entries</small></span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm table-search-filed">
                                                <input class="form-control form-control-navbar"
                                                       type="search" placeholder="Search" ng-model="searchData.ManualAttendance"
                                                       aria-label="Search">
                                                <div class="input-group-append">
                                                    <button class="btn btn-default border-left-0" type="submit">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-5 text-right">
                                    <div class="dropdown dnld-file"
                                         data-placement="top" title="Download File">
                                        <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-download"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">Choose an option:</span>
                                            <a class="dropdown-item wait" export-excel table-id="'#main-table'" sheet-name="'LeaveQuotaList'"><img src="~/wwwroot/dynamic-erp/images/flaticons/excel.png" class="img-fluid exports-icon" alt="Excel image"> Excel</a>
                                            <a class="dropdown-item wait" onClick="$('#main-table').tableExport({type:'csv',escape:'false'});"><img src="~/wwwroot/dynamic-erp/images/flaticons/csv.png" class="img-fluid exports-icon" alt="Excel image"> CSV</a>
                                        </div>

                                        <a print-tbl table-id="'#leaveQuota'" href="#" class="btn btn-secondary btn-light btn-sm" title="Print">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    </div>
                                </div>
                            </header>
                            <div>
                                <div class="">
                                    <table cellpadding="12" class="main-table table table-bordered table-striped table-hover table-sm" id="main-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 55px">SNo</th>
                                                <th style="width: 200px">Employee</th>
                                                <th style="width: 150px">Machine</th>
                                                <th style="width: 80px">Att. Mode</th>
                                                <th style="width: 80px">Attendance Date</th>
                                                <th style="width: 90px">In/Out Time</th>
                                                <th class="text-center" style="width: 60px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="cl in ManualAttendanceList | filter:searchData.ManualAttendance | itemsPerPage: perPage.ManualAttendance" current-page="currentPages.ManualAttendance" pagination-id="ManualAttendancePagination">
                                                <td>{{$index+1}}</td>
                                                <td>{{cl.UserFullName}}</td>
                                                <td>{{cl.Machine}}</td>
                                                <td>{{cl.AttMode}}</td>
                                                <td>{{cl.AttendanceMitti}}</td>
                                                <td>{{cl.InOutTime | timeFormat}} <label ng-if="cl.InOutTime && cl.OutTime"> - </label>{{cl.OutTime | timeFormat}} </td>
                                                <td class="project-actions" style="text-align:center">
                                                    <div class="btn-group-sm text-white">
                                                        <a class="btn btn-info" ng-click="GetManualAttendanceById(cl)"><i class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-danger" ng-click="DeleteManualAttendance(cl)"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table end -->
                            </div>
                            <footer class="row align-items-center">
                                <div class="col-md-12">
                                    <dir-pagination-controls pagination-id="ManualAttendancePagination" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                </div>
                            </footer>
                        </div>


                        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            <div class="">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Employee Name<span class="text-danger">*</span></label>
                                                <div class="input-group-prepend">
                                                    <select class="input-group-text dropdown-toggle p-0" style="outline: none; border-top-right-radius: unset; border-bottom-right-radius: unset; margin-right: -3px; z-index: 1;" ng-model="newManualAttendanceDet.SelectEmployee">
                                                        <option class="dropdown-item" ng-repeat="ss in EmployeeSearchOptions" ng-value="ss.value" ng-selected="ss.value==newManualAttendanceDet.SelectEmployee">{{ss.text}}</option>
                                                    </select>
                                                    <select class="form-control select2bs4 form-control-sm select2" all-employee ng-model="newManualAttendanceDet.UserId" employee-detail="newManualAttendanceDet.EmployeeDetails" side-bar-data="newManualAttendanceDet.EmpSideBarData" search-by="newManualAttendanceDet.EmployeeSearchBy" Confirm-action="getEmployeeById(newManualAttendanceDet)">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-8">
                                            <div class="form-group">
                                                <label for="EmployeeName"><b>Employee</b></label>
                                                <select class="form-control select2 form-control-sm" ng-model="newManualAttendanceDet.UserId">
                                                    <option value="0" disabled>**Select User**</option>
                                                    <option ng-repeat="user in UserList" ng-value="user.UserId" ng-selected="machine.UserId==newManualAttendanceDet.UserId">{{user.FirstName}}</option>
                                                </select>
                                            </div>
                                        </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Machine"><b>Machine</b></label>
                                                <select class="form-control form-control-sm select2" ng-model="newManualAttendanceDet.MachineId">
                                                    <option value="0" disabled>**Select Machine**</option>
                                                    <option ng-repeat="machine in MachineList" ng-value="machine.DeviceId" ng-selected="machine.DeviceId==newManualAttendanceDet.MachineId">{{machine.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <label class="form-label" for="ManualAttendanceDetails"><b>Manual Attendance Details</b></label>
                                    <div class="table-responsive">
                                        <div class="card table-scroll-x-y" style="height: auto !important; max-height: calc(100Vh - 18rem) !important; overflow: auto !important;">
                                            <table id="main-table" class="main-table table table-sm table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width:70px">S.No</th>
                                                        <th style="width:150px">AttendanceInOutMode</th>
                                                        <th style="width:150px">Date</th>
                                                        <th style="width:150px">In Time</th>
                                                        <th style="width:150px">Out Time</th>
                                                        <th style="width:150px">Remarks</th>
                                                        <th style="width:70px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in newManualAttendanceDet.ManualAttendanceDetailColl">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <select class="form-control form-control-sm select2" ng-model="row.InOutMode">
                                                                <option value="0" disabled>**Select AttendanceMode**</option>
                                                                <option ng-repeat="G in AttendanceModeList" ng-value="G.SNO" ng-selected="row.InOutModeId == G.SNO">{{ G.Name}}</option>
                                                               </select>
</td>
                                                        <td>
                                                            <input ng-model="row.AttendanceDate_TMP" date-picker date-detail="row.AttendanceDateDet" type="text" class="form-control form-control-sm" />
                                                        </td>
                                                        <td><input ng-model="row.InOutTime" type="time" class="form-control form-control-sm" ng-disabled="row.InOutMode == 2"/></td>
                                                        <td><input ng-model="row.OutTime" type="time" class="form-control form-control-sm"  ng-disabled="row.InOutMode == 1"/></td>
                                                        <td><input ng-model="row.Remarks" type="text" class="form-control form-control-sm" /></td>
                                                        <td>
                                                            <button ng-click="AddManualAttendanceDet($index)" class="btn btn-link p-0">
                                                                <i class="p-1 fas fa-plus text-secondary"></i>
                                                            </button>
                                                            <button ng-click="DeleteManualAttendanceDet($index)" class="btn btn-link p-0"><i class="p-1 fas fa-trash-alt text-danger"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </form>
                                <footer class="main-footer">
                                    <div class="text-right control-btns">
                                        <button type="button" class="btn btn-default load" style="min-width: 90px;" ng-click="ClearManualAttendance()">Reset</button>
                                        <button type="button" class="btn btn-primary load" style="min-width: 90px;" ng-click="SaveUpdateManualAttendance()">{{newManualAttendanceDet.Mode}}</button>
                                    </div>

                                </footer>

                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </div>


    </div>
</div>

