@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")
<style>
    #chart {
        height: 20em !important;
        width: 30em !important;
    }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .greennum {
        font-size: 24px;
        color: green;
    }

    .bluenum {
        font-size: 24px;
        color: blue;
    }

    .rednum {
        font-size: 24px;
        color: red;
    }
</style>



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex py-2">
                    <label class="mt-1">Branch</label>
                    <select class="form-contrl form-control-sm ml-2">
                        <option>Birgunj Branch</option>
                        <option>Kathmandu Branch</option>
                        <option>Myagdi Branch</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card p-2">
                    <label>
                        <b>Total Amount Receivable : </b><label class="greennum"><strong>21312312</strong></label>

                        <div class="row">
                            <div class="col-md-4">
                                <label><b> > 30 Days :</b></label>
                                <h5>345678</h5>
                            </div>
                            <div class="col-md-4">
                                <label><b> 30-90 Days :</b></label>
                                <h5>345678</h5>
                            </div>
                            <div class="col-md-4">
                                <label><b> < 90 Days :</b></label>
                                <h5>345678</h5>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card p-4">
                    <label>Total Payable Credit :</label>
                    <label class="rednum"><strong>45678</strong></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card p-4">
                    <label>Loan And Advance :</label>
                    <label class="bluenum"><strong>45678</strong></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card p-4">
                    <label>Bank Balance :</label>
                    <label class="greennum"><strong>45678</strong></label>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Monthwise Sales and Purchase</h3>

                        <div class="card-tools">
                            <select class="form-contrl form-control-sm">
                                <option>Kilogram</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- <div id="legend"></div> -->
                        <canvas id="myChart2" width="400" height="250"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Division Sales(Kg)</h3>

                        <div class="card-tools">
                            <select class="form-contrl form-control-sm">
                                <option>Kilogram</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="myChart" width="400" height="250"></canvas>


                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card p-2">
                    <div class="card-header">
                        <h3 class="card-title">Top 10 Customers(Kg)</h3>
                        <div class="card-tools">
                            <select class="form-contrl form-control-sm">
                                <option>Kilogram</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><b>1. Laxmi Narayan Hardware</b></p>
                        <p><b>2. Laxmi Narayan Hardware</b></p>
                        <p><b>3. Laxmi Narayan Hardware</b></p>
                        <p><b>4. Laxmi Narayan Hardware</b></p>
                        <p><b>5. Laxmi Narayan Hardware</b></p>
                        <p><b>6. Laxmi Narayan Hardware</b></p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div class="col-md-4">
                <div class="card p-2">
                    <div class="card-header">
                        <h3 class="card-title">Top 10 Vendor:(Value)</h3>
                        <div class="card-tools">
                            <select class="form-contrl form-control-sm">
                                <option>Kilogram</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><b>1. Laxmi Narayan Hardware</b></p>
                        <p><b>2. Laxmi Narayan Hardware</b></p>
                        <p><b>3. Laxmi Narayan Hardware</b></p>
                        <p><b>4. Laxmi Narayan Hardware</b></p>
                        <p><b>5. Laxmi Narayan Hardware</b></p>
                        <p><b>6. Laxmi Narayan Hardware</b></p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div class="col-md-4">
                <div class="card p-2">
                    <div class="card-header">
                        <h3 class="card-title">Top 10 Fast Moving Item(Qty)</h3>
                        <div class="card-tools">
                            <select class="form-contrl form-control-sm">
                                <option>Kilogram</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><b>1. Laxmi Narayan Hardware</b></p>
                        <p><b>2. Laxmi Narayan Hardware</b></p>
                        <p><b>3. Laxmi Narayan Hardware</b></p>
                        <p><b>4. Laxmi Narayan Hardware</b></p>
                        <p><b>5. Laxmi Narayan Hardware</b></p>
                        <p><b>6. Laxmi Narayan Hardware</b></p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div class="col-md-4">
                <div class="card p-2">
                    <div class="card-header">
                        <h3 class="card-title">Top 10 Closing Stocks(Qty)</h3>
                        <div class="card-tools">
                            <select class="form-contrl form-control-sm">
                                <option>Kilogram</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><b>1. Laxmi Narayan Hardware</b></p>
                        <p><b>2. Laxmi Narayan Hardware</b></p>
                        <p><b>3. Laxmi Narayan Hardware</b></p>
                        <p><b>4. Laxmi Narayan Hardware</b></p>
                        <p><b>5. Laxmi Narayan Hardware</b></p>
                        <p><b>6. Laxmi Narayan Hardware</b></p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">

                        <div class=" card-default text-center">
                            <div class="card-header">
                                <h3 class="card-title mb-2">Budget/Expenses: Advertisement</h3>


                            </div>
                            <input type="text" class="dial" />
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Monthwise Expenses</h3>
                                <div class="card-tools">
                                    <select class="form-contrl form-control-sm">
                                        <option>Kilogram</option>
                                        <option>1</option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="myChart1" width="400" height="100"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js" integrity="sha512-NhRZzPdzMOMf005Xmd4JonwPftz4Pe99mRVcFeRDcdCtfjv46zPIi/7ZKScbpHD/V0HB1Eb+ZWigMqw94VUVaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/jslib/main.js"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    })</script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["A-Shrawan", "B-Bhadra", "C-Ashwin", "D-Kartik", "E-Mangsir", "F-Poush", "G-Magh"],
            datasets: [{
                label: 'Sheet Division',
                data: [10, 19, 3, 5, 2, 3, 7],
                backgroundColor: [
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                ],
                borderColor: [
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                    '#31859c',
                ],
                borderWidth: 2
            },
            {
                label: 'Pipe Division',
                data: [15, 19, 3, 5, 2, 3, 5],
                backgroundColor: [
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                ],
                borderColor: [
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                    '#f79646',
                ],
                borderWidth: 2
            },
            {
                label: 'CRM Division',
                data: [4, 9, 6, 5, 4, 3, 7],
                backgroundColor: [
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                ],
                borderColor: [
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                    '#89a54e',
                ],
                borderWidth: 2
            },
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    stacked: true,
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    stacked: true,
                    ticks: {
                        beginAtZero: true
                    }
                }]

            }
        }
    });
</script>

<script>
    var canvas = document.getElementById('myChart1');
    var data = {
        labels: ["A-Shrawan", "B-Bhadra", "C-Ashwin", "D-Kartik", "E-Mangsir", "F-Poush", "G-Magh"],
        datasets: [
            {
                label: "My First dataset",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [65, 59, 80, 75, 56, 55, 50],
            }
        ]
    };

    function adddata() {
        myLineChart.data.datasets[0].data[7] = 60;
        myLineChart.data.labels[7] = "Newly Added";
        myLineChart.update();
    }

    var option = {
        showLines: true
    };
    var myLineChart = Chart.Line(canvas, {
        data: data,
        options: option
    });
</script>

<script>
    var ctx = document.getElementById('myChart2');
    var config = {
        type: 'bar',
        options: {
            legendCallback: function (chart) {
                var text = [];
                text.push('<ul class="' + chart.id + '-legend">');
                var data = chart.data;
                var datasets = data.datasets;
                if (datasets.length) {
                    for (var i = 0; i < datasets.length; ++i) {
                        text.push('<li>');
                        if (datasets[i].type == 'line') {
                            text.push('<span class="' + datasets[i].type + '" style="background-color:' + datasets[i].backgroundColor + '"></span>');
                        } else {
                            text.push('<span class="' + datasets[i].type + '" style="background-color:' + datasets[i].backgroundColor + '"></span>');
                        }
                        text.push(datasets[i].label);
                        text.push('</li>');
                    }
                }
                text.push('</ul>');
                return text.join('');
            },
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    type: "category",
                    id: "axis-bar",
                }, {
                    type: "time",
                    id: "axis-time",
                    display: false,
                },],
            },
        },
        data: {
            labels: ["A-Shrawan", "B-Bhadra", "C-Ashwin", "D-Kartik", "E-Mangsir", "F-Poush"],
            datasets: [{
                label: "my dataset 1",
                type: "line",
                backgroundColor: "#295432",
                borderColor: "#ce8e8d",
                borderWidth: 3,
                fill: false,
                xAxisID: "axis-time",
                data: [{ x: 1 * 3600, y: 2124 }, { x: 1.5 * 3600, y: 12124 }, { x: 2 * 3600, y: 1636 }, { x: 2.5 * 3600, y: 11636 }, { x: 3 * 3600, y: 1057 }, { x: 3.5 * 3600, y: 11057 }]
            }, {
                label: "my dataset 2",
                type: "bar",
                backgroundColor: "#aa4643",
                borderColor: "#aa4643",
                borderWidth: 3,
                fill: true,
                xAxisID: "axis-bar",
                data: [21242, 16360, 10577, 94337, 45312, 35581, 53]
            }]
        },

    };

    var myChart = new Chart(ctx, config);
    var legend = myChart.generateLegend();
    document.getElementById("legend").innerHTML = legend;

</script>

<script>
    $(document).ready(function () {
        var color = '#01BAEF'

        $('.dial').knob({
            min: 0.0,
            max: 100.0,
            step: 0.1, // add this
            width: "100%",
            height: "100%",
            displayInput: true,
            fgColor: color,
            readOnly: true,
            draw: function () {
                $(this.i).val(this.cv.toFixed(1) + '% Completed').css({
                    'font-size': '11px',
                    'color': 'black'
                });
            }
        });

        // for testing
        let value = 63;
        $('.dial').val(value).trigger('change');
    });
</script>