
@{

    ViewBag.Title = "";
    Layout = null;
}
@RenderPage("~/Views/Global/_GlobalLayout.cshtml")﻿
<script src="~/jslib/inventory/creation/UploadProductPhoto.js"></script>
<div class="hold-transition  layout-navbar-fixed" ng-app="myApp" ng-controller="UploadPhotoController" ng-init="LoadData()">   
    <div class="container-fluid">
        <div class="card card-primary card-outline card-outline-tabs" style="margin-top:-17px">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> upload product photo</a>
                    </li>
                  
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                        <div id="student-photo-section ">
                            <div class="py-2">
                                <div class="row">
                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                        <label>Photo Uploaded By</label>
                                        <select class="form-control form-control-sm" ng-model="newProductPhoto.PhotoUploadedBy" ng-change="ChangeUploadBy()">
                                            <option ng-value="u.id" ng-repeat="u in UploadStudentPhotoOptions">{{u.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 col-lg-4 col-md-4">
                                        <label>Select Photo</label>
                                        <input type="file" multiple class="form-control form-control-sm" style="padding: 1px;" file-model ng-model="newProductPhoto.Files_TMP" after-selected="UploadProductPhotoToSrv()">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>
</div>